<template>
<div>
<sgsLayout></sgsLayout>
   <el-button @click="addEquipment">新增设备</el-button>
   <el-button @click="lookEquipment">查看设备详情</el-button>
   <el-button @click="cancelOrder">取消订单</el-button>
   <el-button @click="showColumn(true)">显示隐藏列</el-button>
   <el-button @click="showColumn(false)">隐藏列</el-button>
   <el-table
     :data="tableData"
     border
     style="width: 100%">
     <el-table-column prop="date" label="日期" :min-width="min_width" :render-header="render_header" :header-align="header_align" :isSearch=true> </el-table-column>
     <el-table-column prop="name" label="姓名" :min-width="min_width" :render-header="render_header" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" :min-width="min_width" :render-header="render_header" :header-align="header_align"> </el-table-column>
     <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   <el-table-column prop="address" label="地址" v-if="column_isshow" :min-width="min_width" :header-align="header_align"> </el-table-column>
   
   </el-table>

<el-footer>
 <el-button class="lingcun_btn">设备另存为</el-button>
 <el-button class="save_btn">保存</el-button>

</el-footer>
</div>
</template>

<script>
import sgsLayout from '../sgsLayout/sgsLayout'
var HttpServer = require('../../components/http.js');
var core = require('../../components/commonFunc.js'); 
var axios = require('axios');
export default {
  data() {
    return {
      column_isshow:false,
      header_align:"center",
      min_width:500,
      display_str:'none',
      step:1,
       fileList: [],
       isshow:true,
       columnMinWidth:"300",
       tableData: [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄'
          }, {
            date: '2016-05-04',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1517 弄'
          }]
    } 
  },
  created:function(){
   // this.initUpload("");
  },
  components: {
    'sgsLayout':sgsLayout
  },
  methods : {
    showColumn(val){
      this.column_isshow=val;
      },
      render_header(createElement, { column }) {
      var self = this;
      var search_input = createElement('el-input',{
      style:{display:self.display_str}
      },[]);
      var search_br = createElement('br',[],{});
      var search_label = createElement('p',{
      'class':{'el-icon-search':true},
      on:{
        click:function(){
          debugger
          if(self.display_str){
            self.display_str="";
          }else{
            self.display_str="none";
          }
          
        }
      },
      props:[]
      },[column.label]);
      
        var search_div = createElement('div', {
      props: {
        isSearch: {
          type: Boolean,
          required: true
        }
        }},[search_label,search_br,search_input]);
          return search_div;
        },
    changeStep () {
      	this.step = this.step ? 0 : 1
      },
    addEquipment(){
      window.location.href = "equDetail.html?isNew=true";
    },
    lookEquipment(){
      window.location.href = "equDetail.html?id=4563d5a3-cc33-4df3-b361-d3844d403b3e&isNew=false";
    },
    cancelOrder(){
      axios({
          method: 'POST',
          url:  process.env.ecalibrationUrl+"/order/api/v2/cancelOrder",
          data: {
            orderId:'',
          }, 
          dataType: "json",
          headers:{
            'Content-Type' : 'application/json'
          },
          params: {
            sgsToken: core.getCookie('sgsToken')
          },
        }).then(function(response) { 
          debugger
            if(response.isSuccess){
              this.$notify.info({ title: '成功', message: ' : ' + response.detail });
            }else{
              this.$notify.error({ title: '错误', message: ' : ' + response.errorMessage });
            }
        }) .catch(function(error) {  
          if(error && error.message) { 
            this.$notify.error({ title: '错误', message: ' : ' + error.message });
          } 
        });
    }
  }
}
</script>

<style scope>
 .searchInput {
  margin-left: 10px;
 }
 .hidderSearchInput {
  display: none;
 }
 .hidderSearchInput {
  display: "";
 }

</style>