<template>
  <div class="main_nav" id="azm_nav">
    <!-- 公共导航 -->
    <el-container direction="horizontal" class="azm-sgsLayout-main">
      <el-main class="azm-main azm-sgsLayout-main_left">
        <el-menu :default-active="activeIndex_text"
                 class="el-menu-demo w_header"
                 mode="horizontal"
                 @select="handleSelect"
                 text-color="#ccc"
                 background-color="transparent"
                 active-text-color="#fff"
                 height="90px">
          <el-menu-item index="0">
            <img src="static/images/logo.png" class="comp_logo">
          </el-menu-item>
          <el-menu-item index="1">首页</el-menu-item>
          <el-menu-item index="2">我的设备</el-menu-item>
          <el-menu-item index="3">我的订单</el-menu-item>
          <el-menu-item index="4">我的报告</el-menu-item>
          <el-menu-item index="5">我的日历</el-menu-item>
        </el-menu>
      </el-main>
      <el-main class="azm-main azm-sgsLayout-main_right">
        <el-row type="flex" class="row-bg" justify="end" :gutter="10">
          <el-col :span="14" class="azm-text-right">
            <el-dropdown v-if="isShowCustomer" trigger="click" split-button type="primary" @click="userClick"
                         placement="bottom-start"
                         @command="handleSelectCustomer" @visible-change="getCustomerInfo">
              {{defaultCustName}}
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-for="(item,index) in defaultCustmoerData" :command="item"
                                  v-if="defaultCustmoerDataArr[item.customerId] === index" :key="index">
                  {{item.nameEn}}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <el-button v-else @click="userClick" class="azm-btn-white azm-text_ellipsis"
                       style="height: 41px;width: 160px">
              {{defaultCustName}}
            </el-button>
          </el-col>
          <el-col :span="3">
            <el-badge :is-dot="sumcount!=0" class="item azm-badge_box">
              <el-button class="share-button" icon="el-icon-bell" type="primary" @click="handleSelect('1')"></el-button>
            </el-badge>
          </el-col>
          <el-col :span="7" class="azm-text-left">
            <el-dropdown placement="bottom-start" style="width: 100%;"
                         @command="handleSelect">
              <el-row style="color: #fff;font-size: 20px;">
                <el-col :span="20" class="azm-text_ellipsis azm-text-right" style="color: #ff822f">
                  {{username}}
                </el-col>
                <el-col :span="4">
                  <i class="el-icon-caret-bottom el-icon--right"></i>
                </el-col>
              </el-row>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="7-1">修改密码</el-dropdown-item>
                <el-dropdown-item command="7-2">退出账号</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>
<style lang="less">
  #azm_nav {
    .w_header .el-submenu .nav_username {
      font-family: SourceHanSansCN-Regular;
      font-size: 20px;
      color: #FF822F;
    }

    .w_header .el-submenu {
      float: right;
    }
    .azm-btn-white {
      background-color: #fff;
    }
    .el-menu--horizontal .el-submenu .el-menu-item {
      padding: 0;
      height: 60px;
      text-align: center;
      line-height: 60px;
    }

    .w_header .nav_right .el-menu-item:last-child {
      float: none;
    }

    .w_header .el-button:hover {
      border: 1px solid #fff;
    }
    &.main_nav {
      .azm-sgsLayout-main {
        background-color: #666;
        min-width: 1130px;
      }
      .el-menu--horizontal {
        border-bottom: none;
      }
      .el-dropdown .el-button {
        background-color: #fff;
        color: #666;
        border-color: #fff;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          color: #ff822f;
        }
        &:nth-child(1) {
          min-width: 100px;
        }
      }
      .azm-badge_box {
        .el-button.el-button--primary {
          background-color: transparent;
          border-color: transparent;
          color: #ccc;
          font-size: 20px;
          padding: 0;
          height: 41px;
        }
      }
      .azm-sgsLayout-main_right {
        max-width: 400px;
        text-align: right;
        padding-right: 20px;
        padding-top: 30px;
        .el-col {
          line-height: 41px;
          text-align: center;
        }
      }
    }
  }
</style>
<script>

  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  var axios = require('axios');
  var Base64 = require('../../components/base64.js');
  export default {
    components: {},
    props: {
      isShowCustomer: {
        type: Boolean,
        default: true,
      },
      activeIndex: {
        type: Number,
        default: 1
      }
    },
    data () {
      return {
        activeIndex_text: '1',
        defaultCustId: core.getCookie('defaultCustId'),
        defaultCustName: core.getCookie('defaultCustName'),
        defaultCustmoerData: eval(core.getCookie('defaultCustmoerData')),
        username: core.getCookie('username'),
        defaultCustmoerDataArr: {},
        sumcount:0,
      }
    },
    mounted: function () {

    },
    created: function () {
      this.findCookie();
      if (Base64.decode(core.getCookie('password')) == '123456') {
        if (core.getCookie('isTips') == -1) {
          this.$confirm('当前登录密码为默认密码,是否修改为自定义密码?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            window.location.href = "editPassword.html";
            core.setCookie("isTips", 1, 'h12');//修改密码
          }).catch(() => {
            core.setCookie("isTips", 0, 'h12');//取消修改密码
          });
        }
      }
      this.activeIndex_text = this.activeIndex + ''
      this.getDashboardSum();
    },
    methods: {
      getDashboardSum(){
        var _this = this;
        var url = process.env.ecalibrationUrl + "/dashboard/api/v1/getDashboardSum";
        var conf = {
          'isCallback': true
        }
        var data = {
          customerid: core.getCookie('defaultCustId')
        };
        HttpServer.post(this, url, data, (response)=>{
          _this.sumcount =response.detail;
        }, conf);
      },
      handleSelectCustomer (ev) {
        this.defaultCustId = ev.customerId;
        this.defaultCustName = ev.nameEn;
        core.setCookie('defaultCustId', ev.customerId, 'h12');
        core.setCookie('defaultCustName', ev.nameEn, 'h12');
        core.setCookie('makeorderids', '', '30d');
        window.location.reload();
      },
      getCustomerInfo (bol) {
        var _this = this;
        if (bol) {
          const loading = this.$loading({
            lock: true,
            text: 'Loading',
            spinner: 'el-icon-loading',
            background: 'rgba(0, 0, 0, 0.7)'
          });
          var url = process.env.CustomerApiUrl + "preOrderCustomer/queryByCompanyToken";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.get(this, url, {sgsToken: core.getCookie('sgsToken')}, (data) => {
            loading.close();
            if (data.rows.length > 0) {//如果有关联的客户信息则获取
              if (!_this.defaultCustId) {//如果cookie中为空，则加载
                var defaultCustId = data.rows[0].customerId;
                var defaultCustName = data.rows[0].nameEn;
                core.setCookie("defaultCustId", defaultCustId, 'h12');
                core.setCookie("defaultCustName", defaultCustName, 'h12');
              }
              for (let i = 0; data.rows.length > i; i++) {
                let k = data.rows[i]
                if (_this.defaultCustmoerDataArr[k.customerId] === undefined) {
                  _this.defaultCustmoerDataArr[k.customerId] = i
                }
              }
              _this.defaultCustmoerData = data.rows;
              _this.defaultCustId = core.getCookie('defaultCustId');
              _this.defaultCustName = core.getCookie('defaultCustName');
            }
          }, conf);
        }
      },
      handleSelect (key, keyPath) {
        console.info(key);
        if (key == '2') {
          window.location.href = "equipmentList.html";
        } else if (key == '7-2') {//退出账号
          this.loginOut();
        } else if (key == '7-1') {
          window.location.href = "editPassword.html";
        } else if (key == '3') {
          window.location.href = "orderDetail.html";
        } else if (key == '1') {
          window.location.href = "dashboard.html";
        } else if (key == '4') {
          window.location.href = "myReport.html";
        } else if (key == '5') {
          window.location.href = "calendar.html";
        }
      },
      userClick () {
        window.location.href = "userCenter.html?customerid=" + core.getCookie('defaultCustId');
      },
      getIsExists () {
        let self = this;
        var isExists = false;
        axios({
          method: 'POST',
          url: process.env.ecalibrationUrl + "openapi/login/api/v1/getIsExists",
          data: {},
          dataType: "json",
          headers: {
            'Content-Type': 'application/json'
          },
          params: {
            sgsToken: core.getCookie('sgsToken')
          },
        }).then(function (response) {
          isExists = response.data.detail;
          if (isExists == 'false') {
            window.location.href = "login.html";
          }

        }).catch(function (error) {
          if (error && error.message) {
            this.$notify.error({title: '错误', message: ' : ' + error.message});
          }
        });
        return isExists;
      },
      findCookie (callback) {
        //从cookie获取信息
        let sgsToken = core.getCookie('sgsToken');
        //cookie 不存在，跳转到登录页面
        if (sgsToken == null) {
          window.location.href = "login.html";//this.login('Seleness_liu','Sgs12345.')
        }
        this.getIsExists();//判断是否超时
      },
      loginOut () {
        let self = this;
        axios({
          method: 'get',
          url: process.env.UserManagementApiUrl + "login/externalLoginOut/" + core.getCookie('sgsToken'),
          data: {},
          dataType: "json"
        }).then(function (response) {
          core.setCookie("sgsToken", "", 'h12');
          core.setCookie("defaultCustId", "", 'h12');
          core.setCookie("defaultCustName", "", 'h12');
          core.setCookie("defaultCustmoerData", "", 'h12');
          core.setCookie("username", "", 'h12');
          core.setCookie("password", "", 'h12');
          core.setCookie("isTips", -1, 'h12');
          core.setCookie("makeorderids", "", 'h12');
          window.location.href = "login.html";
        }).catch(function (error) {
          if (error && error.message) {
            self.$notify.error({title: '错误', message: ' : ' + error.message});
          }
        });
      }
    }
  }
</script>
