<template>
  <div id="dashboard">
    <sgsLayout :active-index="1"></sgsLayout>
    <el-main class="main_content content_container">
      <!-- 导航 -->
      <el-tabs v-model="activeName" @tab-click="handleClick" class="dashboard_tab">
        <el-tab-pane name="first" class="dashboard_cqyj azm-fixed_width">
          <span slot="label">
            <span class="top_right_tips">{{total1}}</span> 超期预警</span>
          <!-- 中间的表格 -->
          <el-table :data="exceedTableData" border stripe fit ref="multipleTable" tooltip-effect="dark"
                    style="width: 100%"  @selection-change="handleSelectionChange1" @sort-change="exceedSortChange">
            <el-table-column type="selection" width="50">
            </el-table-column>
            <el-table-column prop="equipmentexpiredate" label="送校到期时间" min-width="208" sortable="custom">
              <template slot-scope="scope">
                <el-popover :open-delay="1000" trigger="hover" placement="top">
                  <p>提前{{ scope.row.reminddays }}天预警</p>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays>0">
                    {{ scope.row.equipmentexpiredate }} (剩余 {{ scope.row.expireddays }} 天)
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays<0">
                    {{ scope.row.equipmentexpiredate }} (超期 {{0- scope.row.expireddays }} 天)
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays==0">
                    {{ scope.row.equipmentexpiredate }} (今天即将逾期)
                  </div>
                </el-popover>
              </template>
            </el-table-column>
            <el-table-column prop="equipmentnamecn" label="设备名称" min-width="250">
            </el-table-column>
            <el-table-column prop="assetno" label="管理编号" min-width="120">
              <template slot-scope="scope">
                <a type="text" @click="toEquipDetail(scope.row.id);" class="azm-route_serial_number">
                  {{scope.row.assetno}}
                </a>
              </template>
            </el-table-column>
            <el-table-column prop="assetno" label="机身编号" min-width="120">
              <template slot-scope="scope">
                <a type="text" @click="toEquipDetail(scope.row.id);" class="azm-route_serial_number">
                  {{scope.row.equipmentserialno}}
                </a>
              </template>
            </el-table-column>
            <el-table-column label="操作" min-width="208">
              <template slot-scope="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">立即送校</el-button>
              </template>
            </el-table-column>

          </el-table>
          <div class="table_footer">
            <el-col :span="11" style="padding-left: 10px">
              <Button type="primary" class="sa-primary azm-submit" @click="madeOrder"
                      :disabled="selectRows1.length==0">
                立即送交
              </Button>
              <a class="azm-route_serial_number" style="padding-left: 10px" @click="updatExpireDate">调整提醒周期</a>
            </el-col>
            <el-col :span="13">
              <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1"
                             :current-page="currentPage1" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize1"
                             layout=" prev, pager, jumper" :total="total1">
              </el-pagination>
            </el-col>
          </div>
        </el-tab-pane>
        <el-tab-pane label="未完成订单" name="second" class="azm-fixed_width">
          <span slot="label">
            <span class="top_right_tips">{{totalorder2}}</span> 未完成订单</span>

          <!-- 中间的表格 -->
          <!-- 精简的搜索框 -->
          <el-row>
            <el-col :span="10">
              <el-input v-model="keysearchorder" placeholder="请输入设备名称/管理编号/机身编号/订单编号查询" class="search_name_or_num"></el-input>
            </el-col>
            <el-col :span="3" class="search_btn_col3">
              <el-button class="sgs_active_btn search_btn" style="float: right" @click="initUnOrder">查询</el-button>
            </el-col>
            <el-col :span="9" class="moresearch">
              <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
                <i class="el-icon-d-arrow-left azm-icon"
                   :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
              </div>
            </el-col>
          </el-row>
          <!-- 精简的搜索框 END-->
          <div class="fz_serch_input">
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">订单日期</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker v-model="orderDate" type="daterange" :editable="false" range-separator="至"
                                  start-placeholder="开始日期" end-placeholder="结束日期">
                  </el-date-picker>
                </el-col>
              </el-col>

            </el-row>

          </div>
          <el-table :data="tableDataorder" border stripe fit ref="multipleTableorder" tooltip-effect="dark"
                    style="width: 100%" @selection-change="handleSelectionChangeorder" class="unorder_table">
            <el-table-column prop="createdate" label="订单日期">
            </el-table-column>
            <el-table-column prop="orderno" label="订单编号">
              <template slot-scope="scope">
                <a @click="goOrderDetail(scope.row.orderstatus,scope.row.id,scope.row.orderno)" type="text" size="small"
                   class="azm-route_serial_number">{{scope.row.orderno}}
                </a>
              </template>
            </el-table-column>
            <el-table-column prop="equipments" label="包含设备">
            </el-table-column>
            <el-table-column prop="equipmentcount" label="设备数量">
            </el-table-column>
            <el-table-column label="订单状态">
              <template slot-scope="scope">
                <!--1. 待提交状态的时候显示一个按钮 -->
                <!-- <el-button
                  size="mini"
                  @click="handleEdit(scope.$index, scope.row)">待提交
                </el-button> -->
                <!-- 2. 待确认状态显示待确认三个字-->
                <!-- <span>待确认</span> -->
                <!-- 3.作业中显示作业中和上门时间 -->
                <!-- <span class="zyz_text">作业中</br>
                上门时间：2018-01-02</span> -->
                <!--4.排期中认状态显示待确认三个字  -->
                <el-button size="mini" v-if="scope.row.orderstatus==1" @click="goOrder(scope.row.id)">待提交</el-button>
                <div class="azm-el-tb">
                  <p class="sm-mt17" v-if="scope.row.orderstatus==2">待sgs确认</p>
                  <p class="sm-mt17" v-if="scope.row.orderstatus==3">排期中</p>

                  <p class="sm-mt17" v-if="scope.row.orderstatus==4">作业中</p>
                  <p class="sm-mt17" v-if="scope.row.orderstatus==4">上门时间：{{scope.row.earlydate}}</p>
                </div>
              </template>
            </el-table-column>

          </el-table>
          <div class="table_footer">

            <el-col :span="5" :offset="6"></el-col>
            <el-col :span="13">
              <el-pagination @size-change="handleSizeChangeorder" @current-change="handleCurrentChangeorder"
                             :current-page="currentPageorder" :page-sizes="[10, 20, 50, 100]" :page-size="sizeorder"
                             layout=" prev, pager, jumper" :total="totalorder">
              </el-pagination>
            </el-col>

          </div>
        </el-tab-pane>
        <el-tab-pane label="未读报告" name="third" class="azm-fixed_width">
          <span slot="label">
            <span class="top_right_tips">{{untotal1}}</span> 未读报告</span>
          <!-- 精简的搜索框  lily-->
          <el-row>
            <el-col :span="10">
              <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号/机身编号/报告编号/订单编号查询"
                        class="search_name_or_num"></el-input>
            </el-col>
            <el-col :span="3" class="search_btn_col3">
              <el-button class="sgs_active_btn search_btn" style="float: right" @click="initUnReport">查询</el-button>
            </el-col>
            <el-col :span="9" class="moresearch">
              <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
                <i class="el-icon-d-arrow-left azm-icon"
                   :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
              </div>
            </el-col>
          </el-row>
          <!-- 精简的搜索框 END-->
          <div class="fz_serch_input">
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">生成日期</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker :editable="false" v-model="reportCreateDate" type="daterange" range-separator="至"
                                  start-placeholder="开始日期" end-placeholder="结束日期"
                                  :default-time="['00:00:00', '23:59:59']">
                  </el-date-picker>
                </el-col>
              </el-col>
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">报告类型</span>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="reporttype" >
                    <el-option
                      v-for="item in reporttypeArray"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-col>
              </el-col>

            </el-row>

          </div>
          <!-- 中间的表格 -->
          <el-table :data="unreportListData" border stripe fit ref="multipleTable" tooltip-effect="dark"
                    style="width: 100%" @selection-change="unhandleSelectionChange"  @sort-change="unReporSortChange">
            <el-table-column type="selection" width="50px"></el-table-column>
            <el-table-column prop="createdDate" label="报告日期" sortable="custom" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="equipmentNameCN" label="设备名称"></el-table-column>
            <el-table-column prop="reportNo" label="报告编号">
              <template slot-scope="scope">
                <img src="../../../static/images/report_unread.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==0">
                <!-- <img src="../../../static/images/report_read.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==1"> -->
                <a @click="openReportDialog(scope.row)" class="azm-route_serial_number">{{scope.row.reportNo}}</a>
                <el-tooltip v-if="scope.row.reporttype==1">
                  <div slot="content">
                    <p>勘误报告</p>
                  </div>
                  <i class="el-icon-warning" style="color: #ff822f"></i>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column prop="orderNo" label="订单编号">
              <template slot-scope="scope">
                <a @click="goOrderDetail(scope.row.ecOrderStatus,scope.row.orderid,scope.row.orderNo)"
                   class="azm-route_serial_number">
                  {{scope.row.orderNo}}
                </a>
              </template>
            </el-table-column>
            <!--<el-table-column prop="reportResults" label="报告结论">-->
            <!--<template slot-scope="scope">-->
            <!--<span v-if="scope.row.reportResults==1">通过</span>-->
            <!--<span v-if="scope.row.reportResults==2" >不通过</span>-->
            <!--</template>-->
            <!--</el-table-column>-->
            <el-table-column label="操作">
              <template slot-scope="scope">
                <a @click="downloadReport(scope.row)" class="azm-route_serial_number">下载报告</a>
              </template>
            </el-table-column>
          </el-table>
          <div class="table_footer">
            <el-col :span="6" style="padding-left: 10px">
              <Button type="primary" class="sa-primary azm-submit" :disabled="unmultipleSelection.length==0"
                      @click="beachDownload(unmultipleSelection)">批量下载
              </Button>
              <span class="sgs_active_text" @click="markReadReport(unmultipleSelection,1)">标为已读</span>
              <span class="sgs_active_text" @click="markReadReport(unmultipleSelection,0)">标为未读</span>
            </el-col>
            <el-col :span="18">
              <el-pagination @size-change="unhandleSizeChange" @current-change="unhandleCurrentChange"
                             :current-page="uncurrentPage" :page-sizes="[100, 200, 300, 400]" :page-size="unsize"
                             layout="prev, pager, next, jumper" :total="untotal">
              </el-pagination>
            </el-col>
          </div>
        </el-tab-pane>
        <el-tab-pane label="未完成设备" name="fourth" class="azm-fixed_width">
          <span slot="label">
            <span class="top_right_tips">{{unfinishedEquipmentTotal1}}</span> 未完成设备
          </span>
          <!-- 精简的搜索框 -->
          <el-row>
            <el-col :span="10">
              <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号/机身编号/订单编号查询"
                        class="search_name_or_num"></el-input>
            </el-col>
            <el-col :span="3" class="search_btn_col3">
              <el-button class="sgs_active_btn search_btn" style="float: right" @click="initUnfinishedEquipment">查询
              </el-button>
            </el-col>
            <el-col :span="9" class="moresearch">
              <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
                <i class="el-icon-d-arrow-left azm-icon"
                   :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
              </div>
            </el-col>
          </el-row>
          <!-- 精简的搜索框 END-->
          <div class="fz_serch_input">
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">到期日期</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker :editable="false" v-model="expireDate" type="daterange" range-separator="至"
                                  start-placeholder="开始日期"
                                  end-placeholder="结束日期">
                  </el-date-picker>
                </el-col>
              </el-col>

            </el-row>
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">订单日期</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker :editable="false" v-model="orderCreateDate" type="daterange" range-separator="至"
                                  start-placeholder="开始日期"
                                  end-placeholder="结束日期">
                  </el-date-picker>
                </el-col>
              </el-col>

            </el-row>
          </div>
          <!-- 中间的表格 -->
          <el-table :data="unfinishedEquipmentListData" border stripe fittooltip-effect="dark"
                    style="width: 100%" class="unfinish_table" @sort-change="unfinishedEquipmentSortChange">
            <el-table-column prop="expireDate" label="到期日期" sortable="custom" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="equipmentName" label="设备名称 "></el-table-column>
            <el-table-column prop="assetNo" label="管理编号 ">
              <template slot-scope="scope">
                <a @click="goEquipmentDeatail(scope.row.equipmentId)"
                   class="azm-route_serial_number">{{scope.row.assetNo}}</a>
              </template>
            </el-table-column>
            <el-table-column prop="" label="机身编号 ">
              <template slot-scope="scope">
                <a @click="goEquipmentDeatail(scope.row.equipmentId)"
                   class="azm-route_serial_number">{{scope.row.equipmentserialno}}</a>
              </template>
            </el-table-column>
            <el-table-column label="订单编号 ">

              <template slot-scope="scope " class="order_cell ">
                <div class="azm-el-tb">
                  <p>
                    <a @click="goOrderDetail(scope.row.orderStatus,scope.row.orderId,scope.row.orderNo)"
                       class="azm-route_serial_number">{{scope.row.orderNo}}</a>
                  </p>
                  <p v-if="scope.row.orderStatus==1">待提交</p>
                  <p v-if="scope.row.orderStatus==2">待确认</p>
                  <p v-if="scope.row.orderStatus==3">排期中</p>
                  <p v-if="scope.row.orderStatus==4">作业中</p>
                  <p v-if="scope.row.orderStatus==5">已完成</p>
                  <p v-if="scope.row.orderStatus==6">已取消</p>
                  <p>上门时间：{{scope.row.schedulingDate}}</p>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="orderCreateDate" label="订单日期" width="208px"
                             :formatter="dateFormat"></el-table-column>
          </el-table>
          <div class="table_footer">
            <el-col :span="6"></el-col>
            <el-col :span="5"></el-col>
            <el-col :span="13">
              <el-pagination @size-change="unfinishedEqu_handleSizeChange"
                             @current-change="unfinishedEqu_handleCurrentChange"
                             :current-page="unfinishedEquipmentCurrentPage"
                             :page-sizes="[100, 200, 300, 400]" :page-size="unfinishedEquipmentSize"
                             layout=" prev, pager, jumper" :total="unfinishedEquipmentTotal">
              </el-pagination>
            </el-col>
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-main>

    <!-- 调整提醒周期对话框 -->
    <el-dialog title="提醒周期" :visible.sync="outerVisible" width="600px" center class="outerDialog">
      <h3 class="dialog_tips azm-text-center">设置所选{{selectRows1.length}}台设备的提醒周期为：</h3>
      <p class="tiqian_input azm-text-center" style="margin-top: 31px">
        提前
        <el-input type="number" min="0" v-model="exceedMindDay" class="azm-input_day"
                  @blur="exceedMindDayChange()"></el-input>
        天
      </p>
      <p class="dialog_tips_small azm-text-center" style="margin-top: 31px">为了防止您的设备逾期，建议设置不少于40天</p>
      <div slot="footer" class="dialog-footer">
        <Button type="primary" class="sa-primary azm-submit" @click="doUpdateExpireDate">修改</Button>
      </div>
    </el-dialog>
    <!--调整提醒周期成功弹窗-->
    <el-dialog title="" :visible.sync="editzhouqiDialogVisible" width="600px" center>
      <p slot="title" class="azm-text-center" style="margin-top: 50px">
        <img src="../../assets/success.png" alt="" style="width: 80px;height: 80px">
      </p>
      <h3 class="azm-text-center">
        已成功设置{{selectRows1.length}}台设备的提醒周期为{{exceedMindDay}}天！
      </h3>
      <p class="azm-text-center" style="margin-top: 20px">
        <i style="color: #ff822f">{{countdownNum}}</i>s 后关闭页面
      </p>
      <p slot="footer" class="dialog-footer">
        <Button type="primary" class="sa-primary azm-submit" @click="editzhouqiDialogVisible = false">确 定
        </Button>
      </p>
    </el-dialog>

    <!-- 报告详情弹窗 -->
    <ReportDialog :showReportDialog="showReportDialog" :reportDialogParams="reportDialogParams"
                  @dialogCloseEvent="showReportDialog = false"></ReportDialog>
  </div>
</template>
<script>
  import sgsLayout from '../sgsLayout/sgsLayout'
  import Button from "iview/src/components/button/button";
  import ReportDialog from "../reportDialog/reportDialog";

  var ecUtil = require('../../components/util.js');
  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  export default {
    components: {
      Button,
      sgsLayout: sgsLayout,
      ReportDialog
    },
    name: 'app',
    data () {
      return {
        isTapScreening: false,
        countdownNum: 3,
        editzhouqiDialogVisible: false,
        tableData: [],
        activeName: 'first',
        currentPage2: 1,
        currentPage4: 4,

        pageSize2: 10,

        pageSize4: 10,
        activeIndex: '1',

        date1: [],
        date2: [],
        date3: [],
        date4: [],

        //超期预警
        currentPage1: 1,
        pageSize1: 10,
        exceedTableData: [],
        total1: 0,
        selectRows1: [],
        exceedMindDay: 1,
        outerVisible: false,

        //未读报告
        untotal: 0,//未读报告总条目
        untotal1: 0,
        uncurrentPage: 1,
        unsize: 10,
        unreportListData: [],
        unmultipleSelection: [],//批量多选下载未读报告
        keysearch: '',
        reportCreateDate: [],
        reporttype:'all',
        reporttypeArray:[
          {
            value: 'all',
            label: '全部'
          }, {
            value: '0',
            label: '正常报告'
          }, {
            value: '1',
            label: '勘误报告'
          }
        ],
        //报告详情弹出框
        showReportDialog: false,
        reportDialogParams: {},

        //未完成设备
        expireDate: [],
        orderCreateDate: [],
        unfinishedEquipmentTotal: 0,
        unfinishedEquipmentTotal1: 0,
        unfinishedEquipmentCurrentPage: 1,
        unfinishedEquipmentSize: 10,
        unfinishedEquipmentListData: [],

        //未完成订单
        totalorder: 0,
        currentPageorder: 1,
        sizeorder: 10,
        tableDataorder: [],
        multipleTableorder: [],
        keysearchorder: '',
        orderDate: '',
        totalorder2: 0,
        //排序
        orderDirection: "DESC",
        orderBy: '',
      };
    },
    mounted: function () {
    },
    watch: {
      editzhouqiDialogVisible (curVal, oldVal) {
        var _this = this
        if (curVal != oldVal && curVal === true) {
          _this.countdownNum = 3
          core.countdown(3, (time) => {
            if (time > 0) {
              _this.countdownNum = time
            } else {
              _this.editzhouqiDialogVisible = false
            }
          });
        } else {
          _this.initExceedTableData();
        }
      }
    },
    created: function () {
      //init data
      this.initUnReport();
      this.initUnfinishedEquipment();
      this.initExceedTableData();
      this.initUnOrder();
    },

    methods: {
      toEquipDetail (id) {
        ecUtil.toEquipDetail(id)
      },
      exceedMindDayChange () {
        if (!this.exceedMindDay || this.exceedMindDay < 0) {
          this.exceedMindDay = 1;
        }
        this.exceedMindDay = parseInt(this.exceedMindDay);
      },
      // 筛选下拉切换
      tapScreening () {
        $(".fz_serch_input").slideToggle(500)
        this.isTapScreening = !this.isTapScreening
      },
      doUpdateExpireDate: function () {
        var $this = this;
        var ids = "";
        var xpiredates = "";
        var rowsdate = this.selectRows1;
        var mindDay = $this.exceedMindDay;
        $this.outerVisible = false;
        for (var i = 0; i < rowsdate.length; i++) {
          ids = ids + rowsdate[i].id + ",";
          //计算日期
          var xprredate = rowsdate[i].equipmentexpiredate;
          var dat = core.dateAddDate(new Date(xprredate), -mindDay);
          dat = core.formatDate(dat, "yyyy-MM-dd hh:mm:ss");
          xpiredates += dat + ",";

        }
        console.log(ids);
        console.log(xpiredates);

        var url = process.env.ecalibrationUrl + "equipment/api/v1/updateEquipment";

        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {
          ids: ids.substr(0, ids.length - 1),
          xpiredates: xpiredates.substr(0, xpiredates.length - 1),
          mindDay: mindDay
        }, function (data) {
          console.log(data);
          $this.editzhouqiDialogVisible = true;
        }, conf);
      },

      updatExpireDate: function () {

        ///updateEquipment
        if (this.selectRows1.length == 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        this.outerVisible = true;
      },
      handleEdit: function (index, data) {
        console.log(index);
        console.log(data);
        var ids = data.id + ",";
        //将数据放入cookie中,用来生成订单临时数据
        core.setCookie('makeorderids', ids, '30d');
        window.location.href = "orderSubmit.html";
      },

      //批量送校
      madeOrder: function () {
        if (this.selectRows1.length == 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var _this = this;
        var ids = "";
        var rowsdate = this.selectRows1;
        for (var i = 0; i < rowsdate.length; i++) {
          ids = ids + rowsdate[i].id + ",";
        }
        //将数据放入cookie中,用来生成订单临时数据
        core.setCookie('makeorderids', ids, '30d');
        window.location.href = "orderSubmit.html";
      },

      loadExceedTableData: function (data) {
        console.log(data);
        this.exceedTableData = data.data;
        this.total1 = data.count;
      },

      initExceedTableData: function () {
        var $this = this;
        var url = process.env.ecalibrationUrl + "equipment/api/v1/getEuipmentList";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          pageNo: $this.currentPage1,
          pageSize: $this.pageSize1,
          equipmentstatus: "1",
          orderBy: this.orderBy,
          orderDirection : this.orderDirection
        }, this.loadExceedTableData, conf);
      },

      handDownloadOne: function (index, data) {
        console.log(index);
        console.log(data);
        var fileId = data.fileId;
        this.updateRepostState(fileId);
        window.open(process.env.ecalibrationUrl + "openapi/file/api/v1/batchDownload?keys=" + fileId);

      },
      loadUnReadTableData: function (data) {
        console.log(data);
        this.tableData = data.data;
        this.total3 = data.count;
      },
      hasSelected: function (selection, row) {
        $('.table_ljsj_btn').removeClass('sgs_notactive_btn').addClass('sgs_active_btn').css({
          float: 'left',
          margin: '10px'
        })

      },
      //=============未完成设备==========begin
      initUnfinishedEquipment () {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/dashboard/api/v1/queryUnfinishedEquipmentList";
        var conf = {
          'isCallback': true
        }
        // var reportCD = this.reportCreateDate;
        var data = {
          customerid: core.getCookie('defaultCustId'),
          pageNo: this.unfinishedEquipmentCurrentPage,
          pageSize: this.unfinishedEquipmentSize,
          keysearch: this.keysearch,
          expireDate_begin: this.expireDate == null || this.expireDate.length == 0 ? "" : this.expireDate[0],
          expireDate_end: this.expireDate == null || this.expireDate.length == 0 ? "" : this.expireDate[1],
          orderCreateDate_begin: this.orderCreateDate == null || this.orderCreateDate.length == 0 ? "" : this.orderCreateDate[0],
          orderCreateDate_end: this.orderCreateDate == null || this.orderCreateDate.length == 0 ? "" : this.orderCreateDate[1],
          orderDirection: this.orderDirection,
          orderBy: this.orderBy
        };
        HttpServer.post(this, url, data, function (response) {
          _this.unfinishedEquipmentListData = response.data;
          _this.unfinishedEquipmentTotal = parseInt(response.count);
          if (_this.unfinishedEquipmentTotal1 == 0) {
            _this.unfinishedEquipmentTotal1 = parseInt(response.count);
          } else {
            if (_this.keysearch || _this.expireDate || _this.orderCreateDate) {
              console.info('如有查询条件标题总条目不更新');
            } else {
              _this.unfinishedEquipmentTotal1 = parseInt(response.count);
            }
          }
        }, conf);

      },
      //=============未读报告============begin
      initUnReport () {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/report/api/v1/getReportList";
        var conf = {
          'isCallback': 'true'
        }
        var data = {
          customerid: core.getCookie('defaultCustId'),
          pageNo: this.uncurrentPage,
          pageSize: this.unsize,
          keysearch: this.keysearch,
          reporttype:this.reporttype,
          beginDate: this.reportCreateDate == null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[0],
          endDate: this.reportCreateDate == null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[1],
          isRead: 0, //初始化默认查询未读报告
          orderDirection: this.orderDirection

        };
        HttpServer.post(this, url, data, function (response) {
          _this.unreportListData = response.reportListData;
          _this.untotal = parseInt(response.count);
          _this.untotal1 = parseInt(response.count);
          // if (_this.untotal1 == 0) {
          //   _this.untotal1 = parseInt(response.count);
          // } else {
          //   if (_this.keysearch || _this.reportCreateDate) {
          //     console.info('如有查询条件标题总条目不更新');
          //   } else {
          //     _this.untotal1 = parseInt(response.count);
          //   }
          // }
        }, conf);

      },
      unhandleSelectionChange: function (val) {
        this.unmultipleSelection = val;
      },
      unhandleSizeChange (val) {
        this.unsize = val;
        this.initUnReport();
      },
      unhandleCurrentChange (val) {
        this.uncurrentPage = val;
        this.initUnReport();
      },
      openReportDialog: function (row) {
        var _this = this;
        this.readreport(row);
        this.reportDialogParams = {
          id: row.id,
          orderEquipmentInstanceID: row.orderEquipmentInstanceID,
          equipmentid: row.equipmentid,
          orderid: row.orderid
        };
        this.showReportDialog = true;
      },
      beachDownload: function (selectRows) {
        if (selectRows.length <= 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var fileIds = "";
        var ids = "";
        $.each(selectRows, function (i, v) {
          fileIds += v.fileid + ",";
          ids += v.id + ",";
        });
        console.log(fileIds);
        fileIds = fileIds.substr(0, fileIds.length - 1);
        ids = ids.substr(0, ids.length - 1);
        console.log(fileIds);
        window.open(process.env.ecalibrationUrl + "openapi/file/api/v1/batchDownload?keys=" + fileIds);
        this.markReadReport(selectRows);
      },
      downloadReport (row) {
        var _this = this;
        var url = process.env.FrameWorkApiUrl + "file/download";
        var conf = {
          'isCallback': true
        }
        let fd = new FormData()
        fd.append('key', row.fileid)
        HttpServer.post(this, url, fd, function (response) {
          if (response) {
            _this.readreport(row);//下载过的报告设置状态为已读
            window.open(response);
          }
        }, conf);
      },
      markReadReport (selectRows,type) {
        if (selectRows.length <= 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var ids = "";
        selectRows.forEach(function (v) {
          ids += v.id + ",";
        })
        //修改报告状态
        var url = process.env.ecalibrationUrl + "/report/api/v1/updateReportState";
        var conf = {
          'isCallback': true
        }
        HttpServer.post(this, url, {ids: ids, isRead:type}, function (response) {
          if (response.success) {
            selectRows.forEach(function (v) {
              v.isRead = type;
            })
          }
        }, conf);
      },
      readreport (row) {
        //修改报告状态
        var url = process.env.ecalibrationUrl + "/report/api/v1/updateReportState";
        var conf = {
          'isCallback': true
        }
        HttpServer.post(this, url, {ids: row.id, isRead:1}, function (response) {
          if (response.success) {
            row.isRead = 1;
          }
        }, conf);
      },
      //===========================未读报告=================end
      //===公共方法====设备详情跳转，订单详情跳转等=====begin
      goOrderDetail (type, id, orderno) {
        ecUtil.goOrderDetail(type, id, orderno);
      },
      goEquipmentDeatail (equId) {
        window.open("equDetail.html?id=" + equId + "&isNew=false");
      },
      dateFormat: function (row, column) {
        var date = row[column.property];
        if (date == undefined) {
          return "";
        }
        var dateArr = date.split(" ");
        var ymd = dateArr[0].split("-");
        return ymd[0]+"-"+ymd[1]+"-"+ymd[2];
      },
      //===公共方法====设备详情跳转，订单详情跳转等=====end
      handleSelectionChange: function (val) {
        console.log(val);
        this.selectRows3 = val;
      },
      handleSelectionChange1: function (val) {
        console.log(val);
        this.selectRows1 = val;
      },
      handleSelect (key, keyPath) {
        console.log(key, keyPath);
      },

      handleSizeChange1 (val) {
        console.log(`每页 ${val} 条`);
        this.pageSize1 = val;
        this.initExceedTableData();
      },
      handleCurrentChange1 (val) {
        console.log(`当前页: ${val}`);
        this.currentPage1 = val;
        this.initExceedTableData();
      },
      unfinishedEqu_handleSizeChange (val) {
        this.unfinishedEquipmentSize = val;
        this.initUnfinishedEquipment();
      },
      unfinishedEqu_handleCurrentChange (val) {
        this.unfinishedEquipmentCurrentPage = val;
        this.initUnfinishedEquipment();
      },

      handleSizeChange (val) {
        console.log(`每页 ${val} 条`);
        this.pageSize3 = val;
      },
      handleCurrentChange (val) {
        console.log(`当前页: ${val}`);
        this.currentPage3 = val;
      },

      //未完成订单
      initUnOrder: function () {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/dashboard/api/v1/getUnOrderList";
        var conf = {
          'isCallback': 'true'
        }
        var reportCD = this.orderDate;
        var data = {
          customerid: core.getCookie('defaultCustId'),
          pageNo: this.currentPageorder,
          pageSize: this.sizeorder,
          keysearch: this.keysearchorder,
          beginDate: this.orderDate == null || this.orderDate.length == 0 ? "" : reportCD[0],
          endDate: this.orderDate == null || this.orderDate.length == 0 ? "" : reportCD[1]
        };
        HttpServer.post(this, url, data, function (response) {
          _this.tableDataorder = response.data;
          _this.totalorder = parseInt(response.count);
          if (_this.totalorder2 == 0) {
            _this.totalorder2 = parseInt(response.count);
          }
        }, conf);

      },
      handleSelectionChangeorder: function (val) {
        this.multipleSelectionorder = val;
      },
      handleSizeChangeorder: function (val) {
        this.sizeorder = val;
        this.initUnOrder();
      },
      handleCurrentChangeorder: function (val) {
        this.currentPageorder = val;
        this.initUnOrder();
      },
      //提交订单至明德
      goOrder: function (val) {
        var url = process.env.ecalibrationUrl + "/order/api/v2/toorder";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }

        this.$confirm('是否确认提交订单?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {

          HttpServer.post(this, url, {
            customerid: core.getCookie('defaultCustId'),
            orderid: val

          }, this.toordercallback, conf);

        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });
      },
      toordercallback: function (response) {
        this.$message({
          type: 'info',
          message: '提交成功'
        });
        this.initUnOrder();
      },
      //超期预警排序
      exceedSortChange(column){
        if(column.prop == null){
          return;
        }
        this.orderBy = column.prop;
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initExceedTableData();
      },
      //未读报告排序
      unReporSortChange(column){
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initUnReport();
      },
      //未完成设备排序
      unfinishedEquipmentSortChange(column){
        if(column.prop == null){
          return;
        }
        this.orderBy = column.prop;
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initUnfinishedEquipment();
      },
      handleClick (tab, event) {
          this.initUnReport();
      },
    }
  }
</script>
<style lang="less">
  .azm-el-tb {
    margin-top: 10px;
  }
  .azm-el-tb .sm-mt17{
    margin-top: 17px;
  }
  .azm-el-tb p {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .el-table__header {
    background: #f9f9f9;
  }

  .el-table thead th {
    background: #f9f9f9;
  }

  .el-table__header .cell {
    font-size: 16px;
    color: #333;
  }

  .el-popover {
    padding: 0;
    text-align: center;
    background: #FFFDD5;
    border: 1px solid #FF822F;
    border-radius: 2px;
    line-height: 1;
  }

  .el-popper .popper__arrow {
    border: #FFFDD5;
  }

  .table_footer {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    height: 60px;
  }

  .table_footer .el-col {
    height: 100%;
  }

  .table_footer a.tiaozheng {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    color: #ff822f;
    float: left;
    margin-left: 10px;
  }

  .el-pager li {
    padding: 0;
    margin: 0 5px;
    color: #999;
    font-weight: 400;
  }

  .el-pager li.active {
    color: #ff822f;
  }

  .el-pagination {
    margin-top: 10px;
  }

  .el-button--mini {
    font-size: 14px;
    color: #666;
  }

  .el-button--mini:hover {
    background-color: #FFF3EA;
    color: #ff822f;
    border-color: #ff822f;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #fff;
  }

  .el-table .el-table_1_column_10 .cell .zyz_text {
    line-height: 20px;
    display: inline-block;
  }

  .v-modal {
    z-index: 2002 !important;
  }

  .search_btn_col3 {
    width: auto;
    margin: 0 10px;
  }

  #dashboard .el-button--mini {
    border: 1px solid #ff822f;
    color: #ff822f;
    width: 70px;
    height: 26px;
    text-align: center;
    font-size: 14px;
    padding: 0;
  }

  #dashboard .el-button--mini:hover {
    border: 1px solid #ff822f;
    background-color: #ff822f;
    color: #fff;
  }

  .unfinish_table.el-table .cell {
    height: 70px;
    line-height: 70px;
  }

  .unfinish_table.el-table th > .cell {
    line-height: 70px;
  }

  .unfinish_table.el-table .cell .order_num {
    display: inline-block;

    line-height: 20px;
  }

  .unorder_table.el-table .cell {
    height: 50px;
    line-height: 50px;
  }

  .unorder_table.el-table th > .cell {
    line-height: 50px;
  }

  .unorder_table.el-table .cell .order_num {
    display: inline-block;

    line-height: 20px;
  }

  #dashboard {
    .tiqian_input {
      .azm-input_day {
        display: inline-block;
        width: 100px;
        margin: 0 5px;
        input {
          line-height: 30px;
          height: 30px !important;
          font-size: 14px;
        }
      }
    }
    .el-dialog--center .el-dialog__body {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  body .v-modal {
    z-index: 2000 !important;
  }
</style>
