<template>
  <div id="orderSubmit">
    <sgsLayout :isShowCustomer=false :active-index="3"></sgsLayout>
    <el-main class="main_content content_container azm-fixed_width">
      <!-- 步骤提示 -->
      <el-row>
        <el-col :span="7" class="step active">
          <span class="step_num">1</span>
          <span class="step_tips">选择设备</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step">
          <span class="step_num">2</span>
          <span class="step_tips">确认订单</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step">
          <span class="step_num">3</span>
          <span class="step_tips">提交完成</span>
        </el-col>
      </el-row>
      <!--tabs-->
      <div class="el-row">
        <div style="float: left;">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane :label="allinst" name='1'>

            </el-tab-pane>
            <el-tab-pane :label="choiceInts " name='2'>

            </el-tab-pane>
          </el-tabs>
        </div>
        <div style="margin-top: 10px;">
          <a href="equipmentList.html" target="_blank" class="sgs_active_text"
             style="margin-left: 65px;">我的设备</a>
        </div>

      </div>

      <!--查询-->
      <el-row type="flex" :gutter="10" class="azm-row_query">
        <el-col class="azm-col" :span="7">
          <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号/机身编号" class="azm-input_box"></el-input>
        </el-col>
        <el-col class="azm-col" :span="2">
          <el-button @click="search2" class="azm-btn_query">查询</el-button>
        </el-col>
        <el-col class="moresearch azm-col azm-col_active" :span="3">
          <div @click="tapScreening">
            <span class="sgs_active_text jingque_search" style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
            <i class="el-icon-d-arrow-left azm-icon" :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
          </div>
        </el-col>
        <el-col class="azm-col azm-col_active" :span="9" v-if="activeName=='1'">
          查询到 {{alltotalval}} 台设备
        </el-col>
        <el-col class="azm-col azm-col_active" :span="9" v-if="activeName=='2'">
          查询到 {{totalval}} 台设备
        </el-col>
       <!-- <el-col class="azm-col azm-col_active" :span="3">
          <a class="sgs_active_text" href="equipmentList.html" target="_blank">我的设备</a>
        </el-col>-->
      </el-row>
      <!-- 精确条件 -->
      <div class="azm-screening_connet">
        <el-row :gutter="10" class="azm-screening_connet_item">
          <el-col :span="12">
            <el-col :span="3" style="min-width: 120px;text-align: right;line-height: 32px;">
              <span class="">校准到期时间</span>
            </el-col>
            <el-col :span="18">
              <el-date-picker :editable="false" v-model="value1" type="daterange" range-separator="至"
                              start-placeholder="开始日期" end-placeholder="结束日期">
              </el-date-picker>
            </el-col>
          </el-col>
          <el-col :span="12">
            <el-col :span="3" style="min-width: 120px;text-align: right;line-height: 32px;">
              <span class="">所属部门</span>
            </el-col>
            <el-col :span="18">
              <el-input v-model="equipmentuserdept" style="width: 350px;"></el-input>
            </el-col>
          </el-col>
        </el-row>
        <el-row :gutter="10" class="azm-screening_connet_item">
          <el-col :span="12">
            <el-col :span="3" style="min-width: 120px;text-align: right;line-height: 32px;">
              <span class="">计划下单日期</span>
            </el-col>
            <el-col :span="18">
              <el-date-picker :editable="false" v-model="value2" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
              </el-date-picker>
            </el-col>
          </el-col>
          <el-col :span="12">
            <el-col :span="3" style="min-width: 120px;text-align: right;line-height: 32px;">
              <span class="">厂商品牌</span>
            </el-col>
            <el-col :span="18">
              <el-input v-model="equipmentfactorynamecn" style="width: 350px;"></el-input>
            </el-col>
          </el-col>
        </el-row>
      </div>
      <!--表格-->
      <div style="margin-top: 20px">
        <div v-if="activeName == 1">
          <!-- 中间表格-->
          <el-table :data="alltableData" fit ref="multipleTable" @select="checkboxchange"
                    @select-all="checkallall" tooltip-effect="dark" border stripe style="width: 100%"
                    @selection-change="handleSelectionChange"
                    @sort-change="equipmentSortChange"
          >
            <!-- 第一列checkbox -->
            <el-table-column type="selection">
            </el-table-column>
            <!-- 第二列 -->
            <el-table-column prop="equipmentexpiredate" label="校准到期时间" sortable="custom"
                             :formatter="dateFormatexpired" width="267">

            </el-table-column>
            <!-- 第三列 -->
            <el-table-column prop="equipmentnamecn" label="设备名称">
            </el-table-column>
            <!-- 第四列 -->
            <el-table-column prop="assetno" label="管理编号">
              <template slot-scope="scope">
                <a @click="toEquipDetail(scope.row.id)" class="azm-route_serial_number">
                  {{scope.row.assetno}}
                </a>
              </template>
            </el-table-column>
            <el-table-column prop="equipmentserialno" label="机身编号">
              <template slot-scope="scope">
                <a @click="toEquipDetail(scope.row.id)" class="azm-route_serial_number">
                  {{scope.row.equipmentserialno}}
                </a>
              </template>
            </el-table-column>
            <el-table-column prop="equipmentfactorynamecn" label="厂商品牌">
            </el-table-column>
            <el-table-column prop="equipmentuserdept" label="所属部门">
            </el-table-column>
            <!-- 最后一列 -->
            <el-table-column prop="equipmentplandate" label="计划下单日期"
                             sortable="custom" :formatter="dateFormat" width="157">
            </el-table-column>
          </el-table>
          <div class="table_footer">
            <el-col :span="6">
              <el-button @click="getExprod" class="all_choose_dev">全选预警设备</el-button>
            </el-col>
            <el-col :span="18">
              <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="allcurrentPage" :page-sizes="[10, 20, 50, 100]" :page-size="allsize" layout=" prev, pager, next,sizes, jumper" :total="alltotalval">
              </el-pagination>
            </el-col>
          </div>
        </div>
        <div v-else>
          <el-row>
            <el-col :span="24">
              <el-table border stripe :data="tableData" ref="multipleTable2" @select="checkboxchange2" @select-all="checkall2" @selection-change="handleSelectionChange2" style="width: 100%" size="mini"
                        @sort-change="equipmentSortChange" class="yxsb_table">
                <el-table-column type="selection">
                </el-table-column>
                <!-- 第二列 -->
                <el-table-column prop="equipmentexpiredate" label="校准到期时间" sortable="custom"
                                 :formatter="dateFormatexpired" style='min-width:250px'>

                </el-table-column>
                <!-- 第三列 -->
                <el-table-column prop="equipmentnamecn" label="设备名称" style='min-width:250px'>
                </el-table-column>
                <!-- 第四列 -->
                <el-table-column prop="assetno" label="管理编号" style='min-width:250px'>
                  <template slot-scope="scope">
                    <a @click="toEquipDetail(scope.row.id)" class="azm-route_serial_number">
                      {{scope.row.assetno}}
                    </a>
                  </template>
                </el-table-column>
                <el-table-column prop="equipmentserialno" label="机身编号">
                  <template slot-scope="scope">
                    <a @click="toEquipDetail(scope.row.id)" class="azm-route_serial_number">
                      {{scope.row.equipmentserialno}}
                    </a>
                  </template>
                </el-table-column>
                <el-table-column prop="equipmentfactorynamecn" label="厂商品牌">
                </el-table-column>
                <el-table-column prop="equipmentuserdept" label="所属部门">
                </el-table-column>

                <el-table-column prop="equipmentplandate" label="计划下单日期" sortable :formatter="dateFormat" style='min-width:250px'>
                </el-table-column>
              </el-table>
            </el-col>
          </el-row>
          <div class="table_footer">
            <el-col :span="6">
              <el-button @click="getExprod" class="all_choose_dev">全选预警设备</el-button>
              <el-button @click="dialogTable" class="all_choose_dev">查看需求详情</el-button>
            </el-col>
            <el-col :span="18">
              <el-pagination @size-change="handleSizeChange2" @current-change="handleCurrentChange2" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="totalval" size="mini">
              </el-pagination>
            </el-col>
          </div>
          <!--     <el-row>

                        <el-col :span="6">

                          <el-button @click="dialogTable" class="all_choose_dev">查看需求详情</el-button>
                        </el-col>
                        <el-col :span="18" align="right">
                          <div class="block">
                            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="totalval" size="mini">
                            </el-pagination>
                          </div>
                        </el-col>
                      </el-row>
           -->
        </div>
      </div>

      <el-row class="next_step">
        <el-col :offset="18">
          {{choiceInts}}
          <el-button @click="nextStep" class="next_step_btn">下一步</el-button>
        </el-col>
      </el-row>
    </el-main>
    <!-- 弹窗！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！ -->
    <el-dialog title="" :visible.sync="dialogTableVisible" class="sbzu_dialog">
      <template slot="title">
        <span class="sbzs">设备总数</span>
        <span class="choosed_dev_num choosed_dev_num_bottom" id="choseints2"></span>
        <span class="active_text_sgs">台</span>
      </template>
      <!-- 中间表格-->
      <el-table :data="cbtableData" border stripe fit ref="cbmultipleTable" @select="checkboxchange3"
                tooltip-effect="dark" style="width: 100%" @selection-change="cbhandleSelectionChange">
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column prop="equipmentno" label="设备编号" style="width: 110px;">
        </el-table-column>
        <el-table-column prop="equipmentnamecn" label="设备名称" style="width: 140px;">
          <template slot-scope="scope">
            <span class="sbbh_data">{{ scope.row.equipmentnamecn }}</span>
          </template>
        </el-table-column>

        <el-table-column prop="name" label="校准需求" style="width: 240px;">
          <template slot-scope="scope">
            <h5 class="sbbh_data" v-for="tab in  scope.row.date ">
              参数: {{tab.calibrationitems }} 范围: {{tab.equipmentmeasuringrange}} <br>
            </h5>
          </template>

        </el-table-column>
        <el-table-column prop="name" label="操作" style="width: 60px;">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="detail(scope.$index,scope.row.id)">详情</el-button>

          </template>
        </el-table-column>
      </el-table>
      <div class="table_footer">
        <el-col :span="18" :offset="6">
          <el-pagination @size-change="cbhandleSizeChange" @current-change="cbhandleCurrentChange" :current-page="currentPage4" :page-sizes="[10, 200, 50, 100]" :page-size="cbsize" layout=" prev, pager, next, jumper" :total="cbtotalval">
          </el-pagination>
        </el-col>
      </div>
      <el-row>
        <el-button @click="taxSave" class="next_step_btn">关闭</el-button>
      </el-row>
    </el-dialog>
  </div>
</template>
<script>
import sgsLayout from '../sgsLayout/sgsLayout'
import ElColorAlphaSlider from "element-ui/packages/color-picker/src/components/alpha-slider";

var HttpServer = require('../../components/http.js');
var core = require('../../components/commonFunc.js');
var ecUtil = require('../../components/util');
export default {
  name: 'orderSubmit',

  data() {

    return {
      isTapScreening: false,
      activeName: '1',
      //分页参数
      totalval: 10,
      currentPage: 1,
      size: 10,
      tableData: [],

      centerDialogVisible: false,
      // orderDirection: 'ASC',
      // orderBy: 'id',
      multipleSelection2: [],
      //-------------------------------
      //校准需求分页参数


      //---------
      //预警数据
      alltableData: [],
      //分页参数
      alltotalval: 10,
      allcurrentPage: 1,
      allsize: 10,
      multipleSelection: [],

      //tab页
      allinst: '',
      choiceInts: '',

      //弹出窗口
      dialogTableVisible: false,
      cbtableData: [],
      cbtotalval: 10,
      currentPage4: 1,
      cbsize: 10,
      cbmultipleSelection: [],
      test: [11, 22],
      //弹出窗口临时数据存放取消
      tempmakeorderids: 'temp',
      temptotal: 0,


      //查询条件
      value1: '',
      value2: '',
      equipmentuserdept:'',
      equipmentfactorynamecn:'',
      keysearch: '',
      tabval: '1',
      choiceIntsval: '',
      //排序列
      orderBy:'equipmentexpiredate',
      orderDirection:'ascending'
    }
  },
  mounted: function() {
  },
  created: function() {
    this.getAllEqupmentInfo();
    this.getEqupmentInfoByIds();
    //this.getExpordInfo();
    window.addEventListener('storage', this.getCalibrationInfo, false);
    // window.addEventListener("storage", function(event) {
    //   alert(event.key + '”' + event.newValue);
    //   console.log(event.key + '”' + event.newValue);
    //         var ids = core.getCookie('makeorderids');

    //              jQuery.ajax({
    //     url: process.env.ecalibrationUrl + "order/api/v2/getCalibrationInfo",
    //     dataType: "json",
    //     data: {
    //              customerid: '1',
    //     pageNo: '1',
    //     pageSize: '10',
    //     equipmentids: ids
    //     },
    //     type: 'post'
    //   }).done(function(response) {
    //   this.cbtableData = response.data;
    //   this.cbtotalval = parseInt(response.count);
    //   });
    // });
  },
  components: {
    ElColorAlphaSlider,
    sgsLayout
  },

  methods: {
    // 筛选下拉切换
    tapScreening() {
      $(".azm-screening_connet").slideToggle(500)
      this.isTapScreening = !this.isTapScreening
    },
    goOrderDetail(type, id, orderno) {
      ecUtil.goOrderDetail(type, id, orderno);
    },
    toEquipDetail: function(id) {
      ecUtil.toEquipDetail(id,true);
    },
    //tab页签切换事件
    handleClick(tab, event) {
      if (tab.name == '2') {
        this.keysearch = '';
        this.value2 = '';
        this.value1 = '';
        this.getEqupmentInfoByIds();
        this.tabval = 2;
      }
      if (tab.name == '1') {
        this.keysearch = '';
        this.value2 = '';
        this.value1 = '';
        this.getAllEqupmentInfo();
        this.tabval = 1;
      }
    },
    //所有设备的查询
    getAllEqupmentInfo: function() {
      var datefrom = "";
      var dateto = "";
      var datefrom2 = "";
      var dateto2 = "";
      if (this.value1 != null) {
        if (this.value1[0] != "" && this.value1[0] != undefined) {
          var d = new Date(this.value1[0]);
          datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
        }
        if (this.value1[1] != "" && this.value1[1] != undefined) {
          var d2 = new Date(this.value1[1]);
          dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
        }
      }
      if (this.value2 != null) {
        if (this.value2[0] != "" && this.value2[0] != undefined) {
          var d3 = new Date(this.value2[0]);
          datefrom2 = d3.getFullYear() + '-' + (d3.getMonth() + 1) + '-' + d3.getDate();
        }
        if (this.value2[1] != "" && this.value2[1] != undefined) {
          var d4 = new Date(this.value2[1]);
          dateto2 = d4.getFullYear() + '-' + (d4.getMonth() + 1) + '-' + d4.getDate();
        }
      }
      var url = process.env.ecalibrationUrl + "equipment/api/v1/getEuipmentList";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: this.allcurrentPage,
        pageSize: this.allsize,
        datefrom2: datefrom,
        dateto2: dateto,
        datefrom3: datefrom2,
        dateto3: dateto2,
        keysearch: this.keysearch,
        equipmentfactorynamecn:this.equipmentfactorynamecn,
        equipmentuserdept:this.equipmentuserdept,
        orderBy:this.orderBy,
        orderDirection:this.orderDirection

      }, this.getAllEqupmentInfocallback, conf);
    },
    getAllEqupmentInfocallback: function(response) {
      this.alltableData = response.data;
      this.alltotalval = parseInt(response.count);
      if (this.allinst == null || this.allinst == '' || this.allinst == '0') {
        this.allinst = "所有设备" + " " + parseInt(response.count) + "台"
      }

      var ids = core.getCookie('makeorderids');
      if(ids){
        var idss = core.getCookie('makeorderids').split(',');
        this.$nextTick(() => {
          this.alltableData.forEach((element) => {
            idss.forEach(item => {
              if (element.id == item) {
                this.$refs.multipleTable.toggleRowSelection(element, true);
              }
            });

          });
        })
      }
    },
    checkboxInit: function(row, index) {
    },

    //已选设备的查询
    getEqupmentInfoByIds: function() {
      var ids = core.getCookie('makeorderids');
      var datefrom = "";
      var dateto = "";
      var datefrom2 = "";
      var dateto2 = "";
      if (this.value1 != null) {
        if (this.value1[0] != "" && this.value1[0] != undefined) {
          var d = new Date(this.value1[0]);
          datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
        }
        if (this.value1[1] != "" && this.value1[1] != undefined) {
          var d2 = new Date(this.value1[1]);
          dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
        }
      }
      if (this.value2 != null) {
        if (this.value2[0] != "" && this.value2[0] != undefined) {
          var d3 = new Date(this.value2[0]);
          datefrom2 = d3.getFullYear() + '-' + (d3.getMonth() + 1) + '-' + d3.getDate();
        }
        if (this.value2[1] != "" && this.value2[1] != undefined) {
          var d4 = new Date(this.value2[1]);
          dateto2 = d4.getFullYear() + '-' + (d4.getMonth() + 1) + '-' + d4.getDate();
        }
      }

      var url = process.env.ecalibrationUrl + "equipment/api/v1/getEqupmentInfoByIds";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: this.currentPage,
        pageSize: this.size,
        equipmentids: ids,
        datefrom: datefrom,
        dateto: dateto,
        datefrom2: datefrom2,
        dateto2: dateto2,
        keysearch: this.keysearch,
        equipmentfactorynamecn:this.equipmentfactorynamecn,
        equipmentuserdept:this.equipmentuserdept,
        orderBy:this.orderBy,
        orderDirection:this.orderDirection

      }, this.getEuipmentListscallback, conf);
    },
    getEuipmentListscallback: function(response) {
      this.tableData = response.data;
      this.totalval = parseInt(response.count);
      if (this.choiceInts == null || this.choiceInts == '' || this.choiceInts == 0) {
        this.choiceInts = "已选设备  " + parseInt(response.count) + "台";
        this.choiceIntsval = parseInt(response.count);
      }

      $("#choseints").html(parseInt(response.count));
      $("#choseints2").html(parseInt(response.count));
      var ids = core.getCookie('makeorderids');
      if(ids){
        var idss = core.getCookie('makeorderids').split(',');
        this.$nextTick(() => {
          this.tableData.forEach((element) => {
            this.$refs.multipleTable2.toggleRowSelection(element, true);
          });
        })
      }
    },
    //分页查询
    handleSizeChange: function(val) {
      this.allsize = val;
      this.getEuipmentListPage(this.allsize, this.allcurrentPage);
    },
    handleCurrentChange: function(val) {
      this.allcurrentPage = val;
      this.getEuipmentListPage(this.allsize, this.allcurrentPage);
    },
    getEuipmentListPage: function(size, currentPage) {
      var datefrom = "";
      var dateto = "";
      var datefrom2 = "";
      var dateto2 = "";
      if (this.value1 != null) {
        if (this.value1[0] != "" && this.value1[0] != undefined) {
          var d = new Date(this.value1[0]);
          datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
        }
        if (this.value1[1] != "" && this.value1[1] != undefined) {
          var d2 = new Date(this.value1[1]);
          dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
        }
      }
      if (this.value2 != null) {
        if (this.value2[0] != "" && this.value2[0] != undefined) {
          var d3 = new Date(this.value2[0]);
          datefrom2 = d3.getFullYear() + '-' + (d3.getMonth() + 1) + '-' + d3.getDate();
        }
        if (this.value2[1] != "" && this.value2[1] != undefined) {
          var d4 = new Date(this.value2[1]);
          dateto2 = d4.getFullYear() + '-' + (d4.getMonth() + 1) + '-' + d4.getDate();
        }
      }
      var url = process.env.ecalibrationUrl + "equipment/api/v1/getEuipmentList";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: currentPage,
        pageSize: size,
        datefrom2: datefrom,
        dateto2: dateto,
        datefrom3: datefrom2,
        dateto3: dateto2,
        keysearch: this.keysearch,
        equipmentfactorynamecn:this.equipmentfactorynamecn,
        equipmentuserdept:this.equipmentuserdept,
        orderBy:this.orderBy,
        orderDirection:this.orderDirection

      }, this.getEuipmentListPagecallback, conf);
    },
    getEuipmentListPagecallback: function(response) {
      //
      this.alltableData = response.data;
      this.alltotalval = parseInt(response.count);
      if (this.allinst == null || this.allinst == '' || this.allinst == 0) {
        this.allinst = "所有设备" + " " + parseInt(response.count) + "台"
      }

      var ids = core.getCookie('makeorderids');
      var idss = core.getCookie('makeorderids').split(',');
      this.$nextTick(() => {
        this.alltableData.forEach((element) => {
          idss.forEach(item => {
            if (element.id == item) {
              this.$refs.multipleTable.toggleRowSelection(element, true);
            }
          });

        });
      })
    },
    //分页查询
    handleSizeChange2: function(val) {
      this.size = val;
      this.getEqupmentInfoByIds(this.size, this.currentPage);
    },
    handleCurrentChange2: function(val) {
      this.currentPage = val;
      this.getEqupmentInfoByIds(this.size, this.currentPage);
    },
    //已选设备的查询
    getEqupmentInfoByIdspage: function(size, currentPage) {
      var ids = core.getCookie('makeorderids');
      var url = process.env.ecalibrationUrl + "equipment/api/v1/getEqupmentInfoByIds";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: size,
        pageSize: currentPage,
        equipmentids: ids,
        orderBy:this.orderBy,
        orderDirection:this.orderDirection

      }, this.getEuipmentListscallback, conf);
    },
    del: function(index, val) {
      //删除cookie字符串中的id
      var str = core.getCookie('makeorderids');
      var delstr = val + ",";
      var a = str.split(delstr).join("");
      core.setCookie('makeorderids', a, '30d');
      console.log(a);
      //移除表格中的对应数据
      this.tableData.splice(index, 1);
    },
    //日期格式化
    dateFormat: function(row, column) {
      var date = row[column.property];
      if (date == undefined) {
        return "";
      }
      var date2 = new Date(date);
      return core.formatDate(date2, 'yyyy-MM-dd');
    },
    dateFormatexpired: function(row, column) {
      var date = row[column.property];
      if (date == undefined) {
        return "";
      }
      var date2 = new Date(date);
      var str = core.formatDate(date2, 'yyyy-MM-dd');
      if (row.expireddays > 0) {
        str = str + "  (剩余" + row.expireddays + "天)";
      }
      if (row.expireddays < 0) {
        str = str + "  (逾期" + row.expireddays + "天)";
      }
      if (row.expireddays < 0) {
        str = str + "  (今天到期)";
      }
      return str;
    },
    getcalibrationInfo: function() {


    },
    // getExpordInfo: function() {
    //   var ids = core.getCookie('makeorderids');
    //   var url = process.env.ecalibrationUrl + "equipment/api/v1/getEqupmentInfoByIds";
    //   var conf = {
    //     'isCallback': 'true',
    //     showLoading: true
    //   }
    //   HttpServer.post(this, url, {
    //     customerid: '1',
    //     pageNo: '1',
    //     pageSize: '10',
    //     equipmentids: ids

    //   }, this.getExpordInfoscallback, conf);
    // },
    // getExpordInfoscallback: function(response) {
    //   this.tableData2 = response.data;
    //   this.totalval2 = parseInt(response.count);
    //   var sbxx = "待选设备(" + parseInt(response.count) + ")";
    //   $("#sbxx2").html(sbxx);
    // },
    // //分页查询
    // handleSizeChange2: function(val) {
    //   this.size2 = val;
    //   this.getEuipmentList(this.size2, this.currentPage2);
    // },
    // handleCurrentChange2: function(val) {
    //   this.currentPage2 = val;
    //   this.getEuipmentList(this.size2, this.currentPage2);
    // },

    add: function(index, id) {
      //将添加的行,加入cookie中的makeorder 的ids中

      var ids = core.getCookie('makeorderids');
      ids = ids + id + ",";

      core.setCookie('makeorderids', ids, '30d');
      var url = process.env.ecalibrationUrl + "equipment/api/v1/getEqupmentInfoByIds";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: '1',
        pageSize: '200',
        //这个ids传到后台查询预警设备,用 not in
        equipmentids: ids

      }, this.getEuipmentListscallback, conf);
    },
    renderHeader_datepicker(createElement, { column }) {
      return createElement(
        'div', {
          attrs: {
            id: ""
          }
        },
        [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-date-picker', {
            attrs: {
              type: "date",

              id: "jzdq_date",
            },
            props: {
              format: "yyyy-MM-dd",
            },
            on: {
              input: function(event) {
                var d = new Date(event);
                var youWant = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                $("#jzdq_date").val(youWant);
              }
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    renderHeader_input(createElement, { column }) {
      var _self = this;
      return createElement(
        'div', {
          attrs: {
            id: "table_h_col3"
          }
        },
        [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-input', {
            attrs: {
              type: "input",
              id: 'sbmc_input'
            },
            on: {
              change: function(event) {
                // ;
                self.value = event.target.value;
                self.$emit('input', self.value);
                console.log(_self.test);
                //_self.test=[]
              }
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    handleSelectionChange: function() {

    },
    handleSelectionChange2: function(val1, val2) {
    },
    cbhandleSelectionChange: function() {

    },
    equipmentSortChange(column){
      console.info(column.prop,column.order);

      this.orderBy=column.prop;
      this.orderDirection=column.order;
      this.search2();
    },
    //单机首列多选框时间触发
    checkboxchange: function(val1, val2) {
      //
      //判断是取消勾选,还是新勾选
      var i = 0;
      val1.forEach(val => {
        if (val == val2) {
          i = 1;
        }
      });
      //获取ids
      var ids = core.getCookie('makeorderids');

      var idss = core.getCookie('makeorderids').split(',');
      //如果等于0 表示是取消勾选
      if (i == 0) {
        //删除cookie字符串中的id
        var delstr = val2.id + ",";
        var a = ids.split(delstr).join("");
        core.setCookie('makeorderids', a, '30d');
        var j = this.choiceIntsval - 1;
        this.choiceIntsval = j;
        //this.totalval = j;
        this.choiceInts = "已选设备  " + j + "台";
        $("#choseints").html(j);
        $("#choseints2").html(j);
        console.log(a);
      } else {
        idss.forEach(row => {

          if (row == val2.id) {
            alert('请不要重复添加');
            return;
          }
        });
        var j = this.choiceIntsval + 1;
        this.choiceIntsval = j;
        this.choiceInts = "已选设备  " + j + "台";
        //this.totalval = j;
        $("#choseints").html(j);
        $("#choseints2").html(j);
        ids = ids + val2.id + ",";
        core.setCookie('makeorderids', ids, '30d');
      }


    },
    //单机首列多选框时间触发
    checkboxchange2: function(val1, val2) {
      //
      //判断是取消勾选,还是新勾选
      var i = 0;
      val1.forEach(val => {
        if (val == val2) {
          i = 1;
        }
      });
      //获取ids
      var ids = core.getCookie('makeorderids');

      var idss = core.getCookie('makeorderids').split(',');
      //如果等于0 表示是取消勾选
      if (i == 0) {
        //删除cookie字符串中的id
        var delstr = val2.id + ",";
        var a = ids.split(delstr).join("");
        core.setCookie('makeorderids', a, '30d');
        var j = this.choiceIntsval - 1;
        this.choiceIntsval = j;
        //this.totalval = j;
        this.choiceInts = "已选设备  " + j + "台";
        $("#choseints").html(j);
        $("#choseints2").html(j);
        // this.tableData.split(val2);
        console.log(a);
      } else {
        idss.forEach(row => {
          if (row == val2.id) {
            alert('请不要重复添加');
            return;
          }
        });
        var j = this.choiceIntsval + 1;
        this.choiceIntsval = j;
        //this.totalval = j;
        this.choiceInts = "已选设备  " + j + "台";
        $("#choseints").html(j);
        $("#choseints2").html(j);
        ids = ids + val2.id + ",";
        core.setCookie('makeorderids', ids, '30d');
      }
    },

    //全选预警
    getExprod: function() {
      //
      var ids = core.getCookie('makeorderids');
      var url = process.env.ecalibrationUrl + "order/api/v2/getExprodByIds";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: '1',
        pageSize: '10',
        equipmentids: ids

      }, this.getExprodcallback, conf);
    },
    getExprodcallback: function(response) {
      var date = response.data;
      var ids = core.getCookie('makeorderids');
      var idsLength = ids.split(',').length-1;
      if (date.length > 0) {
        date.forEach(row => {
          ids = ids + row.id + ",";
          core.setCookie('makeorderids', ids, '30d');
        });

        var j = date.length + idsLength;
        this.choiceInts = "已选设备  " + j + "台";
        this.choiceIntsval=j;
        $("#choseints").html(date.length + 1);
        $("#choseints2").html(date.length + 1);
        this.getEqupmentInfoByIds();
        this.getAllEqupmentInfo();
      } else {
        this.$notify({
          title: '警告',
          message: '你已经选择了所有的预警设备,请勿重复提交!',
          type: 'warning'
        });
      }

    },

    //分页查询
    cbhandleSizeChange: function(val) {
      this.size = val;
      this.getEuipmentList(this.size, this.currentPage);
    },
    cbhandleCurrentChange: function(val) {
      this.currentPage = val;
      this.getEuipmentList(this.size, this.currentPage);
    },

    //查看校准需求
    dialogTable: function() {
      this.dialogTableVisible = true;
      this.getCalibrationInfo();
    },
    getCalibrationInfo: function() {
      var ids = core.getCookie('makeorderids');
      var url = process.env.ecalibrationUrl + "order/api/v2/getCalibrationInfo";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: '1',
        pageSize: '10',
        equipmentids: ids

      }, this.dialogTablescallback, conf);
    },
    dialogTablescallback: function(response) {
      this.cbtableData = response.data;
      this.cbtotalval = parseInt(response.count);
      this.$nextTick(() => {
        this.cbtableData.forEach((element) => {
          this.$refs.cbmultipleTable.toggleRowSelection(element, true);

        });
      })
    },
    //单机首列多选框时间触发
    checkboxchange3: function(val1, val2) {
      //
      //判断是取消勾选,还是新勾选
      var i = 0;
      val1.forEach(val => {
        if (val == val2) {
          i = 1;
        }
      });
      // //获取ids
      var tempmakeorderids = this.tempmakeorderids;
      var ids = '';
      var idss = [];
      if (tempmakeorderids == 'temp') {
        ids = core.getCookie('makeorderids');

        idss = core.getCookie('makeorderids').split(',');
      } else {
        ids = tempmakeorderids;

        idss = tempmakeorderids.split(',');
      }
      if (this.temptotal == 0) {
        this.temptotal = this.cbtotalval;
      }

      //如果等于0 表示是取消勾选
      if (i == 0) {
        //删除cookie字符串中的id
        var delstr = val2.id + ",";
        ids = ids.split(delstr).join("");
        //   core.setCookie('makeorderids', a, '30d');
        // var j = this.temptotal - 1;
        // this.temptotal = j;
        var j = this.choiceIntsval - 1;
        this.choiceIntsval = j;
        this.choiceInts = "已选设备  " + j + "台";
        //   $("#choseints").html(j);
        $("#choseints2").html(j);
        //   console.log(a);
      } else {
        idss.forEach(row => {
          if (row == val2.id) {
            alert('请不要重复添加');
            return;
          }
        });
        //var j = this.temptotal + 1;
        //this.temptotal = j;
        var j = this.choiceIntsval + 1;
        this.choiceIntsval = j;
        this.choiceInts = "已选设备  " + j + "台";
        //   this.choiceInts = "已选设备  " + j + "台";
        //   $("#choseints").html(j);
        $("#choseints2").html(j);
        ids = ids + val2.id + ",";
        //   core.setCookie('makeorderids', ids, '30d');
      }
      this.tempmakeorderids = ids;
    },
    detail: function(val, id) {
      localStorage.setItem("id", id + "1");
      window.open("equDetail.html?id=" + id + "&isNew=false#jzxq");
    },

    storageHandler: function() {
      // alert(321);
    },
    nextStep: function() {
      var makeorderids = core.getCookie("makeorderids");
      if(makeorderids){
        window.location.href = "orderSubmitStep2.html";
      }else {
        this.$message({
          message: '请至少选择一台设备数据送校！',
          type: 'warning'
        });
      }
    },
    datehandle: function(val) {
      // ;
    },
    taxSave: function() {
      if (this.tempmakeorderids == "temp") {
        this.dialogTableVisible = false;
        return;
      }
      core.setCookie('makeorderids', this.tempmakeorderids, '30d');
      this.dialogTableVisible = false,
        this.getAllEqupmentInfo();
      this.getEqupmentInfoByIds();
    },
    search2: function() {
      if (this.activeName == 1) {
        this.getAllEqupmentInfo();
      }
      if (this.activeName == 2) {
        this.getEqupmentInfoByIds();
      }
    },

    checkallall: function(selection) {
      if (selection == 0) {
          var _this = this;
          var ids = core.getCookie('makeorderids');
          var idss = core.getCookie('makeorderids').split(',');
          var j = this.choiceIntsval;
          for (var i = 0; i < _this.alltableData.length; i++) {

            idss.forEach(item => {
              if (_this.alltableData[i].id == item) {
                j = j - 1;
                var delstr = item + ",";
                ids = ids.split(delstr).join("");
              }
            });
          }
          core.setCookie('makeorderids', ids, '30d');
          this.choiceIntsval = j;
          this.choiceInts = "已选设备  " + j + "台";
          $("#choseints").html(j);
          $("#choseints2").html(j);


      } else {

          var _this = this;
          var ids = core.getCookie('makeorderids');
          var idss = core.getCookie('makeorderids').split(',');
          var j = this.choiceIntsval;
          for (var i = 0; i < _this.alltableData.length; i++) {
            var tem = 0;
            idss.forEach(item => {
              if (_this.alltableData[i].id == item) {
                tem = 1
              }
            });
            if (tem == 0) {
              j = j + 1;

              ids = ids + _this.alltableData[i].id + ",";
            }


          }
          core.setCookie('makeorderids', ids, '30d');
          this.choiceIntsval = j;
          this.choiceInts = "已选设备  " + j + "台";
          //   this.choiceInts = "已选设备  " + j + "台";
          //   $("#choseints").html(j);
          $("#choseints2").html(j);

      }
    },
    checkall2: function(selection) {
      if (selection == 0) {

          var _this = this;
          var ids = core.getCookie('makeorderids');
          var idss = core.getCookie('makeorderids').split(',');
          var j = this.choiceIntsval;
          for (var i = 0; i < _this.tableData.length; i++) {

            idss.forEach(item => {
              if (_this.tableData[i].id == item) {
                var delstr = item + ",";
                ids = ids.split(delstr).join("");
                j = j - 1;
              }
            });
          }
          core.setCookie('makeorderids', ids, '30d');

          this.choiceIntsval = j;
          this.choiceInts = "已选设备  " + j + "台";
          $("#choseints").html(j);
          $("#choseints2").html(j);




      } else {

          var _this = this;
          var ids = core.getCookie('makeorderids');
          var idss = core.getCookie('makeorderids').split(',');
          var j = this.choiceIntsval;
          for (var i = 0; i < _this.tableData.length; i++) {
            var tem = 0;
            idss.forEach(item => {
              if (_this.tableData[i].id == item) {
                tem = 1
              }
            });
            if (tem == 0) {
              j = j + 1;

              ids = ids + _this.tableData[i].id + ",";
            }


          }
          core.setCookie('makeorderids', ids, '30d');
          this.choiceIntsval = j;
          this.choiceInts = "已选设备  " + j + "台";
          //   this.choiceInts = "已选设备  " + j + "台";
          //   $("#choseints").html(j);
          $("#choseints2").html(j);



      }
    },
  }
}
</script>

<style scope>
#orderSubmit .step {
  cursor: pointer;
}





/*当前步骤的样式，，圆圈变黄，里面字变白，提示信息变黄*/

#orderSubmit .step.active .step_num {
  background-color: #FF822F;
  color: #fff;
  border: 1px solid #FF822F;
}

#orderSubmit .step.active .step_tips {
  color: #FF822F;
}





/*当前步骤的样式，圆圈变黄，里面字变白，提示信息变黄*/

#orderSubmit .step_num {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  color: #999;
  border: 1px solid #999;
  font-size: 20px;
  text-align: center;
}

#orderSubmit .step_tips {
  font-size: 18px;
  color: #999999;
  padding-left: 10px;
}

#orderSubmit .mid_line {
  height: 1px;
  width: 50%;
  background-color: #999;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#orderSubmit .orderSubmit_table_tab {
  height: 48px;
  line-height: 47px;
  border-bottom: 2px solid #ddd;
  font-size: 18px;
  color: #666;
  margin-top: 30px;
  margin-bottom: 19px;
}

#orderSubmit .orderSubmit_table_tab .all_dev_text {
  color: #ff822f;
  border-bottom: 2px solid #ff822f;
}

#orderSubmit .orderSubmit_table_tab .all_dev_text,
.choosed_dev_text {
  text-align: center;
  cursor: pointer;
}

#orderSubmit .orderSubmit_table_tab .all_dev_num,
.choosed_dev_num {
  color: #FF822F;
  padding-left: 10px;
}

#orderSubmit .orderSubmit_table_tab .all_dev_text:focus,
#orderSubmit .orderSubmit_table_tab .choosed_dev_num:focus {
  border-bottom: 2px solid #ff822f;
  height: 48px;
  color: #FF822F;
}

#orderSubmit thead tr {
  height: 90px;
}

#orderSubmit thead tr th {

  background-color: #f9f9f9;
}

#orderSubmit .el-input__prefix {
  /* right: -165px;*/
  padding-left: 10px;
}





/*#orderSubmit .el-input--small .el-input__inner {*/


/*height: 40px;*/


/*font-size: 14px;*/


/*line-height: 40px;*/


/*width: 300px;*/


/*}*/


/*#orderSubmit .el-input--small .el-input__inner::placeholder {*/


/*font-size: 14px;*/


/*line-height: 40px;*/


/*}*/

#orderSubmit .table_footer {
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
}

#orderSubmit .el-pagination {
  color: #999;
  float: right;
  margin-top: 15px;
}

.el-pager li {
  margin: 0 5px;
}

.el-pager li.active {
  background-color: #ff822f;
  color: #fff;
}

#orderSubmit .all_choose_dev,
.next_step_btn {
  margin-left: 20px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #ff822f;
  width: 110px;
  height: 40px;
  text-align: center;
  padding: 0;
  line-height: 40px;
}

#orderSubmit .all_choose_dev:hover,
.next_step_btn:hover {
  color: #FFFFFF;
  background-color: #ff822f;
  border: none;
}

.next_step_btn {
  margin-left: 30px;
}

#orderSubmit .all_choose_dev span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#orderSubmit .next_step {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
}

.choosed_dev_text_bottom,
.tai {
  color: #666;
  margin-left: 12px;
}

.choosed_dev_num_bottom {
  font-size: 28px;
  padding-left: 0;
}

.main_content {
  margin-bottom: 145px;
}

.content_container {
  /* display: table;*/
}

#orderSubmit .el-table_1_column_2 .caret-wrapper {
  position: absolute;
  top: 6%;
  right: 25%;
}

#orderSubmit .el-table_1_column_3 .caret-wrapper {
  position: absolute;
  top: 6%;
  right: 25%;
}

#orderSubmit .el-table_1_column_4 .caret-wrapper {
  position: absolute;
  top: 6%;
  right: 25%;
}

#orderSubmit .el-table_1_column_5 .caret-wrapper {
  position: absolute;
  top: 6%;
  right: 25%;
}

#orderSubmit .el-table th.el-table_1_column_2>.cell p s {
  background: url(../../../static/images/icon_shaixuan.png) 185px 13px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

#table_h_col2 s {
  background: url(../../../static/images/icon_shaixuan.png) 0px 0px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32%;
  left: 74%;
  display: none;
}

#table_h_col3 s {
  background: url(../../../static/images/icon_shaixuan.png) 0px 0px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32%;
  left: 64%;
  /*display: none;*/
}

.el-table th div {

  white-space: unset;
}

.el-table th>.cell:hover #table_h_col2 s,
.el-table th>.cell:hover #table_h_col2 s {
  display: block;
}

#orderSubmit .el-table th.el-table_1_column_4>.cell {}

#upp_icon {
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../static/images/input_shouqi.png) 0px 0px no-repeat;
  position: relative;
  top: -42px;
  right: -8px;
}

.el-table th.el-table_1_column_3 div {
  overflow: visible;
}

.el-table th.el-table_1_column_4 div {
  overflow: visible;
}

.el-table th.el-table_1_column_3 #upp_icon,
.el-table th.el-table_1_column_4 #upp_icon {
  top: -29px;
  right: -18px;
}

#table_h_col3 #upp_icon,
#table_h_col4 #upp_icon {
  right: -18px;
}

.el-table th>.cell {
  position: relative;
  height: 30px;
}

.el-table th>.cell {
  vertical-align: unset;
}

.azm-btn_query {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #ff822f;
  border: none;
}
</style>
