<template>
  <div id="orderSubmit1">
    <sgsLayout :isShowCustomer=false></sgsLayout>

    <el-main class="main_content content_container">
      <!-- 步骤提示 -->
      <el-row>
        <el-col :span="7" class="step finish_step">
          <span class="step_num step_num_finish">
            <i class="el-icon-check"> </i>
          </span>
          <span class="step_tips">选择设备</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step active">
          <span class="step_num">2</span>
          <span class="step_tips">确认订单</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step">
          <span class="step_num">3</span>
          <span class="step_tips">提交完成</span>
        </el-col>
      </el-row>
      <!-- 步骤提示END -->
      <!-- 服务信息模块 -->
      <el-collapse v-model="activeNames" @change="handleChange" class="main">
        <el-collapse-item title="服务信息" name="1">
          <template slot="title">
            服务信息
            <span class="tiele_right">收起</span>
          </template>
          <el-row>
            <!-- 左面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">期望上门服务日期</span>
                </el-col>
                <el-col :span="16">
                  <el-date-picker :editable="false" v-model="tbecorder.expectdoorservicedate"  @change="changelastdoorservicedate" type="date" format="yyyy-MM-dd" placeholder="" :picker-options="pickerOptions1">
                  </el-date-picker>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 联系人</span>
                </el-col>
                <el-col :span="16">
                  <el-input v-model="tbEcCustomerInstance.calibrationcontactname" placeholder="">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">附件上传</span>
                </el-col>
                <el-col :span="16" class="upload_box">
                  <!--  <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                                                <el-button size="small" class='upload_btn'>上传</el-button>

                                            </el-upload>-->
                  <el-upload class="upload-demo" action="" :on-remove="handleRemove" :before-remove="beforeRemove" :beforeUpload="beforeAvatarUpload" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
                    <el-button size="small" class='upload_btn'>上传</el-button>
                  </el-upload>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">备注</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbecorder.remark">
                  </el-input>
                </el-col>
              </el-row>
            </el-col>
            <!-- 右面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 最晚上门服务日期</span>
                </el-col>
                <el-col :span="16">
                  <el-date-picker :editable="false" v-model="tbecorder.lastdoorservicedate" @change="changelastdoorservicedate" type="date" placeholder="" :picker-options="pickerOptions1">
                  </el-date-picker>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 联系电话</span>
                </el-col>
                <el-col :span="16">
                  <el-input v-model="tbEcCustomerInstance.calibrationmobile" placeholder="">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 校准地址</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbEcCustomerInstance.calibrationaddress">
                  </el-input>
                </el-col>
              </el-row>
            </el-col>

          </el-row>
        </el-collapse-item>
        <!-- 服务信息模块 END-->

        <!-- 报告信息模块 -->
        <el-collapse-item title="" name="2">
          <template slot="title">
            报告信息
            <span class="tiele_right">展开</span>
          </template>
          <el-row>
            <!-- 左面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 结论判定</span>
                </el-col>
                <el-col :span="16">
                  <!-- <el-dropdown  placement="bottom-start">
                            <el-button>请选择<i class="el-icon-arrow-down el-icon--right"></i>
                            </el-button>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>需要</el-dropdown-item>
                                <el-dropdown-item>不需要</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>-->

                  <el-select v-model="tbecorder.isconclusion" placeholder="请选择">
                    <el-option v-for="item in isconclusionoptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>

                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i>   是否需要纸质报告</span>
                </el-col>
                <el-col :span="16">
                  <!-- <el-dropdown placement="bottom-start">
                                                    <el-button>
                                                        请选择
                                                        <i class="el-icon-arrow-down el-icon--right"></i>
                                                    </el-button>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>是</el-dropdown-item>
                                                        <el-dropdown-item>否</el-dropdown-item>

                                                    </el-dropdown-menu>
                                                </el-dropdown>-->
                  <el-select v-model="tbecorder.reporttype" placeholder="请选择">
                    <el-option v-for="item in reporttypeoptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>

                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 委托者名称</span>
                </el-col>
                <el-col :span="16" class="">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbEcCustomerInstance.calibrationcustomernamecn">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10" v-if="tbecorder.reportlanguage === '' || tbecorder.reportlanguage == 1">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 英文委托者名称</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbEcCustomerInstance.calibrationcustomernameen">
                  </el-input>
                </el-col>
              </el-row>
            </el-col>
            <!-- 右面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 复校周期</span>
                </el-col>
                <el-col :span="16">
                  <!--<el-dropdown placement="bottom-start">
                                                    <el-button>
                                                        请选择
                                                        <i class="el-icon-arrow-down el-icon--right"></i>
                                                    </el-button>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item>需要</el-dropdown-item>
                                                        <el-dropdown-item>不需要</el-dropdown-item>

                                                    </el-dropdown-menu>
                                                </el-dropdown>-->
                  <el-select v-model="tbecorder.isrecalibrationperiod" placeholder="请选择" class="choose_language">
                    <el-option v-for="item in isrecalibrationperiodoptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 报告语言</span>
                </el-col>
                <el-col :span="16">

                  <el-select v-model="tbecorder.reportlanguage" placeholder="请选择" class="choose_language">
                    <el-option v-for="item in reportlanguageoptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>
                  <el-tooltip class="item" effect="#fff" content="请注意在设备详细资料中，填写设备的英文名称与英文品牌" placement="bottom">
                    <i class="el-icon-warning language_warning"></i>
                  </el-tooltip>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text"><i class="azm-text-red">*</i> 委托者地址</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}"
                            v-model="tbEcCustomerInstance.entrustmentaddresscn">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10" v-if="tbecorder.reportlanguage === '' || tbecorder.reportlanguage == 1">
                <el-col :span="8">
                  <span class="left_text"><i class="azm-text-red">*</i> 英文委托者地址</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :rows="2" placeholder="" :autosize="{ minRows: 5}"
                            v-model="tbEcCustomerInstance.entrustmentaddressen">
                  </el-input>
                </el-col>
              </el-row>
            </el-col>

          </el-row>

        </el-collapse-item>

        <!-- 报告信息模块END -->

        <!-- 企业信息模块 -->
        <el-collapse-item title="企业信息" name="3">
          <template slot="title">
            企业信息
            <span class="tiele_right">展开</span>
          </template>
          <el-row>
            <!-- 左面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 收件人</span>
                </el-col>
                <el-col :span="16">
                  <el-input placeholder="" :disabled="true" v-model="tbEcCustomerInstance.customercontactname">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 企业名称</span>
                </el-col>
                <el-col :span="16">
                  <el-input placeholder="" :disabled="true" v-model="tbEcCustomerInstance.customernamecn">
                  </el-input>
                </el-col>
              </el-row>

              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 发票地址</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :disabled="true" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbEcCustomerInstance.customerinvoiceaddress">
                  </el-input>
                </el-col>
              </el-row>
            </el-col>
            <!-- 右面 -->
            <el-col :span="12">
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 收件人联系电话</span>
                </el-col>
                <el-col :span="16">
                  <el-input placeholder="" :disabled="true" v-model="tbEcCustomerInstance.customermobile">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 企业税号</span>
                </el-col>
                <el-col :span="16">
                  <el-input placeholder="" :disabled="true" v-model="tbEcCustomerInstance.customertaxregistrationnumber">
                  </el-input>
                </el-col>
              </el-row>
              <el-row class="hang" :gutter="10">
                <el-col :span="8">
                  <span class="left_text">
                    <i class="azm-text-red">*</i> 发票邮寄地址</span>
                </el-col>
                <el-col :span="16">
                  <el-input type="textarea" :disabled="true" :rows="2" placeholder="" :autosize="{ minRows: 5}" v-model="tbEcCustomerInstance.customerinvoiceexpressaddress">
                  </el-input>
                  <!--<el-checkbox class="same_address" v-model="invoicecheck" @change="changeinvoice">与发票地址相同</el-checkbox>-->

                </el-col>
              </el-row>
            </el-col>

          </el-row>
        </el-collapse-item>

      </el-collapse>

      <!-- 企业信息模块END -->

      <el-row>
        <div class="button_box">
          <el-button class="button" @click="prestep">上一步</el-button>
          <el-button class="button" @click="createOrder(1)">订单暂存</el-button>
          <el-button class="sgs_active_button" @click="createOrder(2)">确认提交</el-button>
        </div>
      </el-row>
    </el-main>

  </div>
</template>

<script>
import sgsLayout from '../sgsLayout/sgsLayout'

var HttpServer = require('../../components/http.js');
var core = require('../../components/commonFunc.js');
export default {
  name: 'orderSubmitStep2',

  data() {

    return {
      pickerOptions1: {
        disabledDate(time) {
          var date_time = core.formatDate(new Date(), 'yyyy-MM-dd')
          var today = +new Date(date_time + ' 00:00:00')
          return today > +time
        }
      },
      activeNames: ['1'],
      //ec_order表 receiver
      tbecorder: {
        reporttype: '',
        isrecalibrationperiod: '',
        isconclusion: '',
        //ec_order表期望上门服务时间
        expectdoorservicedate: '',
        //ec_order表最晚上门服务时间
        lastdoorservicedate: '',
        //ec_order表的remark
        remark: '',
        reportlanguage: '',
        ecorderstatus: ''
      },
      tbEcCustomerInstance: {
        //企业收件人
        customercontactname: '',
        //企业收件人电话
        customermobile: '',
        //ec_customer_instance表的邮箱
        customeremail: '',
        //企业名称
        customernamecn: '',
        //客户编号
        calibrationnumber: '',
        //委托人地址
        entrustmentaddresscn: '',
        entrustmentaddressen: '',

        //服务信息联系人
        calibrationcontactname:'',
        calibrationcustomernamecn: '',
        calibrationcustomernameen: '',
        //校准联系人电话
        calibrationmobile: '',
        //校准联系人邮箱
        calibrationemail: '',
        //ec_customer_instance表校准地址
        calibrationaddress: '',
        //企业税号
        customertaxregistrationnumber: '',
        //发票地址
        customerinvoiceaddress: '',
        //开户行
        customeropeningbank: '',
        //发票邮寄地址
        customerinvoiceexpressaddress: '',
        //服务地区
        servicearea: '',
        id: '',
      },
      //ec_order的是否需要结论
      //下拉框
      isconclusionoptions: [{
        value: '1',
        label: '需要'
      }, {
        value: '0',
        label: '不需要'
      }],
      //ec_order的是否校准日期
      //下拉框
      isrecalibrationperiodoptions: [{
        value: '1',
        label: '需要'
      }, {
        value: '0',
        label: '不需要'
      }],

      //ec_order的是报告类型
      //下拉框
      reporttypeoptions: [{
        value: '0',
        label: '否'
      }, {
        value: '1',
        label: '是'
      }],

      //ec_order的是报告语言
      //下拉框
      reportlanguageoptions: [{
        value: '0',
        label: '中文'
      }, {
        value: '1',
        label: '中英文'
      }],
      invoicecheck: false,

      fileList: [],//设备附件信息
      systemID: 6,
      orderid: '',
      orderno: '',
      equipmentcount: '',
      temp: '',
      steptwovo:{
      expectdoorservicedate:'',
      calibrationcontactname:'',
      lastdoorservicedate:'',
      calibrationmobile:'',
      calibrationaddress:'',
      isconclusion:'',
      isrecalibrationperiod:'',
      reporttype:'',
      reportlanguage:'',
      customerid:'',
      calibrationcustomernamecn:'',
      calibrationcustomernameen:'',
      entrustmentaddresscn:'',
      entrustmentaddressen:'',
      remark:''
      },

    }
  },
  mounted: function() {
    $(".el-select-dropdown__item").click(function() {
      if ($(this).find('span').text() == '中英文') {
        $('.language_warning').css({
          display: "inline-block"
        })
      }
      if ($(this).find('span').text() == '中文') {
        $('.language_warning').css({
          display: "none"
        })
      }
    })

    $('#orderSubmit1 .el-collapse-item__header').click(function() {
      if ($(this).find('.tiele_right').html() == '展开') {
        $(this).find('.tiele_right').html('收起')
      } else {
        $(this).find('.tiele_right').html('展开')
      }
    })
    $('.el-collapse-item__header').click(function() {
      $(this).toggleClass('is-active')
    })
  },
  created: function() {
    this.initCustomer();
    this.initlastdate();
  },
  components: {
    sgsLayout
  },

  methods: {

    initStep2:function(){
      var url = process.env.ecalibrationUrl + "/order/api/v2/getStepvo";
      var ids = core.getCookie('makeorderids');
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId')

      }, this.initStep2callback, conf);
    },

    initStep2callback: function(response) {
      //this.tbecorder.expectdoorservicedate=     response.tbSteptwoTemp.expectdoorservicedate ;
      //this.tbecorder.lastdoorservicedate = response.tbSteptwoTemp.lastdoorservicedate;
      this.tbEcCustomerInstance.calibrationcontactname = response.tbSteptwoTemp.calibrationcontactname;
      this.tbEcCustomerInstance.calibrationmobile = response.tbSteptwoTemp.calibrationmobile;
      this.tbEcCustomerInstance.calibrationaddress = response.tbSteptwoTemp.calibrationaddress;
      this.tbecorder.isconclusion = response.tbSteptwoTemp.isconclusion;
      this.tbecorder.isrecalibrationperiod = response.tbSteptwoTemp.isrecalibrationperiod ;
      this.tbecorder.reporttype = response.tbSteptwoTemp.reporttype;
      this.tbecorder.reportlanguage = response.tbSteptwoTemp.reportlanguage;
            this.tbEcCustomerInstance.calibrationcustomernamecn = response.tbSteptwoTemp.calibrationcustomernamecn;
      this.tbEcCustomerInstance.calibrationcustomernameen = response.tbSteptwoTemp.calibrationcustomernameen;
      this.tbEcCustomerInstance.entrustmentaddresscn = response.tbSteptwoTemp.entrustmentaddresscn;
      this.tbEcCustomerInstance.entrustmentaddressen = response.tbSteptwoTemp.entrustmentaddressen;
      this.tbecorder.remark = response.tbSteptwoTemp.remark;

    },
    initCustomer: function() {
      var url = process.env.ecalibrationUrl + "/equipmentCustomer/api/v1/getCustomerInfoById";
      var ids = core.getCookie('makeorderids');
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      HttpServer.post(this, url, {
        id: core.getCookie('defaultCustId')

      }, this.initCustomercallback, conf);
    },

    initCustomercallback: function(response) {
      this.tbEcCustomerInstance = response.customerinfo;
      this.initStep2();
    },
    get_address() {
      if (this.checked == 'false') {
        alert("hahaha")
      }
    },
    handleChange(val) {
      console.log(val);
    },
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    },
    renderHeader_datepicker(createElement, {
        column
      }) {
      return createElement(
        'div', {
          attrs: {
            id: ""
          }
        }, [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-date-picker', {
            attrs: {
              type: "date",
              id: "jzdq_date"
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    renderHeader_input(createElement, {
        column
      }) {
      return createElement(
        'div', {
          attrs: {
            id: "table_h_col3"
          }
        }, [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-input', {
            attrs: {
              type: "input",
              id: 'sbmc_input'
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    createOrder: function(status) {
      this.tbecorder.ecorderstatus = status;
      if (status == 1) {
        if (this.orderid != '') {
          this.$notify({
            title: '警告',
            showClose: true,
            message: '订单信息已经保存,请勿重复提交!',
            type: 'warning'
          });
          return
        }
      }
      // const p = this.$createElement;
      // let newDatas = [];
      if (this.tbecorder.lastdoorservicedate == '' || this.tbecorder.lastdoorservicedate ==null) {
        this.$notify({
          title: '警告',
          showClose: true,
          message: '最晚上门时间不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'最晚上门时间不能为空!'));
      }
     var date=this.tbecorder.lastdoorservicedate;
     var date2=this.tbecorder.expectdoorservicedate;
     if(date2!=null && date2!=''){
       var d1 = new Date(date);
       var d2 = new Date(date2);
       var  days=Math.ceil(parseInt(d1 - d2) / 1000 / 60/60/24);
       if(days<=0){
        this.$notify({
          title: '警告',
            showClose: true,
            message: '最晚上门时间不能早于期望上门时间!',
            type: 'warning'
          });
          return false;
         // newDatas.push(p('p',null,'最晚上门时间不能早于期望上门时间!'));
       }
     }
      if (this.tbEcCustomerInstance.calibrationcontactname == ''
        || this.tbEcCustomerInstance.calibrationcontactname ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '联系人不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'联系人不能为空!'));
      }
      if (this.tbEcCustomerInstance.calibrationmobile == ''
        || this.tbEcCustomerInstance.calibrationmobile ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '联系电话不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'联系电话不能为空!'));
      }
      if (this.tbEcCustomerInstance.calibrationaddress == ''
        || this.tbEcCustomerInstance.calibrationaddress ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '校准地址不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'校准地址不能为空!'));
      }
      if (this.tbecorder.isconclusion == '' || this.tbecorder.isconclusion ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '请选择结论判定!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'请选择结论判定!'));
      }
      if (this.tbecorder.isrecalibrationperiod == '' || this.tbecorder.isrecalibrationperiod ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '请选择是否需要复校周期!',
          type: 'warning'
        });

        return false;
        // newDatas.push(p('p',null,'请选择是否需要复校周期!'));
      }
      if (this.tbecorder.reporttype == '' || this.tbecorder.reporttype ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '请选择报告类型!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'请选择报告类型!'));
      }
      if (this.tbecorder.reportlanguage == ''  || this.tbecorder.reportlanguage ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '请选择报告语言!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'请选择报告语言!'));
      }

      if (this.tbEcCustomerInstance.calibrationcustomernamecn == ''
        || this.tbEcCustomerInstance.calibrationcustomernamecn ==null) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '委托者名称不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'委托者名称不能为空!'));
      }
      if(!this.tbEcCustomerInstance.entrustmentaddresscn){
       this.$notify({
          title: '警告',
          showClose: true,
          message: '委托者地址不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'委托者地址不能为空!'));
      }
    if ( this.tbecorder.reportlanguage==1) {
      if (this.tbEcCustomerInstance.calibrationcustomernameen == ''
        || this.tbEcCustomerInstance.calibrationcustomernameen ==null ){
       this.$notify({
          title: '警告',
          showClose: true,
          message: '英文委托者不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'英文委托者不能为空!'));
      }
      if(!this.tbEcCustomerInstance.entrustmentaddressen){
       this.$notify({
          title: '警告',
          showClose: true,
          message: '英文委托者地址不能为空!',
          type: 'warning'
        });
        return false;
        // newDatas.push(p('p',null,'英文委托者地址不能为空!'));
      }
    }
    // if(newDatas.length>0){
    //   this.$confirm( p('div',null, newDatas),
    //     '提示', {
    //       confirmButtonText: '确定',
    //       cancelButtonText: '取消',
    //       showCancelButton:false,
    //       type: 'warning',
    //       center: true
    //     }).then(() => {
    //   }).catch(() => {
    //   });
    //   return false;
    // }
      this.saveStepvo();
      var url = process.env.ecalibrationUrl + "/order/api/v2/createOrder2";
      var ids = core.getCookie('makeorderids');
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }

      //this.tbecorder.expectdoorservicedate=core.formatDate(this.tbecorder.expectdoorservicedate, 'yyyy-MM-dd');// core.formatDate(this.tbecorder.expectdoorservicedate);
      //this.tbecorder.lastdoorservicedate=core.formatDate(this.tbecorder.lastdoorservicedate, 'yyyy-MM-dd');
      //formatDateByFormat
      HttpServer.post(this, url, {
        tbecorder: this.tbecorder,
        tbEcCustomerInstance: this.tbEcCustomerInstance,
        equipmentids: ids,
        fileList: this.fileList,
        orderid: this.orderid,
        equipmentcount: this.equipmentcount,
        orderno: this.orderno,
        customerid: core.getCookie('defaultCustId')

      }, this.createOrdercallback, conf);
    },

    createOrdercallback: function(response) {
      if (response.success) {

        this.orderid = response.orderid;
        this.orderno = response.orderno;
        this.equipmentcount = response.equipmentcount;
        if (this.tbecorder.ecorderstatus == 1) {

          window.location.href = "orderDetail.html?type=1";

        } else {


          window.location.href = "orderSubmitStep3.html?orderid=" + response.orderid + "&orderno=" + response.orderno + "&equipmentcount=" + response.equipmentcount;
        }
      }

    },
    changeinvoice: function() {
      if (this.invoicecheck) {
        this.temp = this.tbEcCustomerInstance.customerinvoiceexpressaddress;
        this.tbEcCustomerInstance.customerinvoiceexpressaddress = this.tbEcCustomerInstance.customerinvoiceaddress;

      } else {
        this.tbEcCustomerInstance.customerinvoiceexpressaddress = this.temp;
      }
    },

    handleRemove(file, fileList) {//具体删除的操作
      console.log(file, fileList);
      var url = process.env.FrameWorkApiUrl + "file/delete";
      let fd = new FormData()
      fd.append('key', file.fileid)
      var conf = {
        'isCallback': false
      }
      HttpServer.post(this, url, fd, "", conf);
      this.fileList = fileList;
    },
    handlePreview(file) {//点击下载文件
      location.href = file.url;
    },
    handleExceed(files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件`);
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    beforeAvatarUpload(file) {
      const extension = file.name.split('.')[1] === 'xls'
      const extension2 = file.name.split('.')[1] === 'xlsx'
      const extension3 = file.name.split('.')[1] === 'doc'
      const extension4 = file.name.split('.')[1] === 'docx'
      const extension5 = file.name.split('.')[1] === 'jpg'
      const extension6 = file.name.split('.')[1] === 'img'
      const extension7 = file.name.split('.')[1] === 'pdf'
      const isLt2M = file.size / 1024 / 1024 < 10
      if (!extension && !extension2 && !extension3 && !extension4 && !extension5 && !extension6 && !extension7) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '上传附件只能是 xls、xlsx、doc、docx 格式!',
          type: 'warning'
        });
        return
      }
      if (!isLt2M) {
       this.$notify({
          title: '警告',
          showClose: true,
          message: '上传附件大小不能超过 10MB!',
          type: 'warning'
        });
        return
      }
      var _this = this;
      let fd = new FormData()
      fd.append('file', file)
      fd.append('systemID', '6')
      fd.append('objectType', '2')
      fd.append('objectID', 'ORD0001')
      var url = process.env.FrameWorkApiUrl + "file/doUpload";
      var conf = {
        'isCallback': 'true'
      }
      HttpServer.post(_this, url, fd, _this.uploadOk, conf);
      return true
    },
    //上传附件成功后的回调函数
    uploadOk(response) {
      var _this = this;
      var f = {
        name: response.data[0].attachmentName + '.' + response.data[0].suffixes,
        url: response.data[0].path,
        fileid: response.data[0].id,
        orderno: '',
        type: 2
      };
      _this.fileList.push(f);
    },
    prestep: function() {

      if (this.tbecorder.ecorderstatus  == 1) {
        if (this.orderid != '') {
         this.$notify({
          title: '警告',
            showClose: true,
            message: '订单信息已经保存,不能返回上一步!',
            type: 'warning'
          });
          return
        }
      }
          window.location.href = "orderSubmit.html";
    },
    checknull: function() {

    },
    initlastdate:function(){
      var date1 = new Date();
      var date2 = new Date(date1);
      date2.setDate(date1.getDate() + 35);
      this.tbecorder.lastdoorservicedate=date2.getFullYear() + "-" + (date2.getMonth() + 1) + "-" + date2.getDate();
      console.log(date2.getFullYear() + "-" + (date2.getMonth() + 1) + "-" + date2.getDate());
    },
    changelastdoorservicedate:function(val){
     var date=this.tbecorder.lastdoorservicedate;
     var date2=this.tbecorder.expectdoorservicedate;
     if(date2!=null && date2!=''){

     var d1 = new Date(date);
     var d2 = new Date(date2);
     var  days=Math.ceil(parseInt(d1 - d2) / 1000 / 60/60/24);
     if(days<=0){
       this.$notify({
          title: '警告',
          showClose: true,
          message: '最晚上门时间不能早于期望上门时间!',
          type: 'warning'
        });
        return false;
     }
     }

    },
    saveStepvo:function(){
      this.steptwovo.expectdoorservicedate = this.tbecorder.expectdoorservicedate;
      this.steptwovo.lastdoorservicedate = this.tbecorder.lastdoorservicedate;
      this.steptwovo.calibrationcontactname = this.tbEcCustomerInstance.calibrationcontactname;
      this.steptwovo.calibrationmobile = this.tbEcCustomerInstance.calibrationmobile;
      this.steptwovo.calibrationaddress = this.tbEcCustomerInstance.calibrationaddress;
      this.steptwovo.isconclusion = this.tbecorder.isconclusion;
      this.steptwovo.isrecalibrationperiod = this.tbecorder.isrecalibrationperiod ;
      this.steptwovo.reporttype = this.tbecorder.reporttype;
      this.steptwovo.reportlanguage = this.tbecorder.reportlanguage;
      this.steptwovo.calibrationcustomernamecn = this.tbEcCustomerInstance.calibrationcustomernamecn;
      this.steptwovo.calibrationcustomernameen = this.tbEcCustomerInstance.calibrationcustomernameen;
      this.steptwovo.entrustmentaddresscn = this.tbEcCustomerInstance.entrustmentaddresscn;
      this.steptwovo.entrustmentaddressen = this.tbEcCustomerInstance.entrustmentaddressen;
      this.steptwovo.remark = this.tbecorder.remark;
      this.steptwovo.customerid = core.getCookie('defaultCustId');
      var url = process.env.ecalibrationUrl + "/order/api/v2/savesteptwovo";

      var conf = {
        'isCallback': 'true'
      }
      HttpServer.post(this, url, {
        steptwovo: this.steptwovo

      }, this.saveStepvorcallback, conf);
    },
    saveStepvorcallback:function(response){

    }
  }
}
</script>


<style scope>
#orderSubmit1 .step {
  cursor: pointer;
}


/*当前步骤的样式，，圆圈变黄，里面字变白，提示信息变黄*/

#orderSubmit1 .step.active .step_num {
  background-color: #FF822F;
  color: #fff;
  border: 1px solid #FF822F;
}

#orderSubmit1 .step.active .step_tips,
.sy_days,
.el-pager li:hover,
.sbbh_data {
  color: #FF822F;
}

.sbbh_data {
  cursor: pointer;
}

.sbbh_data:hover {
  text-decoration: underline;
}


/*当前步骤的样式，圆圈变黄，里面字变白，提示信息变黄*/

#orderSubmit1 .step_num {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  color: #999;
  border: 1px solid #999;
  font-size: 20px;
  text-align: center;
  font-family: SourceHanSansCN-Regular;
  line-height: 34px;
}

#orderSubmit1 .step_tips {
  font-size: 18px;
  color: #999999;
  padding-left: 10px;
}

#orderSubmit1 .mid_line {
  height: 1px;
  width: 50%;
  background-color: #999;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#orderSubmit1 .finish_step *,
#orderSubmit1 .finish_step .step_tips {
  color: #FF822F;
}

#orderSubmit1 .finish_step .step_num {
  border: 1px solid #FF822F;
}

#orderSubmit1 .finish_step .mid_line {
  background-color: #FF822F;
}


/*step提示END*/

#orderSubmit1 .el-collapse-item__header {
  height: 60px;
  line-height: 60px;
  /* border: 1px solid #ddd;*/
  background-color: #f9f9f9;
  font-family: SourceHanSansCN-Bold;
  font-size: 18px;
  color: #333333;
  padding-left: 20px;
}

.el-collapse-item__header {
  border-bottom: none;
}

#orderSubmit1 .el-collapse-item.is-active .el-collapse-item__header {
  /*border: 1px solid #ddd;*/
  background-color: #fff;
}

#orderSubmit1 .el-collapse-item {
  margin-bottom: 30px;
}

#orderSubmit1 .el-collapse-item__arrow {
  line-height: 60px;
}

.main {
  border: none;
  margin-top: 40px;
}

.main .el-collapse-item__wrap {
  border-bottom: none;
}

.hang {
  margin-bottom: 20px;
}

.left_text {
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
  margin-top: 0;
}

.main input {
  /*  margin-top: 20px;*/
  width: 300px;
}

.upload_box {
  width: 300px;
  height: 40px;

  border: 1px solid #ddd;
  border-radius: 2px;
  margin-left: 5px;
  position: relative;
}

.upload_btn {
  border: 1px solid #FF822F;
  border-radius: 2px;
  color: #ff822f;
  margin: 0 auto;
  display: table;
  background: #fff;
  position: absolute;
  top: 15%;
  right: 8px;
  width: 60px;
  height: 26px;
  line-height: 9px;
}

.el-upload-list {
  top: 0;
}

#orderSubmit1 .el-collapse-item {
  border: 1px solid #ddd;
}

.el-collapse-item__content {
  padding-left: 20px;
}

.main .el-dropdown button {
  width: 300px;
  height: 40px;
  text-align: left;
}

.main .el-dropdown button:hover {
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ddd;
}

.main .el-dropdown button span {
  width: 100%;
  display: inline-block;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #CCCCCC;
}

.main .el-dropdown button span i {
  float: right;
}

.language_warning {
  color: #ff822f;
  margin-left: 10px;
  font-size: 18px;
  display: none;
}

.el-tooltip__popper {
  color: #ff822f;
  border: 1px solid #ff822f;
  max-width: 100px;
  line-height: 1.2;
}

.same_address {
  margin-top: 12px;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #999999;
}

#orderSubmit1 .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #666;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {

  color: #666;
}

.next_step_btn {
  margin-left: 20px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #ff822f;
  width: 110px;
  height: 40px;
  text-align: center;
  padding: 0;
  line-height: 40px;
}

.button_box {
  float: right;
}

.button_box .button {
  width: 110px;
  height: 40px;
  border: 1px solid #FF822F;
  border-radius: 2px;

  background-color: #fff;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FF822F;
}

.button_box .sgs_active_button {
  width: 110px;
  height: 40px;
  border: 1px solid #FF822F;
  border-radius: 2px;
  color: #fff;
  background-color: #ff822f;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
}

#orderSubmit1 .el-collapse-item__header i {
  display: none;
}

#orderSubmit1 .el-collapse-item__header .tiele_right {
  float: right;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #999999;
  display: inline-block;
  padding-right: 20px;
  height: 60px;
  line-height: 60px;
}
</style>
