<template>

  <div id="orderSubmit2">
    <sgsLayout :isShowCustomer=false :active-index="3"></sgsLayout>
    <el-main class="main_content content_container">
      <!-- 步骤提示 -->
      <el-row>
        <el-col :span="7" class="step finish_step">
            <span class="step_num step_num_finish">
              <i class="el-icon-check"> </i>
            </span>
          <span class="step_tips">选择设备</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step finish_step">
            <span class="step_num step_num_finish">
              <i class="el-icon-check"> </i>
            </span>
          <span class="step_tips">确认订单</span>
          <span class="mid_line"></span>
        </el-col>
        <el-col :span="7" class="step active">
          <span class="step_num">3</span>
          <span class="step_tips">提交完成</span>
        </el-col>
      </el-row>
      <!-- 步骤提示END -->

      <!-- 中间 -->
      <el-row>
        <el-col :span="6" :offset="1"><img src="../../../static/images/icon_normal.png" class="finish_gou"></el-col>
      </el-row>
      <el-row>
        <el-col :span="6" class="tjcg_text" :offset="1"> 提交成功！</el-col>
      </el-row>
      <el-row>
        <el-col :span="10" :offset="1">
          <p class='text'>您的订单
            <span class="sgs_active_text" @click="goOrder">{{ordernohtml}}</span>已提交，SGS校准实验室正在</p>
          <p class='text'>为您安排校准服务。</p>
        </el-col>
        <el-col :span="10" :offset="1">
          <p class='text'>订单编号：
            <span class="sgs_active_text" @click="goOrder">{{ordernohtml}}</span>
          </p>
          <p class='text'>设备数量：{{equipmentcount}}个</p>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6" :offset="1">
          <el-button class="sgs_active_btn" @click="goFrist">返回首页</el-button>
          <a class="active_text_sgs" @click="goOrder">查看订单详情</a>

        </el-col>
      </el-row>
      <el-row></el-row>
    </el-main>
  </div>

</template>
<style scope>
  #orderSubmit2 .step {
    cursor: pointer;
  }

  /*当前步骤的样式，，圆圈变黄，里面字变白，提示信息变黄*/

  #orderSubmit2 .step.active .step_num {
    background-color: #FF822F;
    color: #fff;
    border: 1px solid #FF822F;
  }

  #orderSubmit2 .step.active .step_tips,
  .sy_days,
  .el-pager li:hover,
  .sbbh_data {
    color: #FF822F;
  }

  .sbbh_data {
    cursor: pointer;
  }

  .sbbh_data:hover {
    text-decoration: underline;
  }

  /*当前步骤的样式，圆圈变黄，里面字变白，提示信息变黄*/

  #orderSubmit2 .step_num {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    border: 1px solid #999;
    font-size: 20px;
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    line-height: 34px;
  }

  #orderSubmit2 .step_tips {
    font-size: 18px;
    color: #999999;
    padding-left: 10px;
  }

  #orderSubmit2 .mid_line {
    height: 1px;
    width: 50%;
    background-color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }

  #orderSubmit2 .finish_step *,
  #orderSubmit2 .finish_step .step_tips {
    color: #FF822F;
  }

  #orderSubmit2 .finish_step .step_num {
    border: 1px solid #FF822F;
  }

  #orderSubmit2 .finish_step .mid_line {
    background-color: #FF822F;
  }

  /*step提示END*/

  .table_footer {
    height: 60px;
    line-height: 60px;
    background-color: #f9f9f9;
    border: 1px solid #DDDDDD;
  }

  #orderSubmit2 .el-pagination {
    color: #999;
    float: right;
    margin-top: 15px;
  }

  .el-pager li {
    margin: 0 5px;
  }

  .el-pager li.active {
    background-color: #ff822f;
    color: #fff;
  }

  #orderSubmit2 .el-pagination__editor.el-input .el-input__inner {
    height: 24px !important;
  }

  .next_step_btn {
    margin-left: 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #ff822f;
    width: 110px;
    height: 40px;
    text-align: center;
    padding: 0;
    line-height: 40px;
  }

  .el-table th > .cell {
    height: 90px;
  }
</style>
<script>
  import sgsLayout from '../sgsLayout/sgsLayout'
var ecUtil = require('../../components/util.js');
  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  export default {
    name: 'orderSubmitStep3',

    data () {

      return {
        ordernohtml: '',
        orderid: '',
        equipmentcount: ''

      }
    },
    mounted: function () {


      // window.onscroll=function(){
      //   $(".w_header").css({
      //     position:'fixed',
      //     zIndex:'999999999999999999999999999',
      //         top:'0'

      //   })
      //   $(".w_header").slideUp(150,function(){

      //   })
      // }
      $('#orderSubmit1 .el-collapse-item__header').click(function () {
        if ($(this).find('.tiele_right').html() == '展开') {
          $(this).find('.tiele_right').html('收起')
        } else {
          $(this).find('.tiele_right').html('展开')
        }
      })
      $('.el-collapse-item__header').click(function () {
        $(this).toggleClass('is-active')
      })
    },
    created: function () {
      this.initInfo();
    },
    components: {
      sgsLayout
    },

    methods: {
      initInfo: function () {
        this.ordernohtml = core.getUrlParam('orderno');
        this.orderid = core.getUrlParam('orderid');
        this.equipmentcount = core.getUrlParam('equipmentcount');
      },
      goFrist: function () {
        window.location.href = "equipmentList.html";
      },
      goOrder: function () {

          window.location.href="orderDetailSGSConfirm.html?orderid=" + core.getUrlParam('orderid') + "&&orderno=" + core.getUrlParam('orderno');
      }

    }
  }
</script>
