/*wwy_begin*/
/*equ_detail_begin*/
@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('../sgs-theme/fonts/SourceHanSansCN-Bold.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('../sgs-theme/fonts/SourceHanSansCN-Regular.ttf');
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../sgs-theme/fonts/SourceHanSansCN-Medium.ttf');
}

body#azm-body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: SourceHanSansCN-Medium;
}

html,
body#azm-body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.w_header li {
  font-family: 'SourceHanSansCN-Regular';
}

a {
  text-decoration: none;
}

.detail_header .el-menu li {
  font-size: 20px;
  color: #666;
}

.w_header {
  width: 100%;
  height: 90px;
}

.w_header li.el-menu-item {
  height: 90px;
  line-height: 90px;
  font-size: 20px;
}

.w_header .el-submenu {
  height: 90px;
}

.el-input--small .el-input__inner {
  height: 40px !important;
}

.w_header .el-menu-item:last-child {
  /*float: right;*/
}

.w_header .el-submenu .el-submenu__title {
  height: 90px !important;
  line-height: 90px !important;
  font-size: 20px;
}

.w_header .el-menu--horizontal .el-submenu {
  float: right;
}

.content_container {
  max-width: 1230px;
  width: 100%;
  /* display: table;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #fff;
}

.content_container .el-menu-item.is-active {
  background-color: #FF822F;
  color: #fff;
  border: none;
}

.module_title {
  font-size: 18px;
  color: #333333;
  text-align: left;
  font-family: SourceHanSansCN-Bold;
}

.module {
  border-bottom: 1px solid #ddd;
  padding-bottom: 60px;
  margin-bottom: 20px;
  margin-top: -91px;
  padding-top: 91px;
}

.module .left_big_title {
  text-align: left;
  font-family: SourceHanSansCN-Bold;
  font-size: 18px;
  color: #333333;
  margin: 0;
}

.main_content {
  padding: 30px;
}

.module1_smalltitle {
  font-size: 16px;
  color: #FF822F;
  padding-left: 20px;
}

.sb_message_img {
  width: 150px;
  height: 100px;
  background-color: #f9f9f9;
  margin-top: 20px;
  position: relative;
}

.sb_message_img img {
  position: absolute;
  top: 50%;
  margin-top: -40px;
}

.left_text {
  height: 40px;
  line-height: 40px;
  background-color: #f9f9f9;
  display: block;
  margin-top: 20px;
  text-align: right;
  padding-right: 15px;
  color: #666;
}

.module .el-input {
  width: 90%;
  margin-top: 20px;
  border-radius: 2px;
}

.module .el-input__inner {
  background-color: #f9f9f9;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.module .el-table {
  margin-top: 20px;
}

.module .el-table--border th {
  text-align: center;
}

.caozuo span {
  color: #666;
  padding: 0 10px;
}

.el-footer {
  height: 70PX !important;
  background: #F9F9F9;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 1230px;
}

.lingcun_btn,
.liulan_btn {
  border-color: #FF822F;
  color: #FF822F;
  vertical-align: middle;
  font-size: 14px;
  height: 40px;
}

.save_btn {
  background-color: #FF822F;
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
  height: 40px;
  border: 1px solid #ff822f;
}

.lingcun_btn:hover,
.save_btn:hover,
.upload_btn:hover,
.liulan_btn:hover {
  border-color: #FF822F;
  color: #fff;
  background-color: #FF822F;
}

.module6 {
  border-bottom: none;
}

.module .el-input.jzzq,
.module .el-input.xdjh {
  width: 60%;
  padding: 0 5px;
}

.module6 input {
  width: 100%;
  border: 1px solid #ddd;
  height: 40px;
  margin-top: 20px;
}

.upload_btn {
  background-color: #FF822F;
  color: #fff;
  margin-top: 20px;
}

.module .el-table th > .cell {
  color: #333;
  font-size: 14px;
}

.jzzq_top {
  margin-top: 60px;
}

.caozuo span {
  padding: 0 10px;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #FFF3EA;
}

.module2 .sb_message_img {
  background: url(../images/icon_normal.png) center no-repeat;
}

.click_xiugai {
  color: #FF822F;
  font-size: 14px;
  display: inline-block;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  margin-left: -37px;
  display: none;
}

.el-table .cell {
  font-size: 14px;
  color: #666;
}

.bianhao_beizhu {
  color: #FF822F;
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  vertical-align: top;
  line-height: 0.5;
}

.ljsj_btn {
  width: 110px !important;
  background-color: #FF822F !important;
  color: #fff !important;
  margin-top: 20px !important;
  margin-left: 20px !important;
  float: left;
  display: none;
}

.ljsj_btn:hover {
  background-color: #FF822F !important;
  color: #fff !important;
}

.songjiao_tips {
  display: inline-block;
  max-width: 160px;
  font-size: 12px;
  color: #FC6C6C;
  margin-top: 20px;
  float: left;
  /* margin-left: 20px; */
  position: absolute;
  top: 185px;
  left: 150px;
}

.add_your_attr {
  font-size: 16px;
  color: #FF822F;
  padding-left: 20px;
  cursor: pointer;
}

.el-upload-list {
  position: absolute;
}

.upload-demo {
  display: inline-block;
}

/*equ_detail_end*/
.module .el-input__inner:focus {
  border-color: #ddd;
}

.add_key_input {
  width: 100%;
  border: none;
  border-radius: 0;
}

.add_key_input input {
  border: none;
  border-radius: 0;
}

.module .el-table--border th {
  text-align: center;
  height: 60px;
  background: #f9f9f9;
}

/*0116追加*/
.w_header li.el-menu-ite,
#orderSubmit .step.active .step_num,
#orderSubmit .all_choose_dev span,
.next_step_btn {
  font-family: 'SourceHanSansCN-Regular';
}

.w_header li.el-menu-item:nth-child(3):hover,
.w_header li.el-menu-item:nth-child(4):hover,
.w_header li.el-menu-item:nth-child(5):hover,
.w_header li.el-menu-item:nth-child(6):hover {
  color: #fff !important;
  border-bottom: 2px solid #fff !important;
  background-color: #666666 !important;
}

.w_header li.el-menu-item.active {
  color: #fff !important;
  border-bottom: 2px solid #fff !important;
}

.w_header li.el-menu-item:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.module1_smalltitle {
  cursor: pointer;
}

.module2 .sb_message_img {
  background-color: #f9f9f9;
}

.dev_status_text {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  text-align: center;
  width: 150px;
}

.el-table .cell {
  height: 40px;
  line-height: 40px;
}

.el-table--small td {
  padding: 0;
}

.caozuo {
  margin: 0;
  height: 40px;
}

.caozuo span:hover {
  color: #FF822F;
}

.delete_your_attr_icon {
  width: 14px;
  height: 14px;
  background: url(../images/icon_close.png) center no-repeat;
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.delete_your_attr_box {
  position: relative;
  display: inline-block;
  height: 40px;
  margin-top: 20px;
}

.add_attr_name {
  text-align: left;
}

.el-input__inner:focus {
  background-color: #fff;
  border-color: #FF822F;
}

.lingcun_btn,
.liulan_btn,
.save_btn {
  width: 110px;
}

/*myEqupment*/
#myEqupment .equ_name_text {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 15px;
}

.text_left {
  text-align: right;
  padding-right: 15px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.equ_name_input {
  display: inline-block;
  width: auto !important;
}

.checkbox_container {
  background-color: #f9f9f9;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.import_download {
  font-size: 16px;
  color: #FF822F;
}

.equ_name_text,
.equ_depart_text,
.equ_status_text,
.text_left_date {
  margin-right: 15px;
  color: #666;
}

.text_left_zhi {
  padding-left: 20px;
  padding-right: 20px;
  color: #666;
}

.equ_name_input {
  margin-top: 10px;
}

.checkbox_container .el-checkbox {
  padding: 10px;
}

.add_depart_btn,
.daoru_btn {
  margin-top: 0;
}

.myEqupment_table {
  margin-top: 10px;
  text-align: center;
}

.search_btn {
  margin-top: 10px;
}

.el-table td,
.el-table th.is-leaf {
  text-align: center;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #fff;
  border-color: #ff822f;
  width: 18px;
  height: 18px;
}

.el-checkbox__inner {
  width: 18px;
  height: 18px;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #ff822f;
}

.el-checkbox__inner:hover {
  border-color: #ff822f;
}

.el-menu--horizontal .el-menu-item:hover {
  background: #666666 !important;
}

.w_header .el-submenu .el-submenu__title:hover {
  background: #666666 !important;
}

.w_header .el-submenu .el-submenu__title {
  color: #ff822f !important;
}

.w_header .el-menu-item:last-child .el-menu {
  top: 90px;
  text-align: center;
  left: 12px;
}

/*0123-ordereSubmit*/
.nav_notice {
  display: inline-block;
  padding: 0;
  position: relative;
}

/*
.w_header li.el-menu-item.nav_notice:hover{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #666 url(../images/nav_notice.png) center center no-repeat;
  position: relative;
}*/

.nav_notice i {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 15px;
  right: 2px;
  background: #FF4343;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-style: normal;
  text-align: center;
}

#userCenter .module .el-input__inner:focus {
  border-color: #ff822f;
}

.servive_place:focus {
  border-color: #ff822f;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.el-table th > .cell {
  color: #333;
  font-size: 16px;
  /*  height: 90px;
    line-height: 90px;*/
}

.el-table__body .cell {
  color: #666 !important;
}

.el-table th > .cell p {
  margin: 0;
}

.w_header .el-menu-item:last-child .el-menu {
  width: 140px;
}

.w_header .el-menu-item:last-child .el-menu-item {
  /*width: 140px;*/
  /*  height: 60px;*/
}

.el-submenu .el-menu-item {
  min-width: 140px;
}

.w_header li.el-menu-itembor {
  border-bottom: 2px solid #fff !important;
}

.w_header .el-menu-item:last-child .el-menu .el-menu-item {
  font-size: 18px;
  display: block;
  height: 60px;
  line-height: 60px;
  width: 140px;
}

.xgmm {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/nav_password.png) center top no-repeat;
  padding-left: 5px;
}

.tczh {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/nav_logout.png) center top no-repeat;
  padding-left: 5px;
}

.el-aside,
.el-main {
  overflow: hidden;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #ff822f;
}

.el-table .descending .sort-caret.descending {
  border-top-color: #ff822f;
}

.el-input__inner {
  border-radius: 2px;
  border: 1px solid #ddd;
}

.sgs_active_btn {
  width: 110px;
  height: 40px;
  background-color: #ff822f;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
  padding: 0;
  border: 1px solid #ff822f;
}

.sgs_active_text {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FF822F;
  cursor: pointer;
}

.sgs_active_text:hover {
  color: #FF822F;
}

.sgs_active_btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.el-pager li.active,
.el-pager li:hover {
  background-color: #ff822f;
  color: #fff;
}

#orderDetail .table_footer {
  height: 60px;
  background: #f9f9f9;
  line-height: 60px;
  border: 1px solid #DDDDDD;
}

#orderDetail .el-pagination {
  text-align: right;
  padding-top: 16px;
}

#orderDetail .table_footer .el-input--small .el-input__inner {
  height: 28px !important;
}

.el-textarea {
  width: 300px;
}

.el-progress-bar__inner {
  background-color: transparent;
  border-color: transparent;
}

.el-textarea__inner:focus {
  border-color: #ff822f;
}

.el-checkbox__inner:hover {
  border-color: #999;
}

/*0126*/
.active_text_sgs {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FF822F;
  margin-left: 15px;
  cursor: pointer;
}

.el-dialog {
  width: 70%;
}

.sbzu_dialog .active_text_sgs {
  margin-left: 0;
}

.sbzs {
  font-family: SourceHanSansCN-Bold;
  font-size: 18px;
  color: #333333;
}

.sx_action {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FF822F;
  margin-left: 40px;
  cursor: pointer;
}

.el-dialog__body {
  padding-top: 0;
}

.sbzu_dialog .next_step_btn {
  display: table-cell;
  margin: 0 auto;
}

.el-dialog__wrapper {
  top: -50px;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #ff822f;
}

/*0126-step3*/
.finish_gou {
  margin-top: 50px;
  margin-left: 11px;
  margin-bottom: 30px;
}

.tjcg_text {
  font-family: SourceHanSansCN-Bold;
  font-size: 24px;
  color: #46C45D;
}

#orderSubmit2 p.text {
  margin: 0;
  margin-top: 10px;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}

#orderSubmit2 .sgs_active_btn {
  margin-top: 30px;
}

/*0128orderDetailFinish*/
#orderDetailFinish .has_finish {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6CDDA2;
  display: inline-block;
  line-height: 20px;
  color: #6CDDA2;
  text-align: center;
  margin-left: 20px;
  margin-right: 8px;
}

#orderDetailFinish .module1 .has_finish_text {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #666666;
}

.el-input--small .el-input__inner {
  border-radius: 2px;
}

.el-checkbox__inner::after {
  border-color: #ff822f;
  height: 10px;
  left: 6px;
}

#login .el-main {
  width: 100%;
  height: 80%;
  position: relative;
  background: url(../images/login_bg2a.png) top center no-repeat;
  /*background-size: 100% 100%;*/
}

#login,
#app {
  height: 100%;
  width: 100%;
}

#login .box-card {
  width: 370px;
  height: 340px;
  position: absolute;
  right: 15%;
  animation: down 1.5s;
  animation-fill-mode: forwards;
  box-shadow: 0 10px 15px 0;
}

@-webkit-keyframes down {
  0% {
    top: 15%;
  }
  100% {
    top: 31%;
  }
}

#login .login_footer {
  width: 100%;
  height: 20%;
  background-color: #333;
  /*line-height:200px;*/
  position: relative;
  bottom: 0;
  text-align: center;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #CCCCCC;
  left: 0;
  border-radius: 0;
}

#login .login_footer div {
  padding: 0 auto;
  margin: 0 auto;
}

#login .login_text {
  text-align: center;
  font-family: SourceHanSansCN-Medium;
  font-size: 18px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
}

#login .el-form-item {
  width: 310px;
}

#login .el-form-item__content {
  margin: 0 !important;
  width: 310px;
}

#login .el-input {
  width: 310px;
  height: 40px;
}

#login .el-card__body {
  padding: 30px;
}

#login .el-form-item--small.el-form-item {
  margin-bottom: 20px;
}

#login .el-checkbox__inner {
  width: 18px;
  height: 18px;
  line-height: 18px;
}

#login .el-checkbox__inner::after {
  top: 3px;
  left: 6px;
}

#login .el-checkbox {
  font-size: 16px;
  color: #666;
  font-family: SourceHanSansCN-Normal;
}

#login .login_btn {
  width: 310px;
  height: 50px;
  background-color: #ff822f;
  text-align: center;
  color: #fff;
}

#login .login_btn span {
  font-family: SourceHanSansCN-Normal;
  font-size: 18px;
  color: #FFFFFF;
}

#login .goto_login {
  text-align: center;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #FF822F;
  width: 100%;
  display: inline-block;
  padding-top: 15px;
}

#login .el-form-item--small .el-form-item__content {
  line-height: 20px;
}

#login .footer {
  position: absolute;
  width: 100%;
  padding-left: 21.6666%;
  top: 45%;
  margin-top: -24px;
}

/*0131------w_equpmentlist*/
#w_equpmentlist .content_container {
  padding: 30px;
  margin-bottom: 60px;
  height: auto;
}

#w_equpmentlist .el-checkbox + .el-checkbox {
  margin-left: 0;
}

#w_equpmentlist .sxlb .el-checkbox {
  width: 16.66667%;
  margin-bottom: 11px;
}

#w_equpmentlist .myEqu_check_box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}

#w_equpmentlist .el-checkbox__inner {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}

#w_equpmentlist .sgs_active_btn,
#w_equpmentlist .sgs_normal_btn,
#w_equpmentlist .sgs_active_text {
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.sgs_normal_btn {
  width: 110px;
  height: 40px;
  border: 1px solid #FF822F;
  border-radius: 2px;
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #FF822F;
}

.sgs_normal_btn:hover {
  background-color: #fff;
  color: #ff822f;
  border: 1px solid #FF822F;
}

#w_equpmentlist .sgs_active_text {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

#w_equpmentlist .module.wdsb .el-col-3 {
  width: auto;
}

#w_equpmentlist .module .search_name_or_num input {
  background: #FFFFFF;
  border-radius: 2px;
  width: 250px;
  height: 40px;
}

#w_equpmentlist .module .search_name_or_num input:focus {
  border-color: #ff822f;
}

#w_equpmentlist .module .search_name_or_num,
#w_equpmentlist .module .search_btn {
  display: inline-block;
  float: right;
}

#w_equpmentlist .module .search_name_or_num {
  width: auto;
  margin-right: 10px;
}

#w_equpmentlist .module.sxlb {
  padding-bottom: 30px;
}

.table_footer {
  height: 60px;
  line-height: 60px;
  background-color: #f9f9f9;
  border: 1px solid #DDDDDD;
  border-top: none;
}

#w_equpmentlist .table_footer .sgs_active_btn {
  margin-top: 0;
  margin-left: 10px;
}

#w_equpmentlist .table_footer .sgs_active_text {
  margin-top: 0;
  margin-right: 0;
}

.el-pagination {
  float: right;
}

.table_footer .el-pagination__editor.el-input .el-input__inner {
  height: 24px !important;
  width: 40px;
}

#w_equpmentlist .module .table_footer .el-input {
  width: auto;
  margin-top: 17px;
}

#w_equpmentlist .module .table_footer .el-pagination button,
#w_equpmentlist .module .table_footer ul {
  margin-top: 15px;
}

#w_equpmentlist .module .table_footer .el-pagination__jump {
  margin-right: 30px;
}

/*表头高度自适应*/
#w_equpmentlist .module .el-table th > .cell {
  height: auto;
  position: relative;
}

#w_equpmentlist .module .caret-wrapper {
  /*  position: absolute;
        top: 5px;
      left: 140px;*/
}

#w_equpmentlist .module .el-table th > .cell .el-input {
  margin-top: 0;
  width: 140px;
  padding: 0;
}

#w_equpmentlist .module .el-table th > .cell .el-input__inner {
  height: 30px !important;
  background-color: #fff;
}

#w_equpmentlist .module.wdsb {
  border-bottom: none;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row > td,
.el-table__body tr.hover-row.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped > td,
.el-table__body tr.hover-row > td {
  background-color: #FFF3EA;
  color: #ff822f;
}

/*0201*/
#login .login_btn {
  border: 1px solid #ff822f;
}

#login .el-checkbox__inner::after {
  top: 1px;
}

#w_equpmentlist .check_col4 {
  height: 32px;
}

#w_equpmentlist .choose_all_checkbox .el-checkbox__inner {
  border-color: #dcdfe6;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  background-color: #999;
  top: 7px;
}

/*0201  equDetail*/
.detail_header .el-menu--horizontal .el-menu-item:hover {
  background-color: #ff822f !important;
  color: #fff !important;
}

#equDetail .sgs_active_text {
  padding-left: 10px;
  padding-right: 10px;
}

.avatar-uploader .el-upload:hover {
  border-color: #ff822f;
}

.avatar-uploader .el-upload {
  width: 150px;
  height: 100px;
  margin-top: 20px;
}

.avatar-uploader-icon {
  width: 150px;
  height: 100px;
  line-height: 100px;
}

#equDetail .module .cell .el-input {
  margin-top: 0;
}

#equDetail .module .cell .el-input__inner {
  background-color: #fff;
  border: none;
}

#equDetail .module .cell .el-autocomplete {
  width: 100%;
  border: none;
}

.el-input.is-disabled .el-input__inner {
  background-color: #f9f9f9;
}

.el-upload-list__item.is-success .el-upload-list__item-name:hover {
  color: #ff822f;
}

.el-upload-list__item .el-icon-close-tip {
  display: none !important;
  color: transparent;
}

#equDetail .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #fff;
}

#equDetail header {
  height: 60px;
  max-width: 1230px;
  display: table;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 0 2px;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding: 0;
  border: none;
  /*  position: fixed;*/
  /* top: 120px;
   left: 50%;
   margin-left: -615px;*/
  z-index: 1;
  margin-top: 30px;
  transform: all 0.5;
}

#equDetail header .el-menu {
  background: #EEEEEE;
}

#equDetail .el-footer {
  bottom: 0;
  left: 50%;
  margin-left: -615px;
}

#equDetail header .el-menu .el-menu-item.is-active {
  background-color: #ff822f;
  border-bottom: none;
}

#equDetail .content_container {
  margin-top: 0px;
}

/*  .main_nav{
        position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  }*/
#equDetail .sb_status_text .el-input.is-disabled .el-input__inner {
  display: inline-block;
  background: #fff;
  width: auto;
  height: auto;
  color: #333;
  width: 150px;
  text-align: center;
  border: none;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #666666;
}

#equDetail .sb_status_text .el-input {
  margin-right: 0;
  margin-top: 0;
}

#equDetail .sb_status_text .el-input__suffix {
  display: none;
}

.footer_btn {
  position: relative;
  width: auto;
  display: inline-block;
  left: 50%;
  margin-left: -158px;
}

.sgs_active_text.el-button {
  border: none;
}

.sgs_active_text.el-button:hover {
  background-color: #fff;
  color: #ff822f;
}

#userCenter .el-footer {
  left: 50%;
  margin-left: -615px;
}

#userCenter .el-footer .save_btn {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#equDetail .module6 {
  display: block;
  height: 80px;
  padding-bottom: 150px;
}

#equDetail .module4 .cell .el-input.el-input--small {
  width: 100%;
}

/*0202*/
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #fff;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #666;
}

.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: #666;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #999;
}

.el-checkbox__inner::after {
  border-width: 1.5px;
}

#w_equpmentlist .choose_all_checkbox .el-checkbox__input.is-checked {
  border-color: #ff822f;
}

/*0202  equmentList*/
#w_equpmentlist .module.wdsb .search_name_or_num {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.right_cz {
  display: inline-block;
  float: right;
}

#w_equpmentlist .fz_serch_input {
  background-color: #f9f9f9;
  border: 1px solid #DDDDDD;
  height: auto;
}

#w_equpmentlist .module.wdsb .fz_serch_input {
  margin-top: 20px;
}

#w_equpmentlist .module.wdsb .fz_serch_input .el-input__inner.el-date-editor {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  height: 40px;
  margin-top: 20px;
  width: 395px;
}

#w_equpmentlist .module.wdsb .fz_serch_input .el-input {
  width: 395px;
}

#w_equpmentlist .module.wdsb .fz_serch_input .el-input__inner {
  background-color: #fff;
}

#w_equpmentlist .module.wdsb .fz_serch_input .last_hang .el-input {
  width: 190px;
}

#w_equpmentlist .module.wdsb .fz_serch_input .last_hang {
  margin-bottom: 20px;
}

#w_equpmentlist .module.wdsb .fz_serch_input .last_hang .left_text_col {
  width: 153.5px;
}

#w_equpmentlist .module.wdsb .fz_serch_input {
  display: none;
}

#w_equpmentlist .el-table__column-filter-trigger i {
  color: #999;
  font-size: 15px;
}

/*dashboard*/
#dashboard .dashboard_tab {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.el-tabs__active-bar {
  background-color: #ff822f;
}

#dashboard .el-tabs__nav {
  height: 80px;
  line-height: 80px;
}

#dashboard .el-tabs__item {
  font-family: SourceHanSansCN-Regular;
  font-size: 24px;
  color: #AAAAAA;
  padding: 0 45px;
}

#dashboard .el-tabs__item.is-active {
  color: #ff822f;
}

#dashboard .el-pager li.active,
.el-pager li:hover {
  color: #ff822f;
  background-color: #fff;
  border: 1px solid #ff822f;
}

#dashboard #tab-first {
  background: url(../images/tab_chaoqi_sel.png) 10px center no-repeat;
  position: relative;
}

#dashboard #tab-second {
  background: url(../images/tab_unfish_order_nor.png) 15px center no-repeat;
  position: relative;
}

#dashboard #tab-second:focus {
  background: url(../images/tab_unfish_order_sel.png) 15px center no-repeat;
}

#dashboard #tab-third {
  background: url(../images/tab_unread_report_nor.png) 15px center no-repeat;
  position: relative;
}

#dashboard #tab-third:focus {
  background: url(../images/tab_unread_report_sel.png) 15px center no-repeat;
}

#dashboard #tab-fourth {
  background: url(../images/tab_unfinish_equipment_nor.png) 15px center no-repeat;
  position: relative;
}

#dashboard #tab-fourth:focus {
  background: url(../images/tab_unfinish_equipment_sel.png) 15px center no-repeat;
}

#dashboard .el-tabs__active-bar {
  left: -13px;
}

#dashboard .table_footer {
  margin-bottom: 99px;
}

#dashboard .content_container {
  border: 1px solid #ddd;
  padding: 30px;
}

.el-popover p {
  margin: 8px 0;
}

#dashboard .el-button--mini:hover {
  border: 1px solid #ff822f;
}

#dashboard .top_right_tips {
  line-height: 16px;
  text-align: center;
  position: absolute;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #FFFFFF;
  width: 26px;
  height: 16px;
  display: inline-block;
  background-color: #FF4343;
  top: -4px;
  right: 23px;
  border-radius: 9px;
}

#dashboard .search_btn {
  margin-top: 0;
}

#dashboard .el-table--border {
  margin-top: 20px;
}

#dashboard .sgs_active_text.jingque_search {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

#dashboard .search_btn_box {
  width: auto;
}

#dashboard .fz_serch_input {
  background-color: #f9f9f9;
  border: 1px solid #DDDDDD;
  height: auto;
  margin-top: 20px;
}

#dashboard .fz_serch_input .el-input__inner.el-date-editor {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  height: 40px;
  margin-top: 20px;
  width: 395px;
}

#dashboard .fz_serch_input .el-input {
  margin-top: 20px;
  width: 395px;
}

#dashboard .fz_serch_input {
  padding-bottom: 20px;
}

.azm-screening_connet {
  background-color: #f9f9f9;
  padding: 20px 40px;
  margin-top: 20px;
  display: none;
}

.azm-screening_connet .azm-screening_connet_item {
  margin-top: 20px;
}

.azm-screening_connet .azm-screening_connet_item:nth-child(1) {
  margin-top: 0;
}

/*uat 联调*/
.el-form-item__error {
  font-family: SourceHanSansCN-Regular;
  font-size: 16px;
  color: #666666;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  position: static;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #ff822f;
}

.el-form-item--small .el-form-item__error {
  display: block !important;
}

/*0203*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #666 !important;
}

#orderSubmit .el-tabs__item {
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  color: #666666;
}

#orderSubmit .el-tabs__item.is-active {
  color: #ff822f;
  font-family: SourceHanSansCN-Regular;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 15px;
}

#orderSubmit .el-tabs__item:hover {
  color: #ff822f;
  cursor: pointer;
}

#w_equpmentlist .module.wdsb .fz_serch_input .el-input__inner:focus,
#w_equpmentlist .module.wdsb .fz_serch_input .el-input__inner.el-date-editor:focus {
  border-color: #ff822f;
}

#equDetail .module .el-input.zdy_input {
  width: 95%;
}

#equDetail .module .el-input.zdy_input .el-input__inner,
#equDetail .module .el-input.zdy_input_value .el-input__inner {
  background-color: #fff;
}

#equDetail .module .delete_zdy {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  height: 24px;
  width: 24px;
  line-height: 40px;
  margin-left: -30px;
  background: url(../images/icon_close.png) center no-repeat;
}

input::-webkit-input-placeholder {
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

input:-ms-input-placeholder {
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

.el-input--small .el-input__inner,
.el-textarea__inner {
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

#equDetail .module6 .el-upload.el-upload--text .el-button:hover,
#equDetail .module6 .el-upload.el-upload--text .el-button:focus {
  color: #ff822f;
  border-color: #ff822f;
  background-color: #fff;
}

.w_header .el-button--small {
  font-size: 16px;
}

.w_header .el-button:hover {
  background-color: #fff;
  color: #666;
}

#login .el-form-item__error {
  display: none !important;
}

#orderSubmit .sbzu_dialog .el-table .cell {
  height: auto;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #ff822f;
}

.el-select-dropdown__item.selected {
  color: #ff822f;
  font-weight: 500;
}

#editPassword .el-form-item__error {
  background: url(../images/icon_notice.png) 18px 11px no-repeat;
  position: absolute;
  top: -3px;
  right: 0;
}

#editPassword .aqmmcd {
  background: url(../images/icon_notice.png) 15px 5px no-repeat;
}

#editPassword .confirm_new_pas .el-form-item__error {
  background: url(../images/icon_failed.png) 22px 12px no-repeat;
}

.cursor-default {
  cursor: default !important;
}

.cursor-ban {
  cursor: default !important;
}

.azm-font_size_14 {
  font-size: 14px !important;
}

.moresearch .azm-icon {
  color: #ff800f;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.moresearch .azm-icon-d-arrow-down {
  transform: rotate(-90deg);
}

.moresearch .azm-icon-d-arrow-up {
  transform: rotate(90deg);
}

.azm-fixed_width {
  width: 1130px;
}

.azm-fixed_min_width {
  min-width: 1130px;
}

.azm-input_box input.el-input__inner {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}

.azm-input_box input.el-input__inner::placeholder {
  font-size: 14px;
  line-height: 40px;
}

.azm-row_query .azm-col_active {
  line-height: 40px;
}

a.azm-route_serial_number {
  cursor: pointer;
  color: #ff822f;
}

a.azm-route_serial_number:hover {
  text-decoration: underline;
}

#azm-body .el-date-table td.today span {
  color: #ff822f;
}

#azm-body .el-date-table td.current:not(.disabled) span {
  color: #fff;
  background-color: #ff822f;
}

#azm-body .el-date-table td.available:hover span {
  color: #ff822f;
}

#azm-body .el-date-table td.end-date span,
#azm-body .el-date-table td.start-date span {
  color: #fff;
  background-color: #ff822f;
}

#azm-body .el-date-table td.in-range:hover span {
  color: #fff;
}

#azm-body .azm-main {
  margin: 0;
  padding: 0;
}

/*公共Button样式修改  start*/
/*.el-button:active {*/
/*color: #fff;*/
/*border-color: #FF822F;*/
/*outline: 0;*/
/*}*/

/*.el-button:focus,*/
/*.el-button:hover {*/
/*!* color: #666;*/
/*border-color: #666;*/
/*background-color: #fff; *!*/
/*}*/
#azm-body .el-dropdown .el-button {
  line-height: initial;
  height: 41px;
  float: left;
}

#azm-body .sgs_active_btn.el-button:hover {
  background-color: #ff822f;
  color: #FFFFFF;
  border-color: #ff822f;
  opacity: .8;
}

#azm-body .sgs_normal_btn.el-button:hover {
  background-color: #ff822f;
  color: #FFFFFF;
  border-color: #ff822f;
}

button.sa-primary {
  color: #fff;
  background-color: #FF822F;
  border-color: #FF822F;
}

button.ivu-btn-primary:hover {
  color: #fff;
  background-color: #FF822F;
  border-color: #FF822F;
}

#azm-body .azm-submit {
  height: 40px;
  width: 110px;
  font-size: 16px;
}

/*公共Button样式修改  end*/

#azm-body .azm-inline_block {
  display: inline-block;
}

.w_header .el-dropdown {
  float: left;
  margin-right: 20px;
}

.main .el-dropdown button {
  border: 1px solid #ddd;
}

#azm-body .el-button.azm-no_active, #azm-body .azm-submit.azm-no_active {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
}

#azm-body .el-button.azm-no_active:hover, #azm-body .azm-submit.azm-no_active:hover {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #fff;
  color: #ff822f;
}

.el-dropdown-menu__item {
  display: block;
  float: none;
}

.module2 .el-dropdown {
  width: 150px;
  margin-top: 20px;
  float: left;
}

#azm-body .fz_serch_input {
  display: none;
}

#azm-body .azm-input_right input {
  text-align: right;
}

.azm-form_footer .el-form-item, .azm-form_header .el-form-item {
  min-width: 330px;
}

#azm-body .el-pager li.active + li:hover {
  border-left: 1px solid #ff822f;
}

#azm-body .azm-text-red {
  color: #ff0000;
}

#azm-body .azm-text-center {
  text-align: center !important;
}

#azm-body .azm-text-left {
  text-align: left !important;
}

#azm-body .azm-text-right {
  text-align: right !important;
}

#azm-body .azm-text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.del-equipment-confirm-div {
  text-align: left;
  margin-left: 40px;
}
