<template>
  <!-- 报告详情弹窗 -->
  <el-dialog :visible ="showReportDialog" width="750px" @close="close">
    <el-row slot="title" class="azm-from_dialog_title">
      <el-col :span="12" class="azm-from_dialog_title_item" style=" margin-left: 259px; ">
        报告编号：{{form.reportNo}}
        <el-tooltip v-if="form.reporttype==1">
          <div slot="content">
            <p>勘误报告</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-col>
      <!--<el-col :span="12" class="azm-from_dialog_title_item">-->
        <!--所属订单：<a class="azm-route_serial_number"-->
                <!--@click="ecUtil.goOrderDetail(form.ecOrderStatus,form.orderid,form.orderNo)">{{form.orderNo}}</a>-->
      <!--</el-col>-->
    </el-row>
    <el-form :inline="true" :model="form" class="azm-form_header">
      <el-form-item label="所属订单：" :label-width="formLabelWidth">
        <a class="azm-route_serial_number"
           @click="ecUtil.goOrderDetail(form.ecOrderStatus,form.orderid,form.orderNo)">{{form.orderNo}}</a>
      </el-form-item>
      <el-form-item label="校准日期：" :label-width="formLabelWidth">
        {{form.calibrationDate}}
      </el-form-item>
      <el-form-item label="证书编号：" :label-width="formLabelWidth">
        {{form.reportNo}}
      </el-form-item>
    </el-form>
    <el-form :model="form" class="longForm">
      <el-form-item label="委托单位名称：" :label-width="formLabelWidth">
        {{form.consignorNameCN}}
        <el-tooltip v-if="isNotEquals(form.consignorNameCN,form.consignorNameCN_old)">
          <div slot="content">
            <p>{{isNotEqualsOrder}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="英文委托单位名称：" :label-width="formLabelWidth">
        {{form.consignorNameEN}}
        <el-tooltip v-if="isNotEquals(form.consignorNameEN,form.consignorNameEN_old)">
          <div slot="content">
            <p>{{isNotEqualsOrder}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="委托单位地址：" :label-width="formLabelWidth">
        {{form.consignorAddressCN}}
        <el-tooltip v-if="isNotEquals(form.consignorAddressCN,form.consignorAddressCN_old)">
          <div slot="content">
            <p>{{isNotEqualsOrder}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="英文委托单位地址：" :label-width="formLabelWidth">
        {{form.consignorAddressEN}}
        <el-tooltip v-if="isNotEquals(form.consignorAddressEN,form.consignorAddressEN_old)">
          <div slot="content">
            <p>{{isNotEqualsOrder}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
    </el-form>
    <el-form :inline="true" :model="form" class="azm-form_footer">
      <el-form-item label="仪器名称：" :label-width="formLabelWidth">
        {{form.equipmentnamecn}}
        <el-tooltip v-if="isNotEquals(form.equipmentnamecn,form.equipmentnamecn_old)">
          <div slot="content">
            <p>{{isNotEqualsEquipment}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="制造厂商：" :label-width="formLabelWidth">
        {{form.equipmentFactoryNameCN}}
        <el-tooltip v-if="isNotEquals(form.equipmentFactoryNameCN,form.equipmentFactoryNameCN_old)">
          <div slot="content">
            <p>{{isNotEqualsEquipment}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="型号规格：" :label-width="formLabelWidth">
        {{form.model}}
        <el-tooltip v-if="isNotEquals(form.model,form.model_old)">
          <div slot="content">
            <p>{{isNotEqualsEquipment}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="机身编号：" :label-width="formLabelWidth">
        {{form.equipmentSerialNo}}
        <el-tooltip v-if="isNotEquals(form.equipmentSerialNo,form.equipmentSerialNo_old)">
          <div slot="content">
            <p>{{isNotEqualsEquipment}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="管理编号：" :label-width="formLabelWidth">
        {{form.assetNo}}
        <el-tooltip v-if="isNotEquals(form.assetNo,form.assetNo_old)">
          <div slot="content">
            <p>{{isNotEqualsEquipment}}</p>
          </div>
          <i class="el-icon-warning" style="color: #ff822f"></i>
        </el-tooltip>
      </el-form-item>
      <el-form-item label="设备ID：" :label-width="formLabelWidth">
        <a v-if="form.equipmentid" class="azm-route_serial_number"
           @click="ecUtil.toEquipDetail(form.equipmentid,true)">{{form.equipmentNO}}</a>
        <span v-else>{{form.equipmentNO}}</span>
        <!--<el-tooltip v-if="isNotEquals(form.equipmentNO , form.equipmentNO_old)">-->
          <!--<div slot="content">-->
            <!--<p>{{isNotEqualsEquipment}}</p>-->
          <!--</div>-->
          <!--<i class="el-icon-warning" style="color: #ff822f"></i>-->
        <!--</el-tooltip>-->
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer" style=" text-align:  center; ">
      <el-button type="" @click="downloadReportPDF(form.fileid)" class="sgs_active_btn">下载PDF</el-button>
    </div>
  </el-dialog>
</template>

<script>
  var ecUtil = require('../../components/util.js');
  var HttpServer = require("../../components/http.js");
  var core = require("../../components/commonFunc.js");
  export default {
    props: {
      showReportDialog: {
        type: Boolean,
        default: false,
      },
      reportDialogParams: {
        type: Object,
        default: {
          reportid: '',
          orderEquipmentInstanceID: '',
          equipmentid: '',
          orderid: ''
        }
      }
    },
    data () {
      return {
        form: {
          fileid: '',
          equipmentid: '',
          orderid: '',
          ecOrderStatus: '',
          orderNo: '',
          //报告中的委托信息
          reporttype:'',
          reportNo: '',
          consignorNameCN: '',
          consignorNameEN: '',
          consignorAddressCN: '',
          consignorAddressEN: '',
          //订单总的委托信息等
          consignorNameCN_old: '',
          consignorNameEN_old: '',
          consignorAddressCN_old: '',
          consignorAddressEN_old: '',
          //设备镜像表中的信息
          calibrationDate: '',
          equipmentnamecn: '',
          equipmentFactoryNameCN: '',
          model: '',
          equipmentSerialNo: '',
          assetNo: '',
          equipmentNO: '',
          //设备实体表中的信息
          calibrationDate_old: '',
          equipmentnamecn_old: '',
          equipmentFactoryNameCN_old: '',
          model_old: '',
          equipmentSerialNo_old: '',
          assetNo_old: '',
          equipmentNO_old: ''
        },
        formLabelWidth: "140px",
        isNotEqualsEquipment:'与原设备信息不一致',
        isNotEqualsOrder:'与原订单信息不一致',
        ecUtil
      }
    },
    watch: {
      showReportDialog (val, old) {
        if (val) {
          this.getReportInfo(this.reportDialogParams);
        }
      }
    },
    methods: {
      close(){
        this.$emit('dialogCloseEvent');
      },
      getReportInfo (params) {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/report/api/v1/getReportInfo";
        var conf = {
          'isCallback': true
        }
        HttpServer.post(_this, url, params, function (response) {
          _this.form = response.detailVO;
        }, conf);
      },
      isNotEquals(value1,value2){
        if(value1==null){
          value1="";
        }
        if(value2==null){
          value2="";
        }
        if(value1==value2){
          return false;
        }else{
          return true;
        }
      },
      downloadReportPDF (fileid) {
        var url = process.env.FrameWorkApiUrl + "file/download";
        var conf = {
          'isCallback': true
        }
        let fd = new FormData()
        fd.append('key', fileid)
        HttpServer.post(this, url, fd, function (response) {
          if (response) {
            window.open(response);
          }
        }, conf);
      },
    }
  }
</script>
