<template>
  <div id="dashboard" :class="name">
    <sgsLayout :active-index="4"></sgsLayout>
    <el-container class="main_container content_container">
      <!-- 导航 -->
      <el-tabs v-model="activeName" @tab-click="handleClick" class="dashboard_tab">
        <el-tab-pane label="未读报告" name="first" style="width: 1130px">
            <span slot="label">
                <span class="top_right_tips">{{untotal1}}</span> 未读报告
            </span>
          <!-- 精简的搜索框 -->
          <el-row>
            <el-col :span="10">
              <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号/机身编号/报告编号/订单编号查询"
                        class="search_name_or_num"></el-input>
            </el-col>
            <el-col :span="3" class="search_btn_col3">
              <el-button class="sgs_active_btn search_btn" style="float: right" @click="initUnReport('')">查询</el-button>
            </el-col>
            <el-col :span="6" class="moresearch">
              <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
                <i class="el-icon-d-arrow-left azm-icon"
                   :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
                <!--<span class="sgs_active_text jingque_search"-->
                      <!--style="margin-left: 10px;" v-if="untotal>0">-->
                  <!--查询到{{untotal}}未读报告-->
                <!--</span>-->
              </div>
            </el-col>
          </el-row>
          <!-- 精简的搜索框 END-->
          <div class="fz_serch_input">
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">报告日期</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker v-model="reportCreateDate" type="daterange" :editable="false"
                                  range-separator="至" start-placeholder="开始日期"
                                  end-placeholder="结束日期">
                  </el-date-picker>
                </el-col>
              </el-col>
              <el-col :span="12">
                <el-col :span="6">
                  <span class="left_text">报告类型</span>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="reporttype" >
                    <el-option
                      v-for="item in reporttypeArray"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-col>
              </el-col>
            </el-row>
          </div>
          <!-- 中间的表格 -->
          <el-table :data="unreportListData" border stripe fit ref="multipleTable" tooltip-effect="dark"
                    style="width: 100%"
                    @selection-change="unhandleSelectionChange" @sort-change="unReportSortChange">
            <el-table-column type="selection" width="50px"></el-table-column>
            <el-table-column prop="createdDate" label="报告日期" sortable="custom" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="equipmentNameCN" label="设备名称"></el-table-column>
            <el-table-column prop="reportNo" label="报告编号" align="left">
              <template slot-scope="scope">
                <img src="../../../static/images/report_unread.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==0">
                <!-- <img src="../../../static/images/report_read.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==1"> -->
                <a @click="openReportDialog(scope.row)" class="azm-route_serial_number">{{scope.row.reportNo}}</a>
                <el-tooltip v-if="scope.row.reporttype==1">
                  <div slot="content">
                    <p>勘误报告</p>
                  </div>
                  <i class="el-icon-warning" style="color: #ff822f"></i>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column prop="orderNo" label="订单编号">
              <template slot-scope="scope">
                <a @click="goOrderDetail(scope.row.ecOrderStatus,scope.row.orderid,scope.row.orderNo)"
                   class="azm-route_serial_number">
                  {{scope.row.orderNo}}
                </a>
              </template>
            </el-table-column>
            <!--<el-table-column prop="reportResults" label="报告结论">-->
              <!--<template slot-scope="scope">-->
                <!--<span v-if="scope.row.reportResults==1">通过</span>-->
                <!--<span v-if="scope.row.reportResults==2" >不通过</span>-->
              <!--</template>-->
            <!--</el-table-column>-->
            <el-table-column label="操作">
              <template slot-scope="scope">
                <a @click="downloadReport(scope.row)" class="azm-route_serial_number">下载报告</a>
              </template>
            </el-table-column>
          </el-table>
          <div class="table_footer">
            <el-col :span="6" style="padding-left: 10px">
              <Button type="primary" class="sa-primary azm-submit" :disabled="unmultipleSelection.length==0"
                      @click="beachDownload(unmultipleSelection)">批量下载
              </Button>
              <span class="sgs_active_text" @click="markReadReport(unmultipleSelection,1)">标为已读</span>
              <span class="sgs_active_text" @click="markReadReport(unmultipleSelection,0)">标为未读</span>
            </el-col>
            <el-col :span="18">
              <el-pagination @size-change="unhandleSizeChange" @current-change="unhandleCurrentChange"
                             :current-page="uncurrentPage" :page-sizes="[100, 200, 300, 400]" :page-size="unsize"
                             layout="prev, pager, next, jumper" :total="untotal">
              </el-pagination>
            </el-col>
          </div>
        </el-tab-pane>
        <el-tab-pane label="所有报告" name="second" style="width: 1130px">
            <span slot="label">
                <span class="top_right_tips">{{alltotal1}}</span> 所有报告
            </span>
          <!-- 精简的搜索框 -->
          <el-row>
            <el-col :span="10">
              <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号/机身编号/报告编号/订单编号查询"
                        class="search_name_or_num"></el-input>
            </el-col>
            <el-col :span="3" class="search_btn_col3">
              <el-button class="sgs_active_btn search_btn" style="float: right" @click="initAllReport('')">查询
              </el-button>
            </el-col>
            <el-col :span="6" class="moresearch">
              <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
                <i class="el-icon-d-arrow-left azm-icon"
                   :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
                <!--<span class="sgs_active_text jingque_search"-->
                      <!--style="margin-left:10px;" v-if="alltotal>0">-->
                  <!--查询到{{alltotal}}个已读报告-->
                <!--</span>-->
              </div>
            </el-col>
          </el-row>
          <!-- 精简的搜索框 END-->
          <div class="fz_serch_input">
            <el-row>
              <!-- 订单日期 -->
              <el-col :span="12">
              <el-col :span="6">
                <span class="left_text">报告日期</span>
              </el-col>
              <el-col :span="18">
                <el-date-picker v-model="reportCreateDate" type="daterange" range-separator="至"
                                start-placeholder="开始日期" :editable="false"
                                end-placeholder="结束日期">
                </el-date-picker>
              </el-col>
            </el-col>
            <el-col :span="12">
              <el-col :span="6">
                <span class="left_text">报告类型</span>
              </el-col>
              <el-col :span="6">
                <el-select v-model="reporttype" >
                  <el-option
                    v-for="item in reporttypeArray"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-col>
            </el-row>
          </div>
          <!-- 中间的表格 -->
          <el-table :data="allreportListData" border stripe fit ref="multipleTable" tooltip-effect="dark"
                    style="width: 100%"
                    @selection-change="allhandleSelectionChange" @sort-change="allReportSortChange">
            <el-table-column type="selection" width="50px"></el-table-column>
            <el-table-column prop="createdDate" label="报告日期" sortable="custom" :formatter="dateFormat"></el-table-column>
            <el-table-column prop="equipmentNameCN" label="设备名称"></el-table-column>
            <el-table-column prop="reportNo" label="报告编号" align="left">
              <template slot-scope="scope">
                <img src="../../../static/images/report_unread.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==0">
                <!-- <img src="../../../static/images/report_read.png" style="width: 22px;
                       vertical-align: middle;" v-if="scope.row.isRead==1"> -->
                <a @click="openReportDialog(scope.row)" class="azm-route_serial_number">{{scope.row.reportNo}}</a>
                <el-tooltip v-if="scope.row.reporttype==1">
                  <div slot="content">
                    <p>勘误报告</p>
                  </div>
                  <i class="el-icon-warning" style="color: #ff822f"></i>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column prop="orderNo" label="订单编号">
              <template slot-scope="scope">
                <a @click="goOrderDetail(scope.row.ecOrderStatus,scope.row.orderid,scope.row.orderNo)"
                   class="azm-route_serial_number">
                  {{scope.row.orderNo}}
                </a>
              </template>
            </el-table-column>
            <!--<el-table-column prop="reportResults" label="报告结论">-->
              <!--<template slot-scope="scope">-->
                <!--<span v-if="scope.row.reportResults==1">通过</span>-->
                <!--<span v-if="scope.row.reportResults==2" >不通过</span>-->
              <!--</template>-->
            <!--</el-table-column>-->
            <el-table-column label="操作">
              <template slot-scope="scope">
                <a @click="downloadReportPDF(scope.row.fileid)" class="azm-route_serial_number">下载报告</a>
              </template>
            </el-table-column>
          </el-table>
          <div class="table_footer">
            <el-col :span="6" style="padding-left: 10px">
              <Button type="primary" class="sa-primary azm-submit" :disabled="allmultipleSelection.length==0"
                      @click="beachDownload(allmultipleSelection)">批量下载
              </Button>
              <span class="sgs_active_text" @click="markReadReport(allmultipleSelection,1)">标为已读</span>
              <span class="sgs_active_text" @click="markReadReport(allmultipleSelection,0)">标为未读</span>
            </el-col>
            <el-col :span="5"></el-col>
            <el-col :span="13">
              <el-pagination @size-change="allhandleSizeChange" @current-change="allhandleCurrentChange"
                             :current-page="allcurrentPage" :page-sizes="[100, 200, 300, 400]" :page-size="allsize"
                             layout="prev, pager, next, jumper" :total="alltotal">
              </el-pagination>
            </el-col>
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-container>
    <!-- 报告详情弹窗 -->
    <ReportDialog :showReportDialog="showReportDialog" :reportDialogParams="reportDialogParams"
                  @dialogCloseEvent="showReportDialog = false"></ReportDialog>
  </div>
</template>
<style scoped lang="less">
  .el-table__header {
    background: #f9f9f9;
    width: 100%;
  }

  .el-table thead th {
    background: #f9f9f9;
  }

  .el-table__header .cell {
    font-size: 16px;
    color: #333;
  }

  .el-table__body {
    width: 100%;
  }

  .el-popover {
    padding: 0;
    text-align: center;
    background: #fffdd5;
    border: 1px solid #ff822f;
    border-radius: 2px;
    line-height: 1;
  }

  .el-popper .popper__arrow {
    border: #fffdd5;
  }

  .table_footer {
    background: #f9f9f9;
    border: 1px solid #dddddd;
    height: 60px;
  }

  .table_footer .el-col {
    height: 100%;
  }

  .table_footer a.tiaozheng {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    color: #ff822f;
    float: left;
    margin-left: 10px;
  }

  .el-form-item__label {
    width: 180px !important;
  }

  .longForm .el-form-item__content {
    margin-left: 180px !important;
  }

  .el-dialog__footer {
    text-align: center;
  }

  .el-pager li {
    padding: 0;
    margin: 0 5px;
    color: #999;
    font-weight: 400;
  }

  .el-pager li.active {
    color: #ff822f;
  }

  .el-pagination {
    margin-top: 10px;
  }

  .el-button--mini {
    font-size: 14px;
    color: #666;
  }

  .el-button--mini:hover {
    background-color: #fff3ea;
    color: #ff822f;
    border-color: #ff822f;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #fff;
  }

  .el-table .el-table_1_column_10 .cell .zyz_text {
    line-height: 20px;
    display: inline-block;
  }

  .v-modal {
    /* z-index: 2002 !important; */
  }

  .search_btn_col3 {
    width: auto;
    margin: 0 10px;
  }

  #dashboard .el-button--mini {
    border: 1px solid #ff822f;
    color: #ff822f;
    width: 70px;
    height: 26px;
    text-align: center;
    font-size: 14px;
    padding: 0;
  }

  #dashboard .el-button--mini:hover {
    border: 1px solid #ff822f;
    background-color: #ff822f;
    color: #fff;
  }

  .unfinish_table.el-table .cell {
    height: 70px;
    line-height: 70px;
  }

  .unfinish_table.el-table th > .cell {
    line-height: 70px;
  }

  .unfinish_table.el-table .cell .order_num {
    display: inline-block;
    line-height: 20px;
  }

  .azm-from_dialog_title {
    height: 40px;
    border-bottom: 1px solid #DDD;
  }

  .azm-from_dialog_title .azm-from_dialog_title_item:nth-child(1) {
    font-size: 18px;
  }

  .azm-from_dialog_title .azm-from_dialog_title_item:nth-child(2) {
    font-size: 16px;
    color: #666;
  }

  #azm-body {
    .dialog-footer {
      text-align: center;
    }
  }
</style>
<script>
  import sgsLayout from "../sgsLayout/sgsLayout";
  import ReportDialog from "../reportDialog/reportDialog";
  import Button from "iview/src/components/button/button";

  var ecUtil = require('../../components/util.js');
  var HttpServer = require("../../components/http.js");
  var core = require("../../components/commonFunc.js");
  export default {
    data () {
      return {
        name: "app",
        isTapScreening: false,
        activeName: "first",
        keysearch: '',
        reportCreateDate: [],
        reporttype:'all',
        reporttypeArray:[
          {
            value: 'all',
            label: '全部'
          }, {
            value: '0',
            label: '正常报告'
          }, {
            value: '1',
            label: '勘误报告'
          }
        ],
        alltotal: 0,//全部报告总条目
        alltotal1:0,
        allcurrentPage: 1,
        allsize: 10,
        allreportListData: [],
        allmultipleSelection: [],//批量多选下载所有报告

        untotal: 0,//未读报告总条目
        untotal1:0,
        uncurrentPage: 1,
        unsize: 10,
        unreportListData: [],
        unmultipleSelection: [],//批量多选下载未读报告
        //报告详情弹出框
        showReportDialog: false,
        reportDialogParams:{},
        //排序
        orderDirection: "DESC",
      };
    },

    mounted: function () {
    },
    created: function () {
      this.initUnReport();
      this.initAllReport();
    },
    components: {
      sgsLayout: sgsLayout,
      Button,
      ReportDialog
    },
    methods: {
      // 筛选下拉切换
      tapScreening () {
        $(".fz_serch_input").slideToggle(500)
        this.isTapScreening = !this.isTapScreening
      },
      initUnReport () {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/report/api/v1/getReportList";
        var conf = {
          'isCallback': 'true'
        }
        var data = {
          customerid: core.getCookie('defaultCustId'),
          pageNo: this.uncurrentPage,
          pageSize: this.unsize,
          keysearch: this.keysearch,
          reporttype:this.reporttype,
          beginDate: this.reportCreateDate==null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[0],
          endDate: this.reportCreateDate==null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[1],
          isRead: 0 ,//初始化默认查询未读报告
          orderDirection: this.orderDirection
        };
        HttpServer.post(this, url, data, function (response) {
          _this.unreportListData = response.reportListData;
          _this.untotal = parseInt(response.count);
          _this.untotal1 = parseInt(response.count);
          // if(_this.untotal1 ==0){
          //   console.log("1")
          //   _this.untotal1 = parseInt(response.count);
          // }else{
          //   if(_this.keysearch || _this.reportCreateDate){
          //     console.info('如有查询条件标题总条目不更新');
          //   }else{
          //     _this.untotal1 = parseInt(response.count);
          //     console.log("2")
          //   }
          // }
        }, conf);

      },
      initAllReport () {
        var _this = this;
        var url = process.env.ecalibrationUrl + "/report/api/v1/getReportList";
        var conf = {
          'isCallback': true
        }
        var data = {
          customerid: core.getCookie('defaultCustId'),
          keysearch: this.keysearch,
          reporttype:this.reporttype,
          beginDate: this.reportCreateDate==null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[0],
          endDate: this.reportCreateDate==null || this.reportCreateDate.length == 0 ? "" : this.reportCreateDate[1],
          pageNo: this.allcurrentPage,
          pageSize: this.allsize,
          orderDirection:this.orderDirection
        };
        HttpServer.post(this, url, data, function (response) {
          _this.allreportListData = response.reportListData;
          _this.alltotal = parseInt(response.count);
          _this.alltotal1 = parseInt(response.count);
          if(_this.alltotal1 ==0){
            _this.alltotal1 = parseInt(response.count);
          }else{
            if(_this.keysearch || _this.reportCreateDate){
              console.info('如有查询条件标题总条目不更新');
            }else{
              _this.alltotal1 = parseInt(response.count);

            }
          }
        }, conf);
      },
      readreport (row) {
        //修改报告状态
        var url = process.env.ecalibrationUrl + "/report/api/v1/updateReportState";
        var conf = {
          'isCallback': true
        }
        HttpServer.post(this, url, {ids: row.id, isRead:1}, function (response) {

          if (response.success) {
            row.isRead = 1;
          }
        }, conf);
      },
      markReadReport (selectRows,type) {
        if (selectRows.length <= 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var ids = "";
        selectRows.forEach(function (v) {
          ids += v.id + ",";
        })
        //修改报告状态
        var url = process.env.ecalibrationUrl + "/report/api/v1/updateReportState";
        var conf = {
          'isCallback': true
        }
        let _this = this;
        HttpServer.post(this, url, {ids: ids, isRead:type}, function (response) {
          if (response.success) {
            selectRows.forEach(function (v) {
              v.isRead = type;
            })
          }
        }, conf);
      },
      //日期格式化
      dateFormat: function (row, column) {
        var date = row[column.property];
        if (date == undefined) {
          return "";
        }
        var dateArr = date.split(" ");
        var ymd = dateArr[0].split("-");
        return ymd[0]+"-"+ymd[1]+"-"+ymd[2];
      },
      goOrderDetail (type, id, orderno) {
        ecUtil.goOrderDetail(type, id, orderno);
      },
      goEquipmentDeatail (equId) {
        window.open("equDetail.html?id=" + equId + "&isNew=false");
      },
      downloadReport (row) {
        var _this = this;
        var url = process.env.FrameWorkApiUrl + "file/download";
        var conf = {
          'isCallback': true
        }
        let fd = new FormData()
        fd.append('key', row.fileid)
        HttpServer.post(this, url, fd, function (response) {
          if (response) {
            _this.readreport(row);//下载过的报告设置状态为已读
            window.location.href = response;
          }
        }, conf);
      },
      downloadReportPDF (fileid) {
        // var _this = this;
        var url = process.env.FrameWorkApiUrl + "file/download";
        var conf = {
          'isCallback': true
        }
        let fd = new FormData()
        fd.append('key', fileid)
        HttpServer.post(this, url, fd, function (response) {
          if (response) {
            window.open(response);
          }
        }, conf);
      },
      beachDownload: function (selectRows) {
        if (selectRows.length <= 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var fileIds = "";
        var ids = "";
        $.each(selectRows, function (i, v) {
          fileIds += v.fileid + ",";
          ids += v.id + ",";
        });
        console.log(fileIds);
        fileIds = fileIds.substr(0, fileIds.length - 1);
        ids = ids.substr(0, ids.length - 1);
        console.log(fileIds);
        window.open(process.env.ecalibrationUrl + "openapi/file/api/v1/batchDownload?keys=" + fileIds);
        this.markReadReport(selectRows);
      },
      handleClick (tab, event) {
          this.initUnReport();
          this.initAllReport();
      },
      openReportDialog: function (row) {
        var _this = this;
        this.readreport(row);
        this.reportDialogParams = {
          id:row.id,
          orderEquipmentInstanceID:row.orderEquipmentInstanceID,
          equipmentid:row.equipmentid,
          orderid:row.orderid
        };
        this.showReportDialog = true;
      },
      unhandleSelectionChange: function (val) {
        this.unmultipleSelection = val;
      },
      allhandleSelectionChange: function (val) {
        this.allmultipleSelection = val;
      },
      hasSelected: function (selection, row) {
        $(".table_ljsj_btn")
          .removeClass("sgs_notactive_btn")
          .addClass("sgs_active_btn")
          .css({
            float: "left",
            margin: "10px"
          });
      },
      unhandleSizeChange (val) {
        this.unsize = val;
        this.initUnReport();
      },
      unhandleCurrentChange (val) {
        this.uncurrentPage = val;
        this.initUnReport();
      },
      allhandleSizeChange (val) {
        this.allsize = val;
        this.initAllReport();
      },
      allhandleCurrentChange (val) {
        this.allcurrentPage = val;
        this.initAllReport();
      },
      // 排序
      allReportSortChange(column) {
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initAllReport();
      },
      unReportSortChange(column){
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initUnReport();
      }
    }
  };
</script>
