<template>
  <div id="equDetail">
    <sgsLayout :active-index="5"></sgsLayout>
    <el-row style="margin-bottom: 20px;text-align: right;margin-right: 50px;">
      <userselect ref:userselect></userselect>
    </el-row>
    <!--<div class="pull-right">
        <el-button type="primary" @click="createcalendar">添加</el-button>
    </div>-->
    <div>
      <full-calendar class="test-fc" :events="fcEvents" first-day='1' locale="zh" @eventClick="eventClick"
                     @dayClick="dayClick" @moreClick="moreClick">
        <template slot="fc-event-card" slot-scope="p">
          <p>
            <i class="fa">sadfsd</i> {{ p.event.title }} test</p>
        </template>
      </full-calendar>
    </div>

    <el-dialog title="日程" :visible.sync="guanliandialogTableVisible">
      <el-form :model="guanlianForm" status-icon ref="guanlianForm" label-width="100px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="标题">
              <el-input v-model="guanlianForm.afAttr1"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="开始时间">
              <el-date-picker v-model="guanlianForm.afAttr2" :editable="false"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="结束时间">
              <el-date-picker v-model="guanlianForm.afAttr3" :editable="false"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="内容">
              <el-input type="textarea" :rows="3" v-model="guanlianForm.afAttr4"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">

        <el-button @click="guanliandialogTableVisible = false">关 闭</el-button>
        <el-button type="primary" @click="deletecalendar" v-loading.fullscreen.lock="">删除</el-button>
        <el-button type="primary" @click="savecalendar" v-loading.fullscreen.lock="">确认</el-button>
      </div>
    </el-dialog>

    <el-dialog title="日程" :visible.sync="newVisible">
      <el-form :model="newForm" status-icon ref="newForm" label-width="100px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="标题">
              <el-input v-model="newForm.afAttr1"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="开始时间">
              <el-date-picker v-model="newForm.afAttr2" :editable="false"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="结束时间">
              <el-date-picker v-model="newForm.afAttr3" :editable="false"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="内容">
              <el-input type="textarea" :rows="3" v-model="newForm.afAttr4"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">

        <el-button @click="newVisible = false">关 闭</el-button>
        <el-button type="primary" @click="newcalendar" v-loading.fullscreen.lock="">确认</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import sgsLayout from '../sgsLayout/sgsLayout'

  var core = require('../../components/commonFunc.js');
  var ecUtil = require('../../components/util.js');
  var HttpServer = require('../../components/http.js');
  let demoEvents = [];
  export default {
    data: function () {
      return {
        name: 'Sunny!',
        fcEvents: demoEvents,
        guanliandialogTableVisible: false,
        newVisible: false,
        guanlianForm: {
          afAttr1: '',
          afAttr2: '',
          afAttr3: '',
          afAttr4: ''
        },
        newForm: {
          afAttr1: '',
          afAttr2: '',
          afAttr3: '',
          afAttr4: ''
        },
        tempid: ''
      }
    },
    components: {
      'full-calendar': require('vue-fullcalendar'),
      sgsLayout
    },
    props: {
      lang: {
        type: String,
        default: 'zh'
      }
    },
    created: function () {
      this.initOrderInfo();
    },
    methods: {

      initOrderInfo: function () {
        var id = core.getUrlParam('orderid');
        var url = process.env.ecalibrationUrl + "/calendar/api/v1/initcalendar";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId')

        }, this.initOrderInfocallback, conf);
      },
      initOrderInfocallback: function (response) {
        for (var i = 0; i < response.list.length; i++) {
          demoEvents.push(response.list[i])
        }
      },

      'eventClick' (event, jsEvent, pos) {
        //this.guanliandialogTableVisible = true;
        //this.guanlianForm.afAttr1 = event.title;
        // this.guanlianForm.afAttr2 = event.start;
        //this.guanlianForm.afAttr3 = event.end;
        // this.tempid = event.id;
        debugger;
        ecUtil.goOrderDetail(event.type, event.id, event.title);
        console.log('eventClick', event, jsEvent, pos)
      },
      'dayClick' (day, jsEvent) {
        console.log('dayClick', day, jsEvent)
      },
      'moreClick' (day, events, jsEvent) {
        console.log('moreCLick', day, events, jsEvent)
      },
      deletecalendar: function () {
        const _self = this;
        _self.$confirm('是否删除该日程', '提示', {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          //删除页面JS数据

          jQuery.ajax({
            url: _self.ENV.ecUrl + '/calendar/api/v1/deletecalendar',
            dataType: "json",
            data: {
              //订单信息id
              id: _self.tempid
            },
            type: 'post'
          }).done(function (result) {
            _self.guanliandialogTableVisible = false;
            _self.$message({
              type: '提示',
              message: '删除成功!'
            });
            window.location.reload();
          });
        }).catch(() => {
          _self.$message({
            type: '提示',
            message: '操作取消!'
          });
        });
      },
      savecalendar: function () {
        const _self = this;
        var datefrom = "";
        var dateto = "";
        if (_self.guanlianForm.afAttr2 != null) {
          if (_self.guanlianForm.afAttr2 != "" && _self.guanlianForm.afAttr2 != undefined) {
            var d = new Date(_self.guanlianForm.afAttr2);
            datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
          }
          if (_self.guanlianForm.afAttr3 != "" && _self.guanlianForm.afAttr3 != undefined) {
            var d2 = new Date(_self.guanlianForm.afAttr3);
            dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
          }
        }

        _self.$confirm('是否修改该日程', '提示', {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          //删除页面JS数据

          jQuery.ajax({
            url: _self.ENV.ecUrl + '/calendar/api/v1/savecalendar',
            dataType: "json",
            data: {
              //订单信息id
              id: _self.tempid,
              userid: core.getCookie('defaultCustId'),
              title: _self.guanlianForm.afAttr1,
              starttime: datefrom,
              endtime: dateto,
              description: _self.guanlianForm.afAttr4
            },
            type: 'post'
          }).done(function (result) {
            _self.guanliandialogTableVisible = false;
            _self.$message({
              type: '提示',
              message: '保存成功!'
            });
            window.location.reload();
          });
        }).catch(() => {
          _self.$message({
            type: '提示',
            message: '操作取消!'
          });
        });
      },
      createcalendar: function () {
        this.newVisible = true;
      },
      newcalendar: function () {
        debugger;
        const _self = this;
        var datefrom = "";
        var dateto = "";
        if (_self.newForm.afAttr2 != null) {
          if (_self.newForm.afAttr2 != "" && _self.newForm.afAttr2 != undefined) {
            var d = new Date(_self.newForm.afAttr2);
            datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
          }
          if (_self.newForm.afAttr3 != "" && _self.newForm.afAttr3 != undefined) {
            var d2 = new Date(_self.newForm.afAttr3);
            dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
          }
        }
        _self.$confirm('是否创建新的日程', '提示', {
          confirmButtonText: '确认',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          //删除页面JS数据

          jQuery.ajax({
            url: _self.ENV.ecUrl + '/calendar/api/v1/savecalendar',
            dataType: "json",
            data: {
              //订单信息id
              userid: core.getCookie('defaultCustId'),
              title: _self.newForm.afAttr1,
              starttime: datefrom,
              endtime: dateto,
              description: _self.newForm.afAttr4
            },
            type: 'post'
          }).done(function (result) {
            _self.newVisible = false;
            _self.$message({
              type: '提示',
              message: '新建成功!'
            });
            window.location.reload();
          });
        }).catch(() => {
          _self.$message({
            type: '提示',
            message: '操作取消!'
          });
        });
      },
      emitChangeMonth: function (start, end, currentStart, current) {
        debugger;
        console.log('currentDate 2', this.currentDate);
        this.currentDate = current;
        console.log('currentDate 3', this.currentDate);
        this.$emit('changeMonth', start, end, currentStart);
      },
    }
  }
</script>
<style type="text/css">
  .sgs-panel-heading-2 {
    font-family: "Univers Condensed", "Helvetica Neue", Arial, Helvetica, sans-serif;

    line-height: 20px;
    height: 30px;
    color: #111;
    font-size: 32px;
    text-decoration: none;
  }

  .comp-full-calendar {
    padding: 20px;
    background: #fff;
    max-width: 1800px;
    margin: 0 auto;
  }
</style>
