<template>
  <div id="login">
    <el-main>
      <el-card class="box-card">
        <p class="login_text">登陆</p>
        <el-form :label-position="labelPosition" label-width="80px" :model="loginForm" :rules="rules" ref="loginForm">
          <el-form-item label="" prop="name">
            <el-input v-model="loginForm.name" placeholder="请输入账号"></el-input>
          </el-form-item>
          <el-form-item label="" prop="password">
            <el-input v-model="loginForm.password" placeholder="请输入密码" type="password"></el-input>
          </el-form-item>
          <el-form-item>
            <el-checkbox v-model="checked">记住密码</el-checkbox>
          </el-form-item>
          <el-button class="login_btn" @click="LoginEc('loginForm')" type="primary">登录</el-button>
          <a class="goto_login">没有帐号？立即注册</a>
        </el-form>
      </el-card>
    </el-main>
    <div class="login_footer">
      <el-row class="footer">
        <el-col :span="4" :offset="4">条款及条件</el-col>
        <el-col :span="4">隐私政策</el-col>
        <el-col :span="4">分支机构名录</el-col>
        <el-col :span="4">SGS官网</el-col>
      </el-row>
    </div>
  </div>

</template>
<style>
  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #login .el-main {
    width: 100%;
    height: 80%;
    position: relative;
    background: url(../../../static/images/login_bg2a.png) top center no-repeat;
    /*background-size: 100% 100%;*/
  }

  #login, #app {
    height: 100%;
    width: 100%;
  }

  #login .box-card {
    width: 370px;
    height: 340px;
    position: absolute;
    right: 15%;
    animation: down 1.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 15px 0
  }

  @-webkit-keyframes down {
    0% {
      top: 15%
    }
    100% {
      top: 31%
    }
  }

  .login_footer {
    width: 100%;
    height: 20%;
    background-color: #333;
    /*line-height:200px;*/
    position: relative;
    bottom: 0;
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #CCCCCC;
    left: 0;
    border-radius: 0;
  }

  .login_footer div {
    padding: 0 auto;
    margin: 0 auto;
  }

  .login_text {
    text-align: center;
    font-family: SourceHanSansCN-Medium;
    font-size: 18px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .el-form-item {
    width: 310px;
  }

  .el-form-item__content {
    margin: 0 !important;
    width: 310px;
  }

  .el-input {
    width: 310px;
    height: 40px;
  }

  .el-card__body {
    padding: 30px;
  }

  .el-form-item--small.el-form-item {
    margin-bottom: 20px;
  }

  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }

  .el-checkbox__inner::after {
    top: 3px;
    left: 6px;
  }

  .el-checkbox {
    font-size: 16px;
    color: #666;
    font-family: SourceHanSansCN-Normal;
  }

  .login_btn {
    width: 310px;
    height: 50px;
    background-color: #ff822f;
    text-align: center;
    color: #fff;
  }

  .login_btn span {
    font-family: SourceHanSansCN-Normal;
    font-size: 18px;
    color: #FFFFFF;
  }

  .goto_login {
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    color: #FF822F;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
  }

  .el-form-item--small .el-form-item__content {
    line-height: 20px;
  }

  .footer {
    position: absolute;
    width: 100%;
    padding-left: 21.6666%;
    top: 45%;
    margin-top: -24px;
  }
</style>
<script>
  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  var Base64 = require('../../components/base64.js');
  var axios = require('axios');
  export default {
    name: 'app',
    data () {
      return {
        checked: true,
        labelPosition: 'right',
        loginForm: {
          name: '',
          password: ''
        },
        rules: {
          name: [{required: true, message: '请输入用户名', trigger: 'blur'}],
          password: [{required: true, message: '请输入密码', trigger: 'blur'}]
        }
      }
    },

    created: function () {
      // this.loginForm.name = core.get
    },
    mounted: function () {
      this.getCookie();
    },
    methods: {
      LoginEc (formName) {
        var self = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
            //记住密码
            if(this.checked){
              this.setCookie(this.loginForm.name,Base64.encode(this.loginForm.password),"d7");
            }else{
              this.clearCookie();
            }
            var url = process.env.UserManagementApiUrl + "login/externalLoginIn";
            var conf = {
              'isCallback': 'true'
            }
            let fd = new FormData()
            fd.append('username', self.loginForm.name);
            fd.append('password', self.loginForm.password);
            HttpServer.post(this, url, fd, this.loginSuccess, conf);
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      loginSuccess (data) {
        if (data.mes == 'ERROR') {
          this.$message.error('登录失败,请联系管理员!');
        } else {
          core.setCookie("sgsToken", data.sgsToken, 'h12');
          core.setCookie("username", data.username, 'h12');
          core.setCookie("password", Base64.encode(this.loginForm.password), 'h12');
          core.setCookie("isTips", -1, 'h12');
          var url = process.env.CustomerApiUrl + "preOrderCustomer/queryByCompanyToken";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.get(this, url, {sgsToken: data.sgsToken}, this.getCustomerInfo, conf);
        }
      },
      getCustomerInfo (data) {
        if (data.rows.length > 0) {//如果有关联的客户信息则获取
          var defaultCustId = data.rows[0].customerId;
          var defaultCustName = data.rows[0].nameEn;
          core.setCookie("defaultCustId", defaultCustId, 'h12');
          core.setCookie("defaultCustName", defaultCustName, 'h12');
        }
        window.location.href = "dashboard.html";
      },
      //设置cookie
      setCookie(name, password, exdays) {
        core.setCookie("userName",name,exdays);
        core.setCookie("userPassword",password,exdays);
      },
      //读取cookie
      getCookie: function() {
        let userName =  core.getCookie("userName");
        if(userName != null){
          this.loginForm.name = userName;
        }
        let userPassword = core.getCookie("userPassword");
        if(userPassword != null){
          userPassword = Base64.decode(userPassword);
        }
        this.loginForm.password = userPassword;
      },
      //清除cookie
      clearCookie: function() {
        this.setCookie("", "","d-1"); 
      }
    }
  }
</script>
