<template>
  <div id="userCenter">
    <sgsLayout></sgsLayout>
    <el-main class="main_content content_container">
      <!-- 基础信息模块 -->
      <div class="module module1">
        <el-row>
          <el-col :span="6" class='left_big_title'><span class="module_title" id="sbxx">基础信息</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10"  :offset="2">
            <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">委托单位编号</span></el-col>
              <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.calibrationnumber"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
          </el-col>
          <el-col :span="10" :offset="2">
            <el-row :gutter="10">
              <el-col :span="8"><span class="left_text">服务地区</span></el-col>
              <el-col :span="16">
                <el-select filterable v-model="customerinfo.servicearea" style="width: 100%;" :disabled="true">
                  <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                </el-select>
              </el-col>
              <el-col :span="2"></el-col>
            </el-row>
          </el-col>
        </el-row>
      </div>

      <!-- 校准信息模块 -->
      <div class="module module2">
        <el-row>
          <el-col :span="6" class='left_big_title'><span class="module_title" id="sbxx">校准信息</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="10"  :offset="2">
            <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">委托单位</span></el-col>
              <el-col :span="16"><el-input class="line-height_input"  v-model="customerinfo.calibrationcustomernamecn"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
            <el-row :gutter="10">
              <el-col :span="8"><span class="left_text">委托地址</span></el-col>
              <el-col :span="16"><el-input class="input_heighter" v-model="customerinfo.entrustmentaddresscn"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
            <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">联系人</span></el-col>
              <el-col :span="16"><el-input v-model="customerinfo.calibrationcontactname"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
            <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">联系人邮箱</span></el-col>
              <el-col :span="16"><el-input  v-model="customerinfo.calibrationemail"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
          </el-col>
          <el-col :span="10" :offset="2">
           <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">英文委托单位</span></el-col>
              <el-col :span="16"><el-input class="input_heighter" v-model="customerinfo.calibrationcustomernameen"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
          <el-row :gutter="10">
            <el-col :span="8"><span class="left_text">英文委托地址</span></el-col>
            <el-col :span="16"><el-input class="input_heighter" v-model="customerinfo.entrustmentaddressen"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <el-row :gutter="10">
              <el-col :span="8" ><span class="left_text">联系人电话</span></el-col>
              <el-col :span="16"><el-input v-model="customerinfo.calibrationmobile"></el-input></el-col>
              <el-col :span="2"></el-col>
            </el-row>
          <el-row :gutter="10">
            <el-col :span="8"><span class="left_text">校准地址</span></el-col>
            <el-col :span="16"><el-input  class="input_heighter" v-model="customerinfo.calibrationaddress"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
        </el-col>
      </el-row>
      </div>

    <!-- 发票信息模块 -->
    <div class="module module3">
      <el-row>
        <el-col :span="6" class='left_big_title'><span class="module_title" id="sbxx">发票信息</span>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="10"  :offset="2">
          <el-row :gutter="10">
            <el-col :span="8" ><span class="left_text">企业名称</span></el-col>
            <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.customernamecn"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :span="8" ><span class="left_text">发票地址</span></el-col>
            <el-col :span="16"><el-input class="input_heighter" :disabled="true" v-model="customerinfo.customerinvoiceaddress"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :span="8" ><span class="left_text">发票邮寄地址</span></el-col>
            <el-col :span="16"><el-input class="input_heighter" :disabled="true" v-model="customerinfo.customerinvoiceexpressaddress"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :span="8" ><span class="left_text">联系人邮箱</span></el-col>
            <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.customeremail"></el-input></el-col>
            <el-col :span="2"></el-col>
          </el-row>
        </el-col>
        <el-col :span="10" :offset="2">
         <el-row :gutter="10">
          <el-col :span="8"><span class="left_text">企业税号</span></el-col>
          <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.customertaxregistrationnumber"></el-input></el-col>
          <el-col :span="2"></el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="8"><span class="left_text">开户行及账号</span></el-col>
          <el-col :span="16"><el-input class="input_heighter" :disabled="true" v-model="customerinfo.customeropeningbank"></el-input></el-col>
          <el-col :span="2"></el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="8" ><span class="left_text">联系人</span></el-col>
          <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.customercontactname"></el-input></el-col>
          <el-col :span="2"></el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="8" ><span class="left_text">联系人电话</span></el-col>
          <el-col :span="16"><el-input :disabled="true" v-model="customerinfo.customermobile"></el-input></el-col>
          <el-col :span="2"></el-col>
        </el-row>
      </el-col>
    </el-row>


  </div>
   <el-footer>

   <el-button class="save_btn" @click="saveCustomerInfo">保存信息</el-button>

</el-footer>
  </el-main>

</div>
</template>
<style scope>
.text_left{
  padding-left: 25px;
}
.module.el-input__inner{
  background-color: #fff;
}
.module.input_heighter.el-input__inner{
  height: 80px !important;
}
.module3{
  border-bottom: none;
  padding-bottom: 0;
}
.save_btn{
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
.content_container{
  margin-bottom: 50px;
}

.servive_place {
      height: 40px;
line-height: 40px;
border: 1px solid #ddd;
margin-top: 20px;
width: 85%;
padding-left: 15px;
cursor: pointer;
}
.servive_place span{
  display: inline-block;
      width: 100%;
}
.save_btn:hover{
  background-color: #FF822F;
  color: #fff;
}
#userCenter  .module{
  padding-bottom: 30px;
}
el-icon--right{
  float: right;
  padding: 14px;
}
.dropdown_menu.el-dropdown-menu.el-dropdown-menu--small{
  left: 1012px !important;
}
.el-dropdown-menu--small .el-dropdown-menu__item:hover{
    background-color: #FF822F;
  color: #fff;
}
.w_header .el-button {
      width: 150px;
height: 40px;
font-size: 16px;
}
.w_header  .el-icon--right{
  float: none;
  padding: 0;
}
.w_header .el-button:hover{
  background-color: #fff;
  color: #666;
}
.line-height_input:focus{
  border-color: #FF822F;
}
#userCenter  .module .el-input__inner{
  background-color: #fff;
}
#userCenter  .module3{
    padding-bottom: 0;
    border-bottom: 0;
  }
#userCenter  .el-input.is-disabled .el-input__inner{
    background-color: #f9f9f9;
  }
</style>
<script>
import sgsLayout from '../sgsLayout/sgsLayout';
var HttpServer = require('../../components/http.js');
var core = require('../../components/commonFunc.js');
    export default {
      data() {
        return {
          customerinfo:{
            id:'',
            calibrationnumber:'',
            customernamecn:'',
            customercontactname:'',
            customermobile:'',
            customeremail:'',
            entrustmentaddresscn:'',
            entrustmentaddressen:'',
            calibrationcustomernameen:'',
            calibrationcustomernamecn:'',
            calibrationemail:'',
            calibrationmobile:'',
            calibrationcontactname:'',
            calibrationaddress:'',
            customertaxregistrationnumber:'',
            customerinvoiceaddress:'',
            customeropeningbank:'',
            customerinvoiceexpressaddress:'',
            servicearea:''
          },
          options: [{
            value: '上海',
            label: '上海'
          },{
            value: '天津',
            label: '天津'
          },{
            value: '深圳',
            label: '深圳'
          }]
       }
     },
    created:function(){
      this.initInfo();
    },
    components: {
        'sgsLayout': sgsLayout
    },
    methods : {
      initInfo(){
        var id = core.getCookie('defaultCustId')
        var url = process.env.ecalibrationUrl+"equipmentCustomer/api/v1/getCustomerInfoById";
        var conf = {
          'isCallback':'true'
        }
        HttpServer.post(this,url,{id:id},this.getCustomerInfoById,conf);
      },
      getCustomerInfoById(response){
        this.customerinfo = response.customerinfo;
      },
      saveCustomerInfo(){
        var url = process.env.ecalibrationUrl+"equipmentCustomer/api/v1/saveCustomerInfo";
        var conf = {
          'isCallback':false,
          showNotifyWhenSuccess:true
        }
        HttpServer.post(this,url,this.customerinfo,"",conf);
      }

    }
}
</script>
