<template>
  <div id="orderDetail">
    <sgsLayout :active-index="3"></sgsLayout>
    <el-main class="main_content content_container">
      <!-- 顶部黄色步骤提示 -->
      <!-- 内容导航 -->
      <el-header height="60px" class="order_detail_header">
        <ul class="" @select="handleSelect">
          <li :span="4" id='0' class="active" @click="sh(0)">
            <a>全部订单</a>
          </li>
          <li :span="4" id="1" @click="sh(1)">
            <a>待提交</a>
          </li>
          <li :span="4" id="2" @click="sh(2)">
            <a>待SGS确认</a>
          </li>
          <li :span="4" id='3' @click="sh(3)">
            <a>排期中</a>
          </li>
          <li :span="4" id='4' @click="sh(4)">
            <a>作业中</a>
          </li>
          <li :span="4" id='5' @click="sh(5)">
            <a>已完成</a>
          </li>
          <li :span="4" id='6' @click="sh(6)">
            <a>已关闭</a>
          </li>
        </ul>
      </el-header>
      <!-- 输入筛选条件 -->
      <el-row :gutter="10">
        <el-col :span="9" class="input_box">
          <el-input v-model="keysearch" placeholder="请输入设备名称/设备编号/机身编号/订单编号查询" class="sx_input"></el-input>
        </el-col>
        <el-col :span="6" class="btn_box">
          <el-button class="sgs_active_btn" @click="search">查询</el-button>
        </el-col>
        <el-col :span="6" class="moresearch">
          <div @click="tapScreening">
            <span class="sgs_active_text jingque_search" style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
            <i class="el-icon-d-arrow-left azm-icon" :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
          </div>
        </el-col>
      </el-row>
      <!-- 精确条件 -->
      <el-row :gutter="10" class="jingque_condition_box">
        <el-col :span="3" class="submit_text_box">
          <span class="submit_text">订单提交时间</span>
        </el-col>
        <el-col :span="11">
          <el-date-picker v-model="value1" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
        </el-col>
        <el-col :span="10" class="submit_text_box order_num_text ">
          <span class="submit_text ">订单设备数量</span>
          <div class="num_sx_box" :class="{'active':equipmentcount==1}" v-on:click="changeColor(1)">小于50</div>
          <div class="num_sx_box" :class="{'active':equipmentcount==2}" v-on:click="changeColor(2)">50～200</div>
          <div class="num_sx_box" :class="{'active':equipmentcount==3}" v-on:click="changeColor(3)">大于200</div>
        </el-col>
      </el-row>
      <template v-for="data in tableData">
        <el-row class="order_box">
          <el-col :span="16" class="each_order_detail">
            <el-row class="title_banner  title_banner_first">
              <el-col :span="7">
                <span class="date">{{data.createdate}}</span>
              </el-col>
              <el-col :span="11">
                <span class="order_num">订单号：
                  <a class="azm-route_serial_number" @click="godetail(data.orderstatus,data.id,data.orderno)">{{data.orderno}}</a>
                </span>
              </el-col>
              <el-col :span="6" class="azm-text-center" style="font-size: 14px;color: #666;font-family: SourceHanSansCN-Regular;height: 30px;line-height: 30px">
                <i class="el-icon-close"></i>{{data.equipmentcount}}
              </el-col>
            </el-row>
            <el-row class="dev_content" v-for="(data2,index) in data.myorderEquipment" :key="index">
              <el-col :span="18">
                <!--<img src="data2.url" class="">-->
                <img :src="data2.url" class="dev_pic">
                <div class="order_dev_text">
                  <p class="name">{{data2.equipmentnamecn}}</p>
                  <p>
                    <span>设备编号：{{data2.equipmentno}}</span>
                    <!--<span>管理编号：{{data2.assetNo}}</span>-->
                    <span>机身编号：{{data2.equipmentserialno}}</span>
                  </p>
                  <!--<p></p>-->
                  <!--<p></p>-->
                  <p>
                    <span>参数：{{data2.calibrationitems}} </span>
                    <span v-if="data2.calibrationitemscount>1">...</span>
                    <span class="fanwei"> 范围：{{data2.equipmentmeasuringrange}}</span>
                    <span v-if="data2.calibrationitemscount>1">...</span>
                  </p>
                </div>
              </el-col>
              <el-col :span="6" class="total_dev_num">
                <i class="el-icon-close"></i>1
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="4" class="each_order_status">
            <div class="title_banner"></div>
            <div class="dev_status" v-if="data.orderstatus==2">
              <p>待SGS确认</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
            </div>
            <div class="dev_status" v-if="data.orderstatus==1">
              <p>待提交</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
            </div>
            <div class="dev_status" v-if="data.orderstatus==3">
              <p>排期中</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
            </div>
            <div class="dev_status" v-if="data.orderstatus==4">
              <p>作业中</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
              <p>上门时间:{{data.earlydate}}</p>
            </div>
            <div class="dev_status" v-if="data.orderstatus==5">
              <p>已完成</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
            </div>
            <div class="dev_status" v-if="data.orderstatus==6">
              <p>已关闭</p>
              <p @click="godetail(data.orderstatus,data.id,data.orderno)">
                <a class="azm-route_serial_number">订单详情</a>
              </p>
            </div>
          </el-col>
          <el-col :span="4" class="each_order_caozuo">
            <div class="title_banner"></div>
            <div class="caozuo_box_daitijiao" v-if="data.orderstatus==1">
              <el-button class="caozuo_btn" @click="toorder(data.id,data.orderno,data.equipmentcount)">立即提交</el-button>
              <p class="sgs_active_text">{{data.daoqi}}天后校准到期</p>
            </div>
            <div class="caozuo_box_others" v-if="data.orderstatus==2">
              <p class="cz_normal_text azm-button_remove" @click="cancelOrder(data.id)">撤回订单</p>
              <el-button class="caozuo_btn" @click="copyorder(data.id)">订单复制</el-button>
            </div>
            <div class="caozuo_box_others" v-if="data.orderstatus==3">
              <el-button class="caozuo_btn" @click="copyorder(data.id)">订单复制</el-button>
            </div>
            <div class="caozuo_box_others" v-if="data.orderstatus==4">
              <p class="cz_normal_text azm-button_download_report" @click="downfile(data.id)">下载报告</p>
              <el-button class="caozuo_btn" @click="copyorder(data.id)">订单复制</el-button>
            </div>
            <div class="caozuo_box_others" v-if="data.orderstatus==5">
              <p class="cz_normal_text azm-button_download_report" @click="downfile(data.id)">下载报告</p>
              <el-button class="caozuo_btn" @click="copyorder(data.id)">订单复制</el-button>
            </div>
            <div class="caozuo_box_others" v-if="data.orderstatus==6">
              <el-button class="caozuo_btn" @click="agianorder(data.id)">再下一单</el-button>
              <p class="cz_normal_text azm-button_remove" @click="deleteOrder(data.id)">删除</p>
            </div>
          </el-col>
        </el-row>
        <div class="azm-order_box_more" v-if="data.equipmentcount > 3">
          <a class="azm-route_serial_number" @click="godetail(data.orderstatus,data.id,data.orderno);">查看更多设备</a>
        </div>
      </template>
      <div class="table_footer">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="size" layout=" prev, pager, next, jumper" :total="totalval">
        </el-pagination>
      </div>
    </el-main>
  </div>
</template>
<script>
import sgsLayout from '../sgsLayout/sgsLayout'

var HttpServer = require('../../components/http.js');
var core = require('../../components/commonFunc.js');
var ecUtil = require('../../components/util.js');
export default {
  name: 'orderDetail',
  data() {
    return {
      isTapScreening: false,
      //分页参数
      totalval: 10,
      currentPage: 1,
      size: 10,
      tableData: [],
      multipleSelection: [],
      centerDialogVisible: false,
      orderDirection: '',
      orderBy: '',
      value1: '',
      value2: '',

      //查询条件
      orderstatus: '',
      equipmentcount: '',
      keysearch: '',
      //图片集合
      tempurl: [],
      tempequid: '',
      date1: '',
      toorderno: '',
      toorderequipcount: '',
      toorderid: ''

    }
  },
  // 各种小动效
  mounted: function() {

    $(".num_sx_box").click(function() {
      $(this).toggleClass('active')
    })
    $(".order_detail_header ul li").click(function() {
      $(this).addClass("active").siblings().removeClass("active")

    })
    var tem = core.getUrlParam("type");
      if (tem != null && tem != ''&& this.orderstatus==tem) {
           $("#"+tem).addClass("active").siblings().removeClass("active");
      }
  },
  created: function() {
    this.initOrder();
  },
  components: {
    sgsLayout
  },
  updated: function() {

  },
  methods: {
    //   styleSet({row, rowIndex,columnIndex}){
    //       return 'hahah'
    //   alert(columnIndex)
    // },
    // 筛选下拉切换
    tapScreening() {
      $(".jingque_condition_box").slideToggle(500)
      this.isTapScreening = !this.isTapScreening
    },
    changeColor: function(val) {
      this.equipmentcount = val;
    },

    search: function() {
      this.initOrder();
    },
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },

    renderHeader_datepicker(createElement, { column }) {
      return createElement(
        'div', {
          attrs: {
            id: ""
          }
        },
        [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-date-picker', {
            attrs: {
              type: "date",
              id: "jzdq_date"
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    renderHeader_input(createElement, { column }) {
      return createElement(
        'div', {
          attrs: {
            id: "table_h_col3"
          }
        },
        [
          createElement('p', [column.label])
          // ,createElement('s')
          // ,createElement('p')
          , createElement('el-input', {
            attrs: {
              type: "input",
              id: 'sbmc_input'
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
        ]
      );
    },
    initOrder: function() {
      var url = process.env.ecalibrationUrl + "/order/api/v2/getOrderList";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      //计划校准时间
      var datefrom = "";
      var dateto = "";
      var tem = core.getUrlParam("type");
      if (tem != null && tem != '' && this.orderstatus ==='') {
        debugger;
        this.orderstatus = tem;
        //document.getElementById(tem).click();

        // $("#"+tem).click(function() {

        //    $("#"+tem).addClass("active").siblings().removeClass("active")

        // }).trigger('click');
        //$("#"+tem).addClass("active");
        //$("#"tem).addClass("active").siblings().removeClass("active")
      }

      //范围时间控件
      if (this.value1 != null) {
        if (this.value1[0] != "" && this.value1[0] != undefined) {
          var d = new Date(this.value1[0]);
          datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
        }
        if (this.value1[1] != "" && this.value1[1] != undefined) {
          var d2 = new Date(this.value1[1]);
          dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
        }
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: '1',
        pageSize: '10',
        orderBy: this.orderBy,
        orderDirection: this.orderDirection,
        datefrom: datefrom,
        dateto: dateto,
        orderstatus: this.orderstatus,
        equipmentcount: this.equipmentcount,
        keysearch: this.keysearch

      }, this.initOrdercallback, conf);
    },
    //获取当前页面动态的checkbox数据
    initOrdercallback: function(response) {
      this.tableData = response.data;
      //   var self = this;
      //  var url = process.env.FrameWorkApiUrl+"file/query";
      //        var conf = {
      //     'isCallback':'true'
      //   }
      //   for (var i = 0; i < response.data.length; i++) {
      //     for(var j = 0; j < response.data[i].myorderEquipment.length; j++){
      //        if(response.data[i].myorderEquipment[j].fileid!=''&&response.data[i].myorderEquipment[j].fileid!=null){
      //          this.tempequid=response.data[i].myorderEquipment[j].equipmentid;
      //                      var data=JSON.stringify({
      //         "queryParams": {  "systemID": 6,"objectID":response.data[i].myorderEquipment[j].equipmentid,"id":response.data[i].myorderEquipment[j].fileid}
      //       })
      //       HttpServer.post(this,url,data,this.initImage,conf);
      //        }
      //     }
      //   }
      this.totalval = parseInt(response.count);
    },
    //分页查询
    handleSizeChange: function(val) {
      this.size = val;
      this.initOrderpage(this.size, this.currentPage);
    },
    handleCurrentChange: function(val) {
      this.currentPage = val;
      this.initOrderpage(this.size, this.currentPage);
    },
    initOrderpage: function(size, currentPage) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/getOrderList";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      //计划校准时间
      var datefrom = "";
      var dateto = "";
      //范围时间控件
      if (this.value1 != null) {
        if (this.value1[0] != "" && this.value1[0] != undefined) {
          var d = new Date(this.value1[0]);
          datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
        }
        if (this.value1[1] != "" && this.value1[1] != undefined) {
          var d2 = new Date(this.value1[1]);
          dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
        }
      }
      HttpServer.post(this, url, {
        customerid: core.getCookie('defaultCustId'),
        pageNo: currentPage,
        pageSize: size,
        orderBy: this.orderBy,
        orderDirection: this.orderDirection,
        datefrom: datefrom,
        dateto: dateto,
        orderstatus: this.orderstatus,
        equipmentcount: this.equipmentcount,
        keysearch: this.keysearch

      }, this.initOrdercallback, conf);
    },


    sh: function(val) {
      if (val == 0) {
        this.orderstatus = 0;
      } else {
        this.orderstatus = val;
      }

      this.initOrder();

    },
    initImage: function(response) {
      if (response.length > 0) {
        var temp = {};
        temp.url = response[0].path;
        temp.equipmentid = this.tempequid;
        this.tempurl.push(temp);
        for (var i = 0; i < this.tableData.length; i++) {
          for (var j = 0; j < this.tableData[i].myorderEquipment.length; j++) {

            if (this.tableData[i].myorderEquipment[j].equipmentid == this.tempequid) {
              debugger;
              this.tableData[i].myorderEquipment[j].url = response[0].path;
            }

          }
        }
      }

    },
    //订单复制
    copyorder: function(val) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/copyorder";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      this.$confirm('是否确认进行订单复制操作?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        var _this = this;

        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderid: val

        }, this.copyordercallback, conf);

      }).catch(() => {

        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });
    },
    copyordercallback: function(response) {
      debugger;
      if (response.success) {

        ecUtil.goOrderDetail(1, response.detail, response.errorMessage);
      }
    },
    //删除订单
    deleteOrder:function (val) {
      let _this = this;
      var url = process.env.ecalibrationUrl + "/order/api/v2/deleteOrder";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }
      this.$confirm('是否确认删除订单?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderId: val
        }, (response)=>{
          if(response.detail!='0'){
            window.location.href = "orderDetail.html?type=0";
          }else{
            _this.$message({
              type: 'info',
              message: '删除失败!'
            });
          }

        }, conf);
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });

    },
    //撤销订单
    cancelOrder: function(val) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/cancelOrder";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }

      this.$confirm('是否确认撤销订单?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderId: val
        }, this.cancelOrdercallback, conf);
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });
    },
    cancelOrdercallback: function(response) {
      if (response.success) {
        //sgs待确认的订单 ,撤销订单, 是跳转到全部
        //this.orderstatus = 0;

        //this.initOrder();
        window.location.href = "orderDetail.html?type=0";
      }
    },
    //提交订单至明德
    toorder: function(id, orderno, equipmentcount) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/toorder";
      this.toorderid = id;
      this.toorderno = orderno;
      this.toorderequipcount = equipmentcount;
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }

      this.$confirm('是否确认提交订单?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {

        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderid: id

        }, this.toordercallback, conf);

      }).catch(() => {

        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });


    },
    toordercallback: function(response) {
      if (response.success) {
        window.location.href = "orderSubmitStep3.html?orderid=" + this.toorderid + "&orderno=" + this.toorderno + "&equipmentcount=" + this.toorderequipcount;
      }
      // this.initOrder();
    },
    //再下一单
    agianorder: function(val) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/agianorder";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }

      this.$confirm('是否确认重新下单?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {

        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderid: val

        }, this.agianordercallback, conf);

      }).catch(() => {

        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });


    },
    agianordercallback: function(response) {
      if (response.success) {

        core.setCookie('makeorderids', response.detail, '30d');
        window.location.href = "orderSubmit.html";
      }
    },
    godetail: function(type, id, orderno) {
      ecUtil.goOrderDetail(type, id, orderno);
    },

    downfile: function(id) {
      var url = process.env.ecalibrationUrl + "/order/api/v2/downfile";
      var conf = {
        'isCallback': 'true',
        showLoading: true
      }

      this.$confirm('是否确认下载报告?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {

        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          orderid: id

        }, this.downfilecallback, conf);

      }).catch(() => {

        this.$message({
          type: 'info',
          message: '已取消操作'
        });
      });
    },
    downfilecallback: function(response) {
      if (response.success) {
        if (response.detail != '' && response.detail != null) {
          window.open(process.env.ecalibrationUrl + "openapi/file/api/v1/batchDownload?keys=" + response.detail);
        } else {
          this.$message({
            type: 'info',
            message: '暂无报告上传'
          });
        }
      }
    },
  }
}
</script>

<style scoped lang="less">
/*公共*/

.order_detail_header {
  height: 60px;
  line-height: 60px;
  background-color: #eee;
  color: #666;
  padding-left: 0;
  margin-bottom: 30px;
}

.order_detail_header .el-menu {
  background-color: #eee;
  font-size: 20px;
}

.order_detail_header .el-menu--horizontal {
  border: none;
}

.order_detail_header .el-menu--horizontal .el-menu-item:hover {
  background-color: #eee !important;
}

.order_detail_header .el-menu--horizontal .el-menu-item.active:hover {
  background-color: #ff822f !important;
}

.order_detail_header .el-menu--horizontal .el-menu-item {
  padding: 0 30px;
  width: 140px;
  text-align: center;
}

.order_detail_header .el-menu--horizontal .el-menu-item a {
  font-family: SourceHanSansCN-Regular;
  font-size: 20px;
  color: #666666;
}

.order_detail_header .el-menu--horizontal .el-menu-item.active {
  background: #FF822F;
}

.order_detail_header .el-menu--horizontal .el-menu-item.active a {
  color: #fff;
}


/*中间的筛选*/

.sx_input {
  background: #FFFFFF;
  border-radius: 2px;
}

.input_box {}

.btn_box {
  width: auto;
}

.jingque_search {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.submit_text {
  display: inline-block;
  height: 40px;
  width: 150px;
  background-color: #f9f9f9;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
  text-align: center;
}

.jingque_condition_box {
  margin-top: 30px;
  width: auto;
  display: none;
}

.submit_text_box {
  /* margin-left: 30px;*/
}

.order_num_text {
  margin-left: -30px;
}

.jingque_condition_box .el-date-editor.el-input {
  margin: 0 10px;
}

.jingque_condition_box .zhi {
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #666666;
}

.num_sx_box {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #999999;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.num_sx_box.active {
  background-color: #ff822f;
  color: #fff;
}


/*订单*/

.order_box {
  width: 100%;
  /* height: 127px;*/
  margin: 30px 0 0 0;
  border: 1px solid #DDDDDD;
  position: relative;
}

.azm-order_box_more {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 14px;
}

.dev_content {
  height: 90px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.dev_content .el-col {
  height: 100%;
}

.order_box .title_banner {
  /* width: 100%; */
  height: 30px;
  background: #f9f9f9;
}

.each_order_status {
  border-right: 1px solid #ddd;
  height: 100%;
}

.each_order_detail,
.each_order_caozuo {
  height: 100%;
}

.title_banner span {
  width: auto;
  font-size: 14px;
  color: #999;
  display: inline-block;
  line-height: 30px;
}

.title_banner span.date {
  margin-left: 50px;
  margin-right: 80px;
}

.dev_pic {
  width: 60px;
  height: 60px;
  background-color: #f9f9f9;
  margin: 0 30px;
  position: absolute;
  top: 50%;
  margin-top: -30px;

  display: table-cell;
  vertical-align: middle;
}

.total_dev_num {
  line-height: 90px;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-family: SourceHanSansCN-Regular;
}

.order_dev_text {
  display: inline-block;
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #999999;
  margin-left: 120px;
  margin-top: 11px;
}

.order_dev_text p {
  margin: 3px 0;
}

.order_dev_text .name {
  color: #666666;
}

.order_dev_text .fanwei {
  margin-left: 50px;
}

.dev_status p {
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #666666;
  margin: 0;
  text-align: center;
}

.dev_status {
  margin-top: 10px;
}

.each_order_status {
  position: absolute;
  left: 66.66667%;
  height: 100%;
}

.each_order_caozuo {
  position: absolute;
  right: 0;
}

.each_order_detail .dev_content:last-child {
  border-bottom: none;
}

.order_box .title_banner_first {
  border-right: 1px solid #ddd;
}

.caozuo_btn {
  border: 1px solid #FF822F;
  border-radius: 2px;
  color: #ff822f;
  margin: 0 auto;
  display: table;
}

.caozuo_box_daitijiao .sgs_active_text {
  text-align: center;
  margin: 10px 0px;
  font-size: 14px;
}

.caozuo_box_daitijiao {
  top: 44%;
}

.cz_normal_text {
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #666666;
  text-align: center;
}

.caozuo_box_others p {
  margin: 10px 0;
}

.dev_status .zuoyezhong_time {
  font-family: SourceHanSansCN-Regular;
  font-size: 14px;
  color: #FF822F;
  text-align: center;
}

.order_detail_header ul {
  width: 100%;
  height: 60px;
  padding-left: 0;
  text-align: center;
}

.order_detail_header ul li {
  float: left;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 60px;
  font-family: SourceHanSansCN-Regular;
  font-size: 20px;
  color: #666666;
}

.order_detail_header ul li a {
  color: #666;
}

.order_detail_header ul li.active {
  background-color: #ff822f;
  color: #fff;
  a {
    color: #fff;
  }
}

.table_footer {
  height: 60px;
  background: #f9f9f9;
  line-height: 60px;
  border: 1px solid #DDDDDD;
}

.el-pagination {
  text-align: right;
  padding-top: 16px;
}

.table_footer .el-input--small .el-input__inner {
  height: 28px !important;
}

.azm-button_download_report{
   color: #ff822f;
}

.azm-button_download_report:hover {
  cursor: pointer;
  text-decoration:underline;
}

.azm-button_remove {
  color: #666;
}

.azm-button_remove:hover {
  cursor: pointer;
  text-decoration:underline;
}
</style>












