<template>
  <div id="orderDetailSchedule">
    <sgsLayout :isShowCustomer=false :active-index="3"></sgsLayout>
    <el-main class="main_content content_container">

      <el-row>

        <!-- 顶部步骤提示 -->
        <ul class="finish_step">
          <li class=" step_num_active"></li>
          <li class="step_tips step_tips_done">
            <span class='step_tips_finish'>
              <i class='el-icon-check'></i>
            </span>提交订单
          </li>
          <li>
            <span class="mid_line mid_line_finish"></span>
          </li>

          <li class=" step_num_active"></li>
          <li class="step_tips step_tips_done">
            <span class='step_tips_finish'>
              <i class='el-icon-check'></i>
            </span>SGS确认
          </li>

          <li>
            <span class="mid_line mid_line_finish"></span>
          </li>
          <li class=" step_num_active">
            <span class="step_num">3</span>
          </li>
          <li class="step_tips step_tips_active">安排日期</li>
          <li>
            <span class="mid_line"></span>
          </li>
          <li class=" step_num_normal">
            <span class="step_num">4</span>
          </li>
          <li class="step_tips">上门校准</li>
          <li>
            <span class="mid_line"></span>
          </li>
          <li class=" step_num_normal">
            <span class="step_num">5</span>
          </li>
          <li class="step_tips">出具报告</li>
        </ul>

      </el-row>
      <!-- 步骤提示END -->

      <!-- 订单信息模块 -->
      <div class="module module1">
        <el-row>
          <el-col :span="6" class='left_big_title'>
            <span class="module_title" id="sbxx">订单信息</span>
            <span class="has_finish_text">排期中</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">订单编号：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.orderno}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">设备数量：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.equipmentcount}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="5" class="text_left">订单日期：</el-col>
            <el-col :span="19" class="text_right">{{orderinfo.createdate}}</el-col>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">期望服务时间：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.expectdoorservicedate}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">最晚上门时间：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.lastdoorservicedate}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="5" class="text_left">校准地址：</el-col>
            <el-col :span="19" class="text_right">{{orderinfo.calibrationaddress}}</el-col>
          </el-col>
        </el-row>
              <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">联系人：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.calibrationcontactname}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">联系人电话：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.calibrationmobile}}</el-col>
          </el-col>
          <el-col :span="10">

          </el-col>
        </el-row>
        <el-row>
          <el-col :span="3" class="text_left text_left_bz">订单备注：
          </el-col>
          <el-col :span="20">{{orderinfo.remark}}</el-col>
        </el-row>
      </div>

      <!-- 报告信息模块 -->
      <div class="module module2">
        <el-row>
          <el-col :span="6" class='left_big_title'>
            <span class="module_title" id="sbxx">报告信息</span>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">结论判定：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.isconclusion}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">复校：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.isrecalibrationperiod}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="5" class="text_left">报告类型：</el-col>
            <el-col :span="19" class="text_right">{{orderinfo.reporttype}}</el-col>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">报告语言：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.reportlanguage}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">委托者名称：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.calibrationcustomernamecn}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="5" class="text_left">委托地址：</el-col>
            <el-col :span="19" class="text_right">{{orderinfo.entrustmentaddresscn}}</el-col>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7" v-if="orderinfo.reportlanguage =='中英文'">
            <el-col :span="11" class="text_left">英文委托者名称：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.calibrationcustomernameen}}</el-col>
          </el-col>
          <el-col :span="7" v-if="orderinfo.reportlanguage =='中英文'">
            <el-col :span="11" class="text_left">英文委托者地址：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.entrustmentaddressen}}</el-col>
          </el-col>
        </el-row>
        <el-col :span="10"></el-col>
        <!-- 中间表格-->
        <el-table :data="tableData" border stripe fit ref="multipleTable" @selection-change="changeFun"
                  tooltip-effect="dark" style="width: 100%" @sort-change="equipmentSortChange">
          <el-table-column type="selection">
          </el-table-column>
          <el-table-column prop="equipmentexpiredate" label="送校到期时间" sortable="custom" width="250px">
            <template slot-scope="scope">
              <span>{{ scope.row.equipmentexpiredate }}</span>
              <!--<span class="sy_days">（剩余{{ scope.row.expirddays }}天）</span>-->
            </template>
          </el-table-column>
          <el-table-column prop="equipmentnamecn" label="设备名称" width="250px">
            <template slot-scope="scope">
              <a type="text" @click="toEquipDetail(scope.row.equipmentid);" class="azm-route_serial_number">{{
                scope.row.equipmentnamecn }}
              </a>
            </template>
          </el-table-column>
          <el-table-column prop="assetno" label="管理编号">
            <template slot-scope="scope">
              <a type="text" @click="toEquipDetail(scope.row.equipmentid);" class="azm-route_serial_number">{{
                scope.row.assetno }}
              </a>
            </template>
          </el-table-column>
          <el-table-column prop="equipmentserialno" label="机身编号">
            <template slot-scope="scope">
              <a type="text" @click="toEquipDetail(scope.row.equipmentid);" class="azm-route_serial_number">{{
                scope.row.equipmentserialno }}
              </a>
            </template>
          </el-table-column>

          <el-table-column prop="equipmentfactorynamecn" label="厂商品牌">

          </el-table-column>

          <el-table-column prop="equipmentuserdept" label="所属部门">
          </el-table-column>
                              <el-table-column prop="equipmentstoragelocation" label="设备所在地">
          </el-table-column>
          <el-table-column prop="name" label="操作">
            <template slot-scope="scope">
              <a type="text" label="报告" @click="edit(scope.row.id)" v-if="scope.row.repportcount>0"
                 class="azm-route_serial_number">查看
              </a>
              <span type="text" label="报告" v-if="scope.row.repportcount==0">未上传</span>
            </template>
          </el-table-column>
        </el-table>
        <div class="table_footer">
          <el-col :span="6">
            <el-button @click="exprot(1);" class="all_choose_dev">导出所有设备</el-button>
            <a class="active_text_sgs" @click="exprotchoose(1);">导出选中设备</a>
          </el-col>
          <el-col :span="18" :offset='6'>
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="currentPage" :page-sizes="[10, 30, 50, 100]" :page-size="size"
                           layout=" prev, pager, next, jumper" :total="total">
            </el-pagination>
          </el-col>

        </div>
      </div>

      <!-- 补录入设备模块 -->
      <div class="module module3">
        <el-row>
          <el-col :span="6" class='left_big_title'>
            <span class="module_title" id="sbxx">补录入设备</span>
          </el-col>
        </el-row>
        <!-- 中间表格-->
        <!-- 中间表格-->
        <el-table :data="tableData2" border stripe fit ref="multipleTable2" tooltip-effect="dark"
                  style="width: 100%" @selection-change="handleSelectionChange" @sort-change="equipmentSortChange2">

          <el-table-column prop="equipmentexpiredate" label="送校到期时间" sortable="custom" width="250px">
            <template slot-scope="scope">
              <span>{{ scope.row.equipmentexpiredate }}</span>
              <!--<span class="sy_days">（剩余{{ scope.row.expirddays }}天）</span>-->
            </template>
          </el-table-column>
          <el-table-column prop="equipmentnamecn" label="设备名称" width="250px">
          </el-table-column>
          <el-table-column prop="assetno" label="管理编号">
          </el-table-column>
          <el-table-column prop="equipmentserialno" label="机身编号">
          </el-table-column>

          <el-table-column prop="equipmentfactorynamecn" label="厂商品牌">

          </el-table-column>

          <el-table-column prop="equipmentuserdept" label="所属部门">
          </el-table-column>
                              <el-table-column prop="equipmentstoragelocation" label="设备所在地">
          </el-table-column>
          <el-table-column prop="name" label="操作">
            <template slot-scope="scope">
              <el-button type="text" label="报告" @click="edit(scope.row.id)" v-if="scope.row.repportcount>0">查看
              </el-button>
              <el-button type="text" label="报告" v-if="scope.row.repportcount==0">未上传</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table_footer">

          <el-col :span="18" :offset='6'>
            <el-pagination @size-change="handleSizeChange2" @current-change="handleCurrentChange2"
                           :current-page="currentPage2" :page-sizes="[10, 30, 50, 100]" :page-size="size2"
                           layout=" prev, pager, next, jumper" :total="total2">
            </el-pagination>
          </el-col>

        </div>
      </div>

      <!-- 发票信息模块 -->
      <div class="module module4">
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">企业名称：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.customernamecn}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">企业税号：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.customertaxregistrationnumber}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="7" class="text_left">发票地址：</el-col>
            <el-col :span="17" class="text_right">{{orderinfo.customerinvoiceaddress}}</el-col>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="7">
            <el-col :span="11" class="text_left">收件人：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.customerinvoiceaddress}}</el-col>
          </el-col>
          <el-col :span="7">
            <el-col :span="11" class="text_left">收件人联系电话：</el-col>
            <el-col :span="13" class="text_right">{{orderinfo.customermobile}}</el-col>
          </el-col>
          <el-col :span="10">
            <el-col :span="7" class="text_left">发票邮寄地址：</el-col>
            <el-col :span="17" class="text_right">{{orderinfo.invoiceexpressaddress}}</el-col>
          </el-col>
        </el-row>
      </div>
 <div style="text-align: center;margin-bottom: 15px;">
          <el-button @click="copyorder()" class="all_choose_dev dcdd">订单复制</el-button>
        </div>
    </el-main>
  </div>
</template>

<script>
  import sgsLayout from '../sgsLayout/sgsLayout'

  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  var ecUtil = require('../../components/util.js');
  export default {
    name: 'orderDetailFirststep',

    data () {

      return {
        //排序列
        orderBy:'equipmentexpiredate',
        orderDirection:'ascending',
        // 弹窗Begin
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        orderinfo: {
          orderno: '',

          equipmentcount: '',

          createdate: '',

          expectdoorservicedate: '',

          lastdoorservicedate: '',
          calibrationaddress: '',
          remark: '',
          isconclusion: '',
          isrecalibrationperiod: '',
          reporttype: '',
          reportlanguage: '',
          entrustmentaddresscn: '',
          entrustmentaddressen: '',
          calibrationcustomernamecn: '',
          calibrationcustomernameen: '',
          customernamecn: '',
          customertaxregistrationnumber: '',
          customerinvoiceaddress: '',
          customercontactname: '',
          customermobile: '',
          customeremail: '',
          orderid: '',
          genaralorderid: '',
          servicearea: '',
          schedulingdate: '',
          ecorderstatus: '',
          invoiceexpressaddress: '',
          customernameen: ''
        },
        orderno: 'dsadsadsa',
        formLabelWidth: '120px',
        // 弹窗end
        tableData: [],
        currentPage: 1,
        size: 10,
        total: 0,
        multipleTable: [],
        //不录入参数
        tableData2: [],
        currentPage2: 1,
        size2: 10,
        total2: 0,
        multipleTable2: [],
      }
    },
    mounted: function () {


    },
    created: function () {
      this.initOrderInfo();
      this.getOrderInfoEquipmentList();
      this.getOrderInfoEquipmentList2();
    },
    components: {
      sgsLayout
    },

    methods: {
      //排序
      equipmentSortChange(column){
        console.info(column.prop,column.order);
        this.orderBy=column.prop;
        this.orderDirection=column.order;
        this.getOrderInfoEquipmentList();
      },
      equipmentSortChange2(column){
        console.info(column.prop,column.order);
        this.orderBy=column.prop;
        this.orderDirection=column.order;
        this.getOrderInfoEquipmentList2();
      },
      get_address () {
        if (this.checked == 'false') {
          alert("hahaha")
        }
        alert($(this).attr('checked'))
      },
      handleChange (val) {
        console.log(val);
      },
      handleSelect (key, keyPath) {
        console.log(key, keyPath);
      },
      handleSizeChange (val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange (val) {
        console.log(`当前页: ${val}`);
      },
      renderHeader_datepicker (createElement, {
        column
      }) {
        return createElement(
          'div', {
            attrs: {
              id: ""
            }
          }, [
            createElement('p', [column.label])
            // ,createElement('s')
            // ,createElement('p')
            , createElement('el-date-picker', {
              attrs: {
                type: "date",
                id: "jzdq_date"
              }
            }), createElement('a', {
              attrs: {
                type: "date",
                id: "upp_icon"
              }
            })
          ]
        );
      },
      renderHeader_input (createElement, {
        column
      }) {
        return createElement(
          'div', {
            attrs: {
              id: "table_h_col3"
            }
          }, [
            createElement('p', [column.label])
            // ,createElement('s')
            // ,createElement('p')
            , createElement('el-input', {
              attrs: {
                type: "input",
                id: 'sbmc_input'
              }
            }), createElement('a', {
              attrs: {
                type: "date",
                id: "upp_icon"
              }
            })
          ]
        );
      },
      initOrderInfo: function () {
        var id = core.getUrlParam('orderid');
        var url = process.env.ecalibrationUrl + "/orderdetail/api/v2/getOrderInfo";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        HttpServer.post(this, url, {
          orderId: id

        }, this.initOrderInfocallback, conf);
      },
      initOrderInfocallback: function (response) {
        this.orderinfo = response.orderDetailInfoVO;
        this.orderinfo.orderno = core.getUrlParam('orderno');
      },
      getOrderInfoEquipmentList: function () {

        var id = core.getUrlParam('orderid');
        var url = process.env.ecalibrationUrl + "/orderdetail/api/v2/getOrderInfoEquipmentList";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        HttpServer.post(this, url, {
          orderid: id,
          type: 1,
          pageNo: this.currentPage,
          pageSize: this.size,
          orderBy:this.orderBy,
          orderDirection:this.orderDirection

        }, this.getOrderInfoEquipmentListcallback, conf);
      },
      getOrderInfoEquipmentListcallback: function (response) {
        this.tableData = response.data;
        this.total = parseInt(response.count);
      },
      //分页查询
      handleSizeChange: function (val) {
        this.size = val;
        this.getOrderInfoEquipmentList();
      },
      handleCurrentChange: function (val) {
        this.currentPage = val;
        this.getOrderInfoEquipmentList();
      },
      getOrderInfoEquipmentList2: function () {

        var id = core.getUrlParam('orderid');
        var url = process.env.ecalibrationUrl + "/orderdetail/api/v2/getOrderInfoEquipmentList";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        HttpServer.post(this, url, {
          orderid: id,
          type: 2,
          pageNo: this.currentPage2,
          pageSize: this.size2,
          orderBy:this.orderBy,
          orderDirection:this.orderDirection

        }, this.getOrderInfoEquipmentList2callback, conf);
      },
      getOrderInfoEquipmentList2callback: function (response) {
        this.tableData2 = response.data;
        this.total2 = parseInt(response.count);
      },
      handleSizeChange2: function (val) {
        this.size2 = val;
        this.getOrderInfoEquipmentList();
      },
      handleCurrentChange2: function (val) {
        this.currentPage2 = val;
        this.getOrderInfoEquipmentList();
      },
      createOrder: function () {
        var url = process.env.ecalibrationUrl + "/order/api/v2/toorder";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }

        this.$confirm('是否确认提交订单至明德?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {

          HttpServer.post(this, url, {
            customerid: core.getCookie('defaultCustId'),
            orderid: core.getUrlParam('orderid'),

          }, this.toordercallback, conf);

        }).catch(() => {

          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });


      },
      toordercallback: function (response) {
        if (response.success) {
          this.$message({
            type: 'info',
            message: '提交成功'
          });
        }
      },
      toEquipDetail: function (id) {
        window.open( "equDetail.html?id=" + id + "&isNew=false");
      },
      //列表多选
      changeFun: function (val) {
        this.multipleSelection = val;
      },

      exprot: function (type) {

        location.href = process.env.ecalibrationUrl + "/orderdetail/api/v2/exprot?isall=Y&&orderid=" + core.getUrlParam('orderid') + "&&sgsToken=" + core.getCookie("sgsToken") + "&&type=" + type;

      },
      exprotchoose: function (type) {
        if (this.multipleSelection.length == 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var _this = this;
        var ids = "";
        var rowsdate = this.multipleSelection;
        for (var i = 0; i < rowsdate.length; i++) {
          ids = ids + rowsdate[i].id + ",";
        }
        location.href = process.env.ecalibrationUrl + "/orderdetail/api/v2/exprot?isall=N&&ids=" + ids + "&&sgsToken=" + core.getCookie("sgsToken") + "&&type=" + type;
      },
       copyorder: function (val) {
        var url = process.env.ecalibrationUrl + "/order/api/v2/copyorder";
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        this.$confirm('是否确认进行订单复制操作?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          var _this = this;

          HttpServer.post(this, url, {
            customerid: core.getCookie('defaultCustId'),
            orderid: core.getUrlParam('orderid')

          }, this.copyordercallback, conf);

        }).catch(() => {

          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });
      },
      copyordercallback: function (response) {
        if (response.success) {

          ecUtil.goOrderDetail(1, response.detail, response.errorMessage);
        }
      },

    }
  }
</script>


<style scope>
  #orderDetailSchedule .step {
    cursor: pointer;
  }

  /*当前步骤的样式，，圆圈变黄，里面字变白，提示信息变黄*/

  #orderDetailSchedule .step.active .step_num {
    background-color: #FF822F;
    color: #fff;
    border: 1px solid #FF822F;
  }

  #orderDetailSchedule .step.active .step_tips,
  .sy_days,
  .el-pager li:hover,
  .sbbh_data {
    color: #FF822F;
  }

  .sbbh_data {
    cursor: pointer;
  }

  .sbbh_data:hover {
    text-decoration: underline;
  }

  /*当前步骤的样式，圆圈变黄，里面字变白，提示信息变黄*/

  #orderDetailSchedule .step_num {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    border: 1px solid #999;
    font-size: 20px;
    text-align: center;
    font-family: SourceHanSansCN-Regular;
    line-height: 34px;
  }

  #orderDetailSchedule .step_tips {
    font-size: 18px;
    color: #999999;
    padding-left: 10px;
  }

  #orderDetailSchedule .mid_line {
    height: 1px;
    width: 100px;
    background-color: #999;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
  }

  #orderDetailSchedule .finish_step {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 30px;
    padding-left: 0;
  }

  #orderDetailSchedule .finish_step li {
    float: left;
    list-style-type: none;
  }

  #orderDetailSchedule .finish_step .step_num {
    border: 1px solid #999;
  }

  #orderDetailSchedule .finish_step *,
  #orderDetailSchedule .finish_step .step_tips {
    color: #999;
  }

  #orderDetailSchedule .finish_step .step_num_active .step_num,
  #orderDetailSchedule .finish_step .step_tips_active {
    color: #ff822f;
    border-color: #ff822f;
  }

  #orderDetailSchedule .finish_step .step_num_active .step_num {
    background-color: #ff822f;
    color: #fff;
  }

  #orderDetailSchedule .finish_step .mid_line {
    background-color: #999;
  }

  #orderDetailSchedule .finish_step .mid_line_finish {
    background-color: #ff822f;
  }

  .has_finish_text {
    height: 24px;
    padding-left: 24px;
    background: url(../../../static/images/order_schedule.png) center left no-repeat;
    margin-left: 20px;
    display: inline-block;;
  }

  .module .left_big_title {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #666666;
  }

  .chdd {

    text-align: center;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    color: #FF822F;
    margin-left: 20px;
  }

  #orderDetailSchedule .step_tips_finish {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ff822f;
    border: 1px solid #ff822f;
    font-family: SourceHanSansCN-Regular;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
  }

  #orderDetailSchedule .step_tips_finish i {
    color: #fff;
  }

  #orderDetailSchedule .step_tips_done {
    color: #ff822f !important;
  }

  /*step提示END*/

  .module .text_right {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #666666;
    display: inline-block;
    height: 46px;
    line-height: inherit !important;
  }

  .module .text_left {
    font-family: SourceHanSansCN-Medium;
    font-size: 16px;
    color: #666666;
    display: inline-block;
    height: 46px;
    line-height: inherit !important;
  }

  .text_left_bz {
    width: 157px;
  }

  .module_title {
    margin-bottom: 30px;
    display: inline-block;
  }

  .el-table th > .cell:hover #table_h_col2 s,
  .el-table th > .cell:hover #table_h_col2 s {
    display: block;
  }

  #orderSubmit .el-table th.el-table_1_column_4 > .cell {
  }

  #upp_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../../static/images/input_shouqi.png) 0px 0px no-repeat;
    position: relative;
    top: -6px;
    left: -7px;
  }

  .el-table th.el-table_1_column_3 div {
    overflow: visible;
  }

  .el-table th.el-table_1_column_4 div {
    overflow: visible;
  }

  .el-table th.el-table_1_column_3 #upp_icon,
  .el-table th.el-table_1_column_4 #upp_icon {
    top: 8px;
  }

  .el-table th > .cell {
    position: relative;
  }

  .el-table th > .cell {
    vertical-align: unset;
  }

  .module .el-input {
    margin-top: 0;
  }

  .module .el-input__inner {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 30px !important;
    padding-left: 5px;
  }

  .el-input__icon {
    margin-left: 5px;
  }

  #orderDetailSchedule .table_footer {
    height: 60px;
    line-height: 60px;
    background-color: #f9f9f9;
    border: 1px solid #DDDDDD;
  }

  #orderDetailSchedule .el-pagination {
    color: #999;
    float: right;
    margin-top: 15px;
  }

  .el-pager li {
    margin: 0 5px;
  }

  .el-pager li.active {
    background-color: #ff822f;
    color: #fff;
  }

  #orderDetailSchedule .all_choose_dev,
  .next_step_btn {
    margin-left: 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #ff822f;
    width: 110px;
    height: 40px;
    text-align: center;
    padding: 0;
    line-height: 40px;
  }

  #orderDetailSchedule .all_choose_dev:hover,
  .next_step_btn:hover {
    color: #FFFFFF;
    background-color: #ff822f;
    border: none;
  }

  .module .el-input.el-pagination__editor {
    width: 50%;
  }

  .el-table td .cell {
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    color: #666;
  }

  .module4 {

    padding-bottom: 0;
  }

  #orderDetailSchedule .dcdd {
    display: table-cell;
    margin: 0 auto;
    margin-top: 35px;
  }
</style>
