<template>
  <div id="w_equpmentlist">
    <sgsLayout :active-index="2"></sgsLayout>
    <div class="content_container azm-fixed_min_width">
      <div class="module sxlb">
        <p class="left_big_title">属性列表</p>
        <el-row>
          <div id="didi-navigator" class="myEqu_check_box">
            <el-row>
              <el-col :span="4" class="check_col4">
                <el-checkbox label='EquipmentCustodian' v-model="trueall" disabled>校准到期日期</el-checkbox>
              </el-col>
              <el-col :span="4" class="check_col4">
                <el-checkbox label='EquipmentCustodian' v-model="trueall" disabled>设备名称</el-checkbox>
              </el-col>
              <el-col :span="4" class="check_col4">
                <el-checkbox label='EquipmentCustodian' v-model="trueall" disabled>管理编号</el-checkbox>
              </el-col>
              <el-checkbox-group v-model="checkedboxs" @change="handleCheckedCitiesChange">
                <el-checkbox v-for="(tab,index) in checkboxs2" :label="tab.name" :key="index">{{tab.label}}</el-checkbox>
              </el-checkbox-group>
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange"
                           class="choose_all_checkbox">全选
              </el-checkbox>
            </el-row>
          </div>
        </el-row>
      </div>
      <div class="module wdsb">
        <p class="left_big_title">
          我的设备
          <!--<a class="sgs_active_text" @click="madeOrder" style=" margin-left: 10px; ">立即送校</a>-->
          <Button type="primary" class="sa-primary azm-submit" style=" margin-left: 10px; "
                  @click="madeOrder">立即送校
          </Button>
        </p>

        <!-- 精简的搜索框 -->
        <el-row>
          <el-col :span="6">
            <el-input v-model="keysearch" placeholder="请输入设备名称/管理编号查询" class="search_name_or_num"></el-input>
          </el-col>
          <el-col :span="3">
            <el-button class="sgs_active_btn search_btn" style="float: right" @click="search">查询</el-button>
          </el-col>
          <el-col :span="3" class="moresearch">
            <div @click="tapScreening">
              <span class="sgs_active_text jingque_search"
                    style="margin-right: 0;">{{isTapScreening?'精简':'更多'}}筛选条件</span>
              <i class="el-icon-d-arrow-left azm-icon"
                 :class="isTapScreening?'azm-icon-d-arrow-up':'azm-icon-d-arrow-down'"></i>
            </div>
          </el-col>

          <div class="right_cz">
            <el-col :span="3">
              <a class="sgs_active_text" @click="downTemp">导入模版下载</a>
            </el-col>
            <el-col :span="3">
              <el-button class="sgs_normal_btn" @click="azmOpenDialog">导入</el-button>
            </el-col>
            <el-col :span="3">
              <el-button class="sgs_active_btn" @click="newIns">新增设备</el-button>
            </el-col>
          </div>

          <!--<el-dialog title="设备导入" :visible.sync="outerVisible" width="600px" center class="outerDialog">

            <div slot="footer" class="dialog-footer">
              <Button type="primary" class="sa-primary azm-submit" @click="doUpdateExpireDate">导入</Button>
            </div>
          </el-dialog>-->

        </el-row>
        <!-- 精简的搜索框 END-->

        <!-- 复杂搜索框 -->
        <div class="fz_serch_input">
          <el-row>
            <!-- 校准到期时间 -->
            <el-col :span="12">
              <el-row>
                <el-col :span="6">
                  <span class="left_text">校准到期时间</span>
                </el-col>
                <el-col :span="18">
                  <el-date-picker :editable="false" v-model="date2" type="daterange" range-separator="至"
                                  start-placeholder="开始日期"
                                  end-placeholder="结束日期">
                  </el-date-picker>
                </el-col>
              </el-row>
            </el-col>
            <!-- 最近校准时间 -->
            <el-col :span="12" v-if="equipmentcalibrationdateflag2">
              <el-col :span="6">
                <span class="left_text">最近校准时间</span>
              </el-col>
              <el-col :span="18">
                <el-date-picker :editable="false" v-model="date1" type="daterange" range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
              </el-col>
            </el-col>
          </el-row>
          <el-row>
            <!-- 计划下单时间 -->
            <el-col :span="12" v-if="equipmentplandateflag2">
              <el-col :span="6">
                <span class="left_text">计划下单时间</span>
              </el-col>
              <el-col :span="18">
                <el-date-picker :editable="false" v-model="date3" type="daterange" range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                </el-date-picker>
              </el-col>
            </el-col>
            <!-- 设备英文名称 -->
            <el-col :span="12" v-if="equipmentnameenflag2">
              <el-col :span="6">
                <span class="left_text">设备英文名称</span>
              </el-col>
              <el-col :span="18">
                <el-input v-model="equipmentnameen"></el-input>
              </el-col>
            </el-col>
          </el-row>
          <el-row class="last_hang azm-row_last_hang" :gutter="20">
            <el-col :span="8" v-if="equipmentnoflag2">
              <span class="left_text azm-inline_block">设备ID</span>
              <el-input v-model="equipmentno"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentserialnoflag2">
              <span class="left_text azm-inline_block">机身编号</span>
              <el-input v-model="equipmentserialno"></el-input>
            </el-col>
            <el-col :span="8">
              <span class="left_text azm-inline_block">设备名称</span>
              <el-input v-model="equipmentnamecn"></el-input>
            </el-col>
            <el-col :span="8">
              <span class="left_text azm-inline_block">管理编号</span>
              <el-input v-model="assetno"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentfactorynamecnflag2">
              <span class="left_text azm-inline_block">厂商品牌</span>
              <el-input v-model="equipmentfactorynamecn"></el-input>
            </el-col>
            <el-col :span="8" v-if="modelflag2">
              <span class="left_text azm-inline_block">型号规格</span>
              <el-input v-model="model"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentcustodianflag2">
              <span class="left_text azm-inline_block">保管人</span>
              <el-input v-model="equipmentcustodian"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentcalibrationperiodflag2">
              <span class="left_text azm-inline_block">校准周期</span>
              <el-input v-model="equipmentcalibrationperiod"></el-input>
            </el-col>

            <el-col :span="8" v-if="reminddaysflag2">
              <span class="left_text azm-inline_block">提醒周期</span>
              <el-input v-model="reminddays"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentstatusflag2">
              <span class="left_text azm-inline_block">状态</span>
              <el-select v-model="value" placeholder="请选择">
                <el-option v-for="(item,index) in options" :label="item.label" :value="item.value" :key="index">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="8" v-if="equipmentuserdeptflag2">
              <span class="left_text azm-inline_block">所属部门</span>
              <el-input v-model="equipmentuserdept"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentstoragelocationflag2">
              <span class="left_text azm-inline_block">设备所在地</span>
              <el-input v-model="equipmentstoragelocation"></el-input>
            </el-col>
            <el-col :span="8" v-if="equipmentfactorynameenflag2">
              <span class="left_text azm-inline_block">设备英文品牌</span>
              <el-input v-model="equipmentnameen"></el-input>
            </el-col>

            <el-col :span="8" v-if='attribute1flag2'>
              <span class="left_text azm-inline_block" id="attribute1"></span>
              <el-input v-model="attribute1"></el-input>
            </el-col>

            <el-col :span="8" v-if='attribute2flag2'>
              <span class="left_text azm-inline_block" id="attribute2"></span>
              <el-input v-model="attribute2"></el-input>
            </el-col>
            <el-col :span="8" v-if='attribute3flag2'>
              <span class="left_text azm-inline_block" id="attribute3"></span>
              <el-input v-model="attribute3"></el-input>
            </el-col>
            <el-col :span="8" v-if='attribute4flag2'>
              <span class="left_text azm-inline_block" id="attribute4"></span>
              <el-input v-model="attribute4"></el-input>
            </el-col>
            <el-col :span="8" v-if='attribute5flag2'>
              <span class="left_text azm-inline_block" id="attribute5"></span>
              <el-input v-model="attribute5"></el-input>
            </el-col>
          </el-row>

        </div>

        <!-- 大于五列的表格 begin-->
        <el-table border stripe :data="tableData" @selection-change="changeFun" @sort-change="changeequipmentno"
                  size="mini">
          <!--v-show="table2flag"-->
          <el-table-column type="selection"></el-table-column>
          <el-table-column prop="equipmentexpiredate" label="校准到期日期" :min-width="min_width" sortable="custom" fixed>
            <template slot-scope="scope">
              <div slot="reference" class="name-wrapper"
                   v-if="scope.row.equipmentexpiredate!='' && scope.row.equipmentexpiredate!=null">
                <el-popover :open-delay="1000" trigger="hover" placement="top">
                  <p>提前{{ scope.row.reminddays }}天预警</p>

                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays>0">
                    {{ scope.row.equipmentexpiredate }} (剩余 {{ scope.row.expireddays }} 天)
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays<0">
                    {{ scope.row.equipmentexpiredate }} (逾期 {{0- scope.row.expireddays }} 天)
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays==0">
                    {{ scope.row.equipmentexpiredate }} (今天即将逾期)
                  </div>


                </el-popover>
              </div>
              <div slot="reference" class="name-wrapper"
                   v-if="scope.row.equipmentexpiredate=='' || scope.row.equipmentexpiredate==null">
                <a @click="edit2(scope.row.id)" type="text" size="small" class="azm-route_serial_number">未设置
                </a>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="equipmentnamecn" label="设备名称" :min-width="min_width" fixed>
            <template slot-scope="scope">
              <a @click="edit(scope.row.id)" type="text" size="small" class="azm-route_serial_number">{{scope.row.equipmentnamecn}}
              </a>
            </template>
          </el-table-column>
          <el-table-column prop="assetno" label="管理编号" :min-width="min_width" sortable="custom" fixed>
            <template slot-scope="scope">
              <a @click="edit(scope.row.id)" type="text" size="small" class="azm-route_serial_number">{{scope.row.assetno}}
              </a>
            </template>
          </el-table-column>
          <el-table-column prop="equipmentno" label="设备ID" sortable="custom" :min-width="min_width" v-if="equipmentnoflag">
            <template slot-scope="scope">
              <a @click="edit(scope.row.id)" type="text" size="small" class="azm-route_serial_number">{{scope.row.equipmentno}}
              </a>
            </template>
          </el-table-column>
          <el-table-column prop="equipmentfactorynamecn" label="厂商品牌" :min-width="min_width"
                           v-if="equipmentfactorynamecnflag">
          </el-table-column>
          <el-table-column prop="model" label="规格型号" :min-width="min_width" v-if="modelflag">
          </el-table-column>
          <el-table-column prop="equipmentstatus" label="状态" :formatter="equipmentstatusFormat" :min-width="min_width"
                           v-if="equipmentstatusflag">
            <template slot-scope="scope">
              <div slot="reference" class="name-wrapper"
                   v-if="scope.row.equipmentexpiredate!='' && scope.row.equipmentexpiredate!=null">
                <div slot="reference" class="name-wrapper" v-if="scope.row.expireddays>0 && scope.row.planeddays>0">

                  <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==0">
                    正常
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==1">
                    校准中
                  </div>
                  <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==2">
                    停用
                  </div>
                </div>
                <div slot="reference" class="name-wrapper"
                     v-if="scope.row.planeddays<=0 && scope.row.expireddays>0  && scope.row.equipmentstatus==0">
                  超期预警
                </div>

                <div slot="reference" class="name-wrapper"
                     v-if="scope.row.equipmentstatus==1">
                  校准中
                </div>
                <div slot="reference" class="name-wrapper"
                     v-if="scope.row.equipmentstatus==2">
                  停用
                </div>

                <div slot="reference" class="name-wrapper"
                     v-if="scope.row.planeddays<=0 &&  scope.row.expireddays<=0 && scope.row.equipmentstatus==0">
                  逾期
                </div>
              </div>
              <div slot="reference" class="name-wrapper"
                   v-if="scope.row.equipmentexpiredate =='' || scope.row.equipmentexpiredate ==null">
                <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==0">
                  正常
                </div>
                <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==1">
                  校准中
                </div>
                <div slot="reference" class="name-wrapper" v-if="scope.row.equipmentstatus==2">
                  停用
                </div>

              </div>
            </template>
          </el-table-column>
          <el-table-column prop="equipmentcalibrationdate" label="最近校准日期" sortable :formatter="dateFormat"
                           v-if="equipmentcalibrationdateflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentplandate" label="计划下单日期" :formatter="dateFormat" v-if="equipmentplandateflag"
                           :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentcalibrationperiod" label="校准周期" v-if="equipmentcalibrationperiodflag"
                           :min-width="min_width">
          </el-table-column>
          <el-table-column prop="reminddays" label="提醒周期" v-if="reminddaysflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentserialno" label="机身编号" v-if="equipmentserialnoflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentuserdept" label="所属部门" v-if="equipmentuserdeptflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentstoragelocation" label="设备所在地" v-if="equipmentstoragelocationflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentfactorynameen" label="设备英文品牌" v-if="equipmentfactorynameenflag"
                           :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentnameen" label="设备英文名称" v-if="equipmentnameenflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="equipmentcustodian" label="保管人" v-if="equipmentcustodianflag" :min-width="min_width">
          </el-table-column>
          <el-table-column prop="attribute1" :label="attribute1label" v-if='attribute1flag' :min-width="min_width">
          </el-table-column>
          <el-table-column prop="attribute2" :label="attribute2label" v-if='attribute2flag' :min-width="min_width">
          </el-table-column>
          <el-table-column prop="attribute3" :label="attribute3label" v-if='attribute3flag' :min-width="min_width">
          </el-table-column>
          <el-table-column prop="attribute4" :label="attribute4label" v-if='attribute4flag' :min-width="min_width">
          </el-table-column>
          <el-table-column prop="attribute5" :label="attribute5label" v-if='attribute5flag' :min-width="min_width">
          </el-table-column>
          <!--   <el-table-column prop="name" label="操作" >
              <template slot-scope="scope">
                <el-button type="text" size="small" @click="edit(scope.row.id)">详情/编辑</el-button>
                <el-button type="text" size="small" style="float: right" @click="copy(scope.row.id)" v-if="scope.row.equipmentstatus==0">复制另存</el-button>
              </template>
            </el-table-column> -->
        </el-table>
        <!-- 大于五列的表格 end-->
        <div class="table_footer">
          <el-col :span="6" style="padding-left: 10px">
            <Button type="primary" class="sa-primary azm-submit" :disabled="multipleSelection.length===0"
                    @click="deleteEquipment">批量删除
            </Button>
            <Button type="primary" class="sa-primary azm-submit"
                    @click="madeOrder">立即送校
            </Button>
            <!--<a class="sgs_active_text" @click="exportIns">导出</a>-->
          </el-col>

          <el-col :span="18">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10"
                           layout=" prev, pager, next, jumper" :total="totalval">
            </el-pagination>
          </el-col>

        </div>

      </div>

    </div>
    <el-dialog title="导入设备" :visible.sync="dialogFormVisible2" :close-on-click-modal="false" width="650px">
      <div style="text-align: center;">
        <el-upload class="upload-demo" drag :auto-upload="false" ref="azmFileUpload" :limit="1"
                   :on-exceed="azmFileExceed"
                   :on-error="azmFileError" :on-progress="azmFileProgress" :on-success="azmFileSuccess"
                   :on-change="azmFileChange" :on-remove="azmFileChange"
                   :action="ecalibrationUrl+'/openapi/mingde/api/v1/import?customerid='+defaultCustId+'&sgsToken='+sgsToken">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">将文件拖到此处，或<em style="color: #ff822f">点击上传</em></div>
        </el-upload>
      </div>
      <div slot="footer" class="dialog-footer" style="text-align: center">
        <Button type="primary" class="sa-primary azm-submit" @click="azmFileSubmit" :disabled="azmFileList.length===0">
          上 传<i class="el-icon-upload el-icon--right"></i>
        </Button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less">
  .moresearch {
    position: relative;
  }

  .active_up_icon {
    top: 21px;
    display: inline-block;
    right: -16px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    width: 30px;
    background: url(../../../static/images/input_zhankai.png) center no-repeat;
    /* margin-top: 20px;*/
    position: absolute;
  }

  .goto_glbh {
    background-color: #fff;
    color: #ff822f;
    font-family: SourceHanSansCN-Medium;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }

  .goto_glbh:hover {
    background-color: #FFF3EA;
    color: #ff822f;
  }

  .azm-icon {
    color: #ff800f;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }

  .azm-icon-d-arrow-down {
    transform: rotate(-90deg);
  }

  .azm-icon-d-arrow-up {
    transform: rotate(90deg);
  }

  .azm-row_last_hang {
    padding-left: 20px;
    padding-right: 20px;
    .el-col {
      text-align: right;
    }
  }
</style>
<script>
  import sgsLayout from '../sgsLayout/sgsLayout'
  import Button from "iview/src/components/button/button";

  var HttpServer = require('../../components/http.js');
  var core = require('../../components/commonFunc.js');
  export default {
    data () {
      return {
        ecalibrationUrl: null,
        defaultCustId: null,
        sgsToken: null,
        azmFileList: [],
        fullscreenLoading: false,
        min_width: 150,
        //查询条件
        queryForm: {
          afAttr1: '',
          afAttr2: '',
          afAttr3: '',
          afAttr4: ''
        },
        //checkbox
        trueall: true,
        checkboxs: [],
        checkAll: false,
        checkboxs2: [],
        checkedboxs: [],
        isIndeterminate: true,

        //显示隐藏列自定义的列名
        attribute1label: '',
        attribute2label: '',
        attribute3label: '',
        attribute4label: '',
        attribute5label: '',
        //显示隐藏列标记
        attribute1flag: false,
        attribute2flag: false,
        attribute3flag: false,
        attribute4flag: false,
        attribute5flag: false,
        equipmentcalibrationdateflag: false,
        equipmentplandateflag: false,
        equipmentcalibrationperiodflag: false,
        reminddaysflag: false,
        equipmentserialnoflag: false,
        equipmentuserdeptflag: false,
        equipmentstoragelocationflag:false,
        equipmentfactorynameenflag: false,
        equipmentnameenflag: false,
        equipmentcustodianflag: false,
        attribute1: false,
        //调整
        equipmentnoflag: false,
        equipmentstatusflag: false,
        modelflag: false,
        equipmentfactorynamecnflag: false,
        //隐藏查询条件
        attribute1flag2: false,
        attribute2flag2: false,
        attribute3flag2: false,
        attribute4flag2: false,
        attribute5flag2: false,
        equipmentcustodianflag2: false,
        equipmentuserdeptflag2: false,
        equipmentstoragelocationflag2:false,
        equipmentcalibrationperiodflag2: false,
        equipmentcalibrationdateflag2: false,
        equipmentplandateflag2: false,
        reminddaysflag2: false,
        equipmentserialnoflag2: false,
        equipmentfactorynameenflag2: false,
        equipmentnameenflag2: false,
        //调整
        equipmentnoflag2: false,
        equipmentstatusflag2: false,
        modelflag2: false,
        equipmentfactorynamecnflag2: false,
        attribute1input: '',


        //分页参数
        totalval: 10,
        currentPage: 1,
        size: 10,
        tableData: [],
        multipleSelection: [],
        centerDialogVisible: false,
        orderDirection: 'DESC',
        orderBy: 'equipmentexpiredate',
        //下拉框
        options: [
          {
            value: '',
            label: '全部'
          }, {
            value: '0',
            label: '正常'
          }, {
            value: '1',
            label: '超期预警'
          }, {
            value: '2',
            label: '校准中'
          }, {
            value: '3',
            label: '逾期'
          }, {
            value: '4',
            label: '停用'
          }],
        value: '',
        test: [11, 22],
        value6: [],
        //查询条件
        equipmentnameen: '',
        equipmentno: '',
        equipmentserialno: '',
        equipmentnamecn: '',
        assetno: '',
        equipmentfactorynamecn: '',
        model: '',
        equipmentcustodian: '',
        equipmentcalibrationperiod: '',
        reminddays: '',
        equipmentstatus: '',
        equipmentuserdept:'',
        equipmentstoragelocation:'',
        attribute1: '',
        attribute2: '',
        attribute3: '',
        attribute4: '',
        attribute5: '',
        keysearch: '',
        date1: '',
        date2: '',
        date3: '',
        //table 显示隐藏
        table1flag: false,
        table2flag: true,
        isTapScreening: false,//更多筛选条件&精简筛选条件
        dialogFormVisible2: false
      }
    },
    created: function () {
      // this.initUpload("");
      this.initEuipmentList();
      this.initCheckbox();
      this.ecalibrationUrl = process.env.ecalibrationUrl
      this.defaultCustId = core.getCookie('defaultCustId')
      this.sgsToken = core.getCookie('sgsToken')
    },
    updated: function () {
      this.$nextTick(function () {
        this.checkboxs2.forEach(item => {
          if (item.name == 'attribute1') {
            console.log('this.attribute1flag == ' + this.attribute1flag)
            $("#attribute1").html(item.label)
            // self.attribute1label = response.data[i].label;
          }
          if (item.name == 'attribute2') {
            $("#attribute2").html(item.label)
          }
          if (item.name == 'attribute3') {
            $("#attribute3").html(item.label)
          }
          if (item.name == 'attribute4') {
            $("#attribute4").html(item.label)
          }
          if (item.name == 'attribute5') {
            $("#attribute5").html(item.label)
          }

        });
      })
    },
    mounted: function () {
    },
    components: {
      'sgsLayout': sgsLayout,
      Button
    },
    methods: {
      // 筛选下拉切换
      tapScreening () {
        $(".fz_serch_input").slideToggle(500)
        this.isTapScreening = !this.isTapScreening
      },
      formatter (row, column) {
        return row.address;
      },
      filterTag (value, row) {
        return row.tag === value;
      },
      filterHandler (value, row, column) {
        const property = column['property'];
        return row[property] === value;
      },

      // 表头查询框
      renderHeader_datepicker (createElement, {column}) {
        return createElement(
          'div', {
            attrs: {
              id: "one"
            }
          },
          [
            createElement('p', [column.label])
            // ,createElement('s')
            // ,createElement('p')
            , createElement('el-date-picker', {
            attrs: {
              type: "date",
              id: "jzdq_date",
              //v-Model:"queryForm.afAttr1" ,
              // type:"daterange"
            }

          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
          ]
        );
      },
      renderHeader_input (createElement, {column}) {
        var _self = this;
        return createElement(
          'div', {
            attrs: {
              id: "table_h_col3"
            }
          },
          [
            createElement('p', [column.label])
            // ,createElement('s')
            // ,createElement('p')
            , createElement('el-autocomplete', {
            attrs: {
              type: "input",
              id: 'sbmc_input'
            },
            on: {
              change: function (event) {
                self.value = event.target.value;
                self.$emit('input', self.value);
                console.log(_self.test);
              }
            }
          }), createElement('a', {
            attrs: {
              type: "date",
              id: "upp_icon"
            }
          })
          ]
        );
      },

      //查询数据
      initEuipmentList: function () {
        var url = process.env.ecalibrationUrl + "equipment/api/v1/getEuipmentList";
        var datefrom = "";
        var dateto = "";
        //范围时间控件
        if (this.queryForm.afAttr1 != null) {
          if (this.date1[0] != "" && this.date1[0] != undefined) {
            var d = new Date(this.date1[0]);
            datefrom = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
          }
          if (this.date1[1] != "" && this.date1[1] != undefined) {
            var d2 = new Date(this.date1[1]);
            dateto = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
          }
        }
        //最近校准时间
        var datefrom2 = "";
        var dateto2 = "";
        //范围时间控件
        if (this.date2 != null) {
          if (this.date2[0] != "" && this.date2[0] != undefined) {
            var d = new Date(this.date2[0]);
            datefrom2 = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
          }
          if (this.date2[1] != "" && this.date2[1] != undefined) {
            var d2 = new Date(this.date2[1]);
            dateto2 = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
          }
        }
        //计划校准时间
        var datefrom3 = "";
        var dateto3 = "";
        //范围时间控件
        if (this.date3 != null) {
          if (this.date3[0] != "" && this.date3[0] != undefined) {
            var d = new Date(this.date3[0]);
            datefrom3 = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
          }
          if (this.date3[1] != "" && this.date3[1] != undefined) {
            var d2 = new Date(this.date3[1]);
            dateto3 = d2.getFullYear() + '-' + (d2.getMonth() + 1) + '-' + d2.getDate();
          }
        }
        var conf = {
          'isCallback': 'true',
          showLoading: true
        }
        HttpServer.post(this, url, {
          customerid: core.getCookie('defaultCustId'),
          pageNo: this.currentPage,
          pageSize: this.size,
          orderBy: this.orderBy,
          orderDirection: this.orderDirection,
          // equipmentnamecn: this.queryForm.afAttr2,
          equipmentstatus: this.value,
          //equipmentuserdept: this.queryForm.afAttr4,
          equipmentnameen: this.equipmentnameen,
          equipmentno: this.equipmentno,
          equipmentserialno: this.equipmentserialno,
          equipmentnamecn: this.equipmentnamecn,
          assetno: this.assetno,
          equipmentfactorynamecn: this.equipmentfactorynamecn,
          model: this.model,
          equipmentcustodian: this.equipmentcustodian,
          equipmentcalibrationperiod: this.equipmentcalibrationperiod,
          reminddays: this.reminddays,
          equipmentuserdept: this.equipmentuserdept,
          equipmentstoragelocation:this.equipmentstoragelocation,
          attribute1: this.attribute1,
          attribute2: this.attribute2,
          attribute3: this.attribute3,
          attribute4: this.attribute4,
          attribute5: this.attribute5,
          keysearch: this.keysearch,
          dateto: dateto,
          dateto2: dateto2,
          dateto3: dateto3,
          datefrom: datefrom,
          datefrom2: datefrom2,
          datefrom3: datefrom3
        }, this.getEuipmentListcallback, conf);
      },
      getEuipmentListcallback: function (response) {
        this.tableData = response.data;
        this.totalval = parseInt(response.count);
      },
      //分页查询
      handleSizeChange: function (val) {
        this.size = val;
        this.initEuipmentList();
      },
      handleCurrentChange: function (val) {
        this.currentPage = val;
        this.initEuipmentList();
      },
      //页面初始化,checkbox控件
      initCheckbox: function () {
        var url = process.env.ecalibrationUrl + "equipment/api/v1/getEuipmentCheckBox";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {customerid: core.getCookie('defaultCustId')}, this.getCheckBoxcallback, conf);
      },
      //获取当前页面动态的checkbox数据
      getCheckBoxcallback: function (response) {
        var self = this;
        this.checkboxs = response.data;
        this.checkboxs.forEach(function (element) {
          self.$set(element, 'isChecked', false)

        });
        for (var i = 0; i < response.data.length; i++) {

          self.checkboxs2.push(response.data[i]);
        }

        this.getIsAttrbuteCheckBox();
      },
      //获取用户喜欢的勾选checkbox数据
      getIsAttrbuteCheckBox: function () {
        var url = process.env.ecalibrationUrl + "equipment/api/v1/getIsAttrbuteCheckBox";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {customerid: core.getCookie('defaultCustId')}, this.getIsAttrbuteCheckBoxcallback, conf);
      },

      getIsAttrbuteCheckBoxcallback: function (response) {
        var self = this;
        //重置勾选checkbox
        this.checkedboxs = [];
        // if(response.data.length<3){
        //      this.table1flag=true;
        // this.table2flag=false;
        // }
        //       if(response.data.length>2){
        //      this.table1flag=false;
        // this.table2flag=true;
        // }
        //循环显示隐藏列
        this.$nextTick(() => {
          for (var i = 0; i < response.data.length; i++) {
            if (response.data[i].activeIndicator == 1) {
              if (response.data[i].name == 'attribute1') {
                console.log('this.attribute1flag == ' + this.attribute1flag)
                this.attribute1flag = true;
                this.attribute1flag2 = true;
                self.attribute1label = response.data[i].label;
                $("#attribute1").html(response.data[i].label);
              }
              if (response.data[i].name == 'attribute2') {
                this.attribute2flag = true;
                this.attribute2flag2 = true;
                self.attribute2label = response.data[i].label;
                $("#attribute2").html(response.data[i].label);
              }
              if (response.data[i].name == 'attribute3') {
                this.attribute3flag = true;
                this.attribute3flag2 = true;
                self.attribute3label = response.data[i].label;
                $("#attribute3").html(response.data[i].label);
              }
              if (response.data[i].name == 'attribute4') {
                this.attribute4flag = true;
                this.attribute4flag2 = true;
                self.attribute4label = response.data[i].label;
                $("#attribute4").html(response.data[i].label);
              }
              if (response.data[i].name == 'attribute5') {
                this.attribute5flag = true;
                this.attribute5flag2 = true;
                self.attribute5label = response.data[i].label;
                $("#attribute5").html(response.data[i].label);
              }
              if (response.data[i].name == 'EquipmentCustodian') {
                self.equipmentcustodianflag = true;
                self.equipmentcustodianflag2 = true;
              }
              if (response.data[i].name == 'EquipmentUserDept') {
                self.equipmentuserdeptflag = true;
                self.equipmentuserdeptflag2 = true;
              }
              if(response.data[i].name == 'EquipmentStorageLocation'){
                self.equipmentstoragelocationflag = true;
                self.equipmentstoragelocationflag2 = true;
              }
              if (response.data[i].name == 'EquipmentCalibrationPeriod') {
                self.equipmentcalibrationperiodflag = true;
                self.equipmentcalibrationperiodflag2 = true;
              }
              if (response.data[i].name == 'EquipmentCalibrationDate') {
                self.equipmentcalibrationdateflag = true;
                self.equipmentcalibrationdateflag2 = true;
              }
              if (response.data[i].name == 'EquipmentPlanDate') {
                self.equipmentplandateflag = true;
                self.equipmentplandateflag2 = true;
              }
              if (response.data[i].name == 'RemindDays') {
                self.reminddaysflag = true;
                self.reminddaysflag2 = true;
              }
              if (response.data[i].name == 'EquipmentSerialNO') {
                self.equipmentserialnoflag = true;
                self.equipmentserialnoflag2 = true;
              }
              if (response.data[i].name == 'EquipmentFactoryNameEN') {
                self.equipmentfactorynameenflag = true;
                self.equipmentfactorynameenflag2 = true;
              }
              if (response.data[i].name == 'EquipmentNameEN') {
                self.equipmentnameenflag = true;
                self.equipmentnameenflag2 = true;
              }
              if (response.data[i].name == 'EquipmentNo') {
                self.equipmentnoflag = true;
                self.equipmentnoflag2 = true;
              }
              if (response.data[i].name == 'EquipmentStatus') {
                self.equipmentstatusflag = true;
                self.equipmentstatusflag2 = true;
              }
              if (response.data[i].name == 'EquipmentFactoryNameCN') {
                self.equipmentfactorynamecnflag = true;
                self.equipmentfactorynamecnflag2 = true;
              }
              if (response.data[i].name == 'Model') {
                self.modelflag = true;
                self.modelflag2 = true;
              }
              this.checkboxs.forEach(item => {
                if (item.name == response.data[i].name) {
                  console.log(item.name + ' == ' + response.data[i].name)
                  self.$set(item, 'isChecked', true)
                  self.checkedboxs.push(response.data[i].name);
                }
              })
            }
          }
        })
        this.intiinput();
      },
      //全选功能按钮
      handleCheckAllChange (val) {
        var tmep = [];
        this.checkboxs2.forEach(item => {
          tmep.push(item.name);

        });
        this.checkedboxs = val ? tmep : [];
        this.isIndeterminate = false;
      },
      handleCheckedCitiesChange (value) {

        this.clearcheck();


        value.forEach(item => {
          if (item == 'attribute1') {
            console.log('this.attribute1flag == ' + this.attribute1flag)
            this.attribute1flag2 = true;
            // self.attribute1label = response.data[i].label;
          }
          if (item == 'attribute2') {
            this.attribute2flag2 = true;
            //self.attribute2label = response.data[i].label;
          }
          if (item == 'attribute3') {
            this.attribute3flag2 = true;
            //self.attribute3label = response.data[i].label;
          }
          if (item == 'attribute4') {
            this.attribute4flag2 = true;
            //self.attribute4label = response.data[i].label;
          }
          if (item == 'attribute5') {
            this.attribute5flag2 = true;
            //self.attribute5label = response.data[i].label;
          }
          if (item == 'EquipmentCustodian') {
            this.equipmentcustodianflag2 = true;
          }
          if (item == 'EquipmentUserDept') {
            this.equipmentuserdeptflag2 = true;
          }
          if(item=='EquipmentStorageLocation'){
            this.equipmentstoragelocationflag2 = true;
          }
          if (item == 'EquipmentCalibrationPeriod') {
            this.equipmentcalibrationperiodflag2 = true;
          }
          if (item == 'EquipmentCalibrationDate') {
            this.equipmentcalibrationdateflag2 = true;
          }
          if (item == 'EquipmentPlanDate') {
            this.equipmentplandateflag2 = true;
          }
          if (item == 'RemindDays') {
            this.reminddaysflag2 = true;
          }
          if (item == 'EquipmentSerialNO') {
            this.equipmentserialnoflag2 = true;
          }
          if (item == 'EquipmentFactoryNameEN') {
            this.equipmentfactorynameenflag2 = true;
          }
          if (item == 'EquipmentNameEN') {
            this.equipmentnameenflag2 = true;
          }
          if (item == 'EquipmentNo') {
            this.equipmentnoflag2 = true;
          }
          if (item == 'EquipmentStatus') {
            this.equipmentstatusflag2 = true;
          }
          if (item == 'Model') {
            this.modelflag2 = true;
          }
          if (item == 'EquipmentFactoryNameCN') {
            this.equipmentfactorynamecnflag2 = true;
          }
        });
        this.checkedboxs = value;


        let checkedCount = value.length;
        this.checkAll = checkedCount === this.checkboxs2.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.checkboxs2.length;

      },
      //列表多选
      changeFun: function (val) {
        this.multipleSelection = val;
      },
      //每次查询之前先进行保存喜好的功能
      savePrefer: function () {
        //获取check的对象
        var check = [];
        this.checkedboxs.forEach(item => {
          this.checkboxs2.forEach(item2 => {
            if (item == item2.name) {
              check.push(item2);
            }
          });
        });
        var url = process.env.ecalibrationUrl + "equipment/api/v1/savePrefer";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {
          check: check,
          customerid: core.getCookie('defaultCustId')
        }, this.savePreferCallback, conf);
      },
      savePreferCallback: function (response) {
        this.chongzhi();
        this.initEuipmentList();
        this.getIsAttrbuteCheckBox();
      },
      //查询按钮
      search: function () {
        this.savePrefer();
      },
      //重置列表的显示隐藏列
      chongzhi: function () {
        this.attribute1flag = false;
        this.attribute2flag = false;
        this.attribute3flag = false;
        this.attribute4flag = false;
        this.attribute5flag = false;
        this.equipmentcustodianflag = false;
        this.equipmentuserdeptflag = false;
        this.equipmentstoragelocationflag = false;
        this.equipmentcalibrationperiodflag = false;
        this.equipmentcalibrationdateflag = false;
        this.equipmentplandateflag = false;
        this.reminddaysflag = false;
        this.equipmentserialnoflag = false;
        this.equipmentfactorynameenflag = false;
        this.equipmentnameenflag = false;
        this.equipmentnoflag = false;
        this.equipmentstatusflag = false;
        this.modelflag = false;
        this.equipmentfactorynamecnflag = false;
      },
      //状态格式化
      equipmentstatusFormat: function (row, column) {
        var date = row[column.property];
        if (date == undefined) {
          return "";
        }
        if (date == "0") {
          return "正常";
        } else if (date === "1") {
          return "校准中";
        } else if (date === "2") {
          return "停用";
        }
        else {
          return "--";
        }
      },
      //日期格式化
      dateFormat: function (row, column) {
        var date = row[column.property];
        if (date == undefined) {
          return "";
        }
        var date2 = new Date(date);
        return core.formatDate(date2, 'yyyy-MM-dd');

      },
      //排序事件
      changeequipmentno: function (column) {
        if(column.prop == null){
          return;
        }
        this.orderBy = column.prop;
        let orderDirection = column.order;
        if (orderDirection != null) {
            this.orderDirection = orderDirection.replace("ending", "");
        }
        this.initEuipmentList();
      },
      //详情/编辑
      edit: function (val) {
        window.location.href = "equDetail.html?id=" + val + "&isNew=false";
      },
      edit2: function (val) {
        window.location.href = "equDetail.html?id=" + val + "&isNew=false#sbzt";
      },
      newIns: function (val) {
        window.location.href = "equDetail.html?id=&isNew=true";
      },
      copy: function (val) {
        this.$confirm('是否确认讲该设备进行复制另存为?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          var _this = this;
          jQuery.ajax({
            url: _this.ENV.ecUrl + "/equipment/api/v1/blockUp",
            dataType: "json",
            data: {
              "id": val1,
              "equipmentstatus": val2
            },
            async: false,
            type: "POST",
            success: function (data) {
              if (data.mes == 'error') {
                _this.$message({
                  type: 'success',
                  message: '操作失败,请联系管理员!'
                });
              } else {
                _this.$message({
                  type: 'success',
                  message: '操作成功!'
                });
                //刷新表格
                //jQuery("#tb_instrument").trigger("reloadGrid");
                _this.loadListData(_this.size, _this.currentPage);
              }
            }
          });

        }).catch(() => {

          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });
      },
      exportIns: function () {
        if (this.multipleSelection.length == 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行导出',
            type: 'warning'
          });
          return;
        }
        var ids = "";
        var rowsdate = this.multipleSelection;
        for (var i = 0; i < rowsdate.length; i++) {
          ids = ids + rowsdate[i].id + ",";
        }


        location.href = process.env.ecalibrationUrl + "/openapi/mingde/api/v1/exprot?idsStr=" + ids + "&customerid=" + core.getCookie('defaultCustId');

        //         var url = process.env.ecalibrationUrl  + "/openapi/mingde/api/v1/exprot";
        // var conf = {
        //   'isCallback': 'true'
        // }
        // HttpServer.post(this, url, {
        //   ids: ids,
        //   customerid: core.getCookie('defaultCustId')
        // }, this.exportCallback, conf);

      },
      exportCallback: function () {

      },
      //批量送校
      madeOrder: function () {
        // if (this.multipleSelection.length == 0) {
        //   this.$notify({
        //     title: '警告',
        //     message: '请先选中一条记录进行操作',
        //     type: 'warning'
        //   });
        //   return;
        // }
        // var _this = this;
        // var ids = "";
        // var rowsdate = this.multipleSelection;
        // for (var i = 0; i < rowsdate.length; i++) {
        //   ids = ids + rowsdate[i].id + ",";
        // }
        //将数据放入cookie中,用来生成订单临时数据
        if(core.getCookie('makeorderids')==null){
          core.setCookie('makeorderids', '', '30d');
        }

        window.location.href = "orderSubmit.html";

      },
      //批量删除
      deleteEquipment: function () {
        if (this.multipleSelection.length == 0) {
          this.$notify({
            title: '警告',
            message: '请先选中一条记录进行操作',
            type: 'warning'
          });
          return;
        }
        var _this = this;
        var ids = "";
        var rowsdate = this.multipleSelection;
        for (var i = 0; i < rowsdate.length; i++) {
          ids = ids + rowsdate[i].id + ",";
          // if( rowsdate[i].equipmentstatus==1){
          //                this.$notify({
          //   title: '警告',
          //   message: '请检查所选设备,校准中设备不允许删除.',
          //   type: 'warning'
          // });
          // return;
          // }
        }
        //将数据放入cookie中,用来生成订单临时数据
         this.$confirm('是否确认删除选择的'+rowsdate.length+'台设备?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
           this.deleteEquipmentfunction(ids);
        }).catch(() => {

          this.$message({
            type: 'info',
            message: '已取消操作'
          });
        });

      },
      clearcheck: function () {
        this.attribute1flag2 = false;
        this.attribute2flag2 = false;
        this.attribute3flag2 = false;
        this.attribute4flag2 = false;
        this.attribute5flag2 = false;
        this.equipmentcustodianflag2 = false;
        this.equipmentuserdeptflag2 = false;
        this.equipmentstoragelocationflag2 = false;
        this.equipmentcalibrationperiodflag2 = false;
        this.equipmentcalibrationdateflag2 = false;
        this.equipmentplandateflag2 = false;
        this.reminddaysflag2 = false;
        this.equipmentserialnoflag2 = false;
        this.equipmentfactorynameenflag2 = false;
        this.equipmentnameenflag2 = false;
        this.equipmentnoflag2 = false;
        this.equipmentstatusflag2 = false;
        this.modelflag2 = false;
        this.equipmentfactorynamecnflag2 = false;
      },
      intiinput: function () {
        var self = this;
        for (var i = 0; i < self.checkboxs2.length; i++) {
          if (self.checkboxs2[i].name == 'attribute1') {
            $("#attribute1").html(self.checkboxs2[i].label);
          }
          if (self.checkboxs2[i].name == 'attribute2') {

            $("#attribute2").html(self.checkboxs2[i].label);
          }
          if (self.checkboxs2[i].name == 'attribute3') {

            $("#attribute3").html(self.checkboxs2[i].label);
          }
          if (self.checkboxs2[i].name == 'attribute4') {

            $("#attribute4").html(self.checkboxs2[i].label);
          }
          if (self.checkboxs2[i].name == 'attribute5') {
            $("#attribute5").html(self.checkboxs2[i].label);
          }
        }
      },
      handleClick: function (id) {
        alert(id);
      },
      downTemp: function () {
        location.href = "./static/images/EquipmentTemplate.xlsx";
      },
      azmOpenDialog () {
        if (this.$refs.azmFileUpload) {
          this.$refs.azmFileUpload.clearFiles()
        }
        this.dialogFormVisible2 = true
      },
      /**
       * 文件上传提交按钮
       */
      azmFileSubmit () {
        this.$refs.azmFileUpload.submit()
      },
      azmFileSuccess (res, file) {
        if (res.detail!=null && res.detail!='') {
          this.$notify({
            title: '错误',
            message: res.detail,
            type: 'error',
            offset: 100
          });

        } else {
          this.$notify({
            title: '成功',
            message: '上传成功',
            type: 'success',
            offset: 100
          });
          //导入成功后,刷列表


        }
        this.initEuipmentList();
        this.dialogFormVisibleclose()
      },
      azmFileError (err) {
        this.$notify({
          title: '错误',
          message: '上传失败',
          type: 'error',
          offset: 100
        });
      },
      azmFileProgress (event) {
        console.log('上传中');
      },
      azmFileExceed (files) {
        this.$notify({
          title: '错误',
          message: '最多只能上传1个文件',
          type: 'error',
          offset: 100
        });
      },
      azmFileChange (file, fileList) {
        this.azmFileList = fileList
      },
      dialogFormVisibleclose () {
        this.$refs.azmFileUpload.clearFiles()
        this.dialogFormVisible2 = false;
      },
      deleteEquipmentfunction:function(ids){
        var _this = this;
        const loading = _this.$loading({
          lock: true,
          text: '正在删除,请稍等...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        var url = process.env.ecalibrationUrl + "equipment/api/v1/delEquipment";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(this, url, {equipmentids: ids}, (response)=>{
          loading.close();
          debugger
          if(response.detail=='true'){
            // _this.$message({
            //   showClose: true,
            //   message: '删除成功!',
            //   type: 'warning'
            // });
            var resultCount = response.resultCount;
            _this.$alert('已成功删除'+resultCount+'台设备!', '提示', {
              confirmButtonText: '确定',
              center: true,
              type: 'success',
              callback: action => {
                _this.chongzhi();
                _this.initEuipmentList();
                _this.getIsAttrbuteCheckBox();
              }
            });

          }else{
            const h = this.$createElement;
            let newDatas = [];
            for (var key in response.checkinfo) {
              newDatas.push(h('p',null,[
                h('span',null,'设备：'),
                h('span',{style: { color: '#ff822f' }},response.checkinfo[key][0].equipmentnamecn),
                h('span',null,' 不可删除 存在与以下未完成订单：')
              ]));
              var spans = [];
              for(var j=0;j<response.checkinfo[key].length;j++){
                spans.push(h('span',{
                  'class': { 'sgs_active_text':true },
                },response.checkinfo[key][j].orderno));
                spans.push(h('span',null," "));
              }
              newDatas.push(h('p',null,spans));
            }
            _this.$confirm( h('div',{'class':{
                  'del-equipment-confirm-div':true
                }}, newDatas),
              '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                showCancelButton:false,
                type: 'warning',
                center: true
              }).then(() => {
            }).catch(() => {
            });
          }
        }, conf);
      }
    }
  }
</script>
