<template>
  <div id="editPassword">
    <sgsLayout></sgsLayout>
    <el-main class="main_content content_container">
      <p class="xgmm_title">修改登录密码</p>
      <el-form :label-position="labelPosition" label-width="80px" :model="editPasswordForm" :rules="rules"
               ref="editPasswordForm">
        <el-form-item label="当前登陆密码" prop="oldPassword" class='old_pas'>
          <el-input type="password" v-model="editPasswordForm.oldPassword"></el-input>
        </el-form-item>
        <el-form-item label="新的登录密码" class="new_pas" prop="newPassword">
          <el-input type="password" v-model="editPasswordForm.newPassword" auto-complete="off"
                    @blur="checkStrong"></el-input>
          <div class="pas_warn" v-if="safetylevel!=0">
            <span class="aqmmcd">密码安全程度：</span>
            <el-rate v-model="safetylevel" disabled text-color="#ff9900" :texts="['极弱','弱','一般','高','极高']"
                     show-text></el-rate>
          </div>
        </el-form-item>
        <el-form-item label="确认新登录密码" prop="checkPassword" class="confirm_new_pas">
          <el-input type="password" v-model="editPasswordForm.checkPassword" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item class="btn_item">
          <el-button class="sgs_active_btn" @click="submitForm('editPasswordForm')">确定</el-button>
        </el-form-item>
      </el-form>
    </el-main>
    <el-dialog :visible.sync="centerDialogVisible" width="30%" center>
      <div class="dialog_middle">
        <div class="quan"><i class="el-icon-check"></i></div>
        <p class="big_tips">修改成功！</p>
        <p class="small_tips">修改成功，请牢记新的登录密码。</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <!--<router-link :to="{ name: 'login'}"><el-button @click="centerDialogVisible = false" class="sgs_active_btn">重新登录</el-button></router-link>-->
      </span>
    </el-dialog>
  </div>
</template>
<style scope>
  html, body {
    height: 90%;
    width: 100%;
  }

  #editPassword, #app {
    height: 100%;
    width: 100%;
  }

  .xgmm_title {
    font-family: SourceHanSansCN-Bold;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }

  #editPassword .el-form-item__label {
    width: 150px !important;
    height: 40px;
    line-height: 40px;
    background-color: #f9f9f9;
    font-family: SourceHanSansCN-Medium;
    font-size: 16px;
    color: #666666;
  }

  .el-input__inner {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    width: 300px;
    height: 40px;
    line-height: 40px;
  }

  #editPassword .el-form-item__content {
    margin-left: 160px !important;
    position: relative;
  }

  #editPassword .el-form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;

  }

  #editPassword .sgs_active_btn {
    margin-top: 30px;
  }

  #editPassword .gou_icon {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    border: 2px solid #6CDDA2;

  }

  #editPassword .gou_icon i {
    color: #6CDDA2;
    font-size: 16px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
  }

  #editPassword .el-input {
    width: auto;
  }

  span.di {
    font-size: 16px;
    color: #fd3f3f;
    line-height: 24px;
  }

  span.zhong {
    font-size: 16px;
    color: #f8ce64;
    line-height: 24px;
  }

  span.gao {
    font-size: 16px;
    color: #66da93;
    line-height: 24px;

  }

  .aqmmcd {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #666666;
    padding-left: 40px;
    display: inline-block;
    height: 40px;

  }

  #editPassword .btn_item .el-form-item__content {
    margin-left: 0 !important;
    width: 100%;
  }

  #editPassword .btn_item .el-form-item__content button {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .main_content {
    height: 90%;
  }

  .new_pas, .old_pas {
    position: relative;
  }

  #editPassword .old_pas .gou_icon, #editPassword .reputpas .gou_icon, #editPassword .reputpas_wrn .gou_icon {
    border-color: #FF0000;
  }

  #editPassword .old_pas .gou_icon i, #editPassword .old_pas .aqmmcd, #editPassword .reputpas .gou_icon i, #editPassword .reputpas_warn .gou_icon i {
    color: #FF0000;
  }

  .pas_warn {
    position: absolute;
    top: 5px;
    right: -177px;
  }

  .new_pas .pas_warn {
    right: -186px;
  }

  .oldpas_warn, .reputpas_warn {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -142px;
    display: none;
  }

  .reputpas_warn {
    right: -209px;
  }

  .reputpas {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -177px;
    display: none;
  }

  #editPassword .reputpas_warn .gou_icon {
    border-color: #FF0000;
    color: #FF0000;
  }

  #editPassword .reputpas .gou_icon .aqmmcd {
    color: #FF0000;
  }

  /*dislog*/
  .quan {
    border: 6px solid #46C45D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 80px;
  }

  .quan i {
    background-color: transparent;
    color: #46C45D;
    font-size: 58px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: block;
  }

  .big_tips {
    font-family: SourceHanSansCN-Bold;
    font-size: 24px;
    color: #333333;
    text-align: center;
  }

  .small_tips {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #666666;
    line-height: 24px;
    color: #333333;
    text-align: center;
  }

  .el-form-item__error {
    color: #ff822f;
  }

  .el-form-item__error {
    top: 25%;
    left: 100%;
    width: 130px;
    padding-left: 45px;
  }

  .el-rate {
    height: 20px;
    line-height: 1;
    display: inline-block;
  }

  {
    display: none
  ;
  }
  .el-rate__item {
    display: none;
  }

  .el-rate {
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
  }

  .old_pas .el-form-item__error, .new_pas .el-form-item__error, .confirm_new_pas .el-form-item__error {
    color: #666;
  }

  .confirm_new_pas .el-form-item__error {
    width: 215px;
  }
</style>
<script>
  import sgsLayout from '../sgsLayout/sgsLayout'

  var core = require('../../components/commonFunc.js');
  var axios = require('axios');
  export default {
    data () {
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入原密码'));
        } else {
          callback();
        }
      };
      var validatePass1 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入新密码'));
        } else {
          if (this.editPasswordForm.checkPassword !== '') {
            this.$refs.editPasswordForm.validateField('checkPassword');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入新密码'));
        } else if (value !== this.editPasswordForm.newPassword) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        editPasswordForm: {
          newPassword: '',
          checkPassword: '',
          oldPassword: ''
        },
        safetylevel: 0,
        rules: {
          oldPassword: [
            {validator: validatePass, trigger: 'blur'}
          ],
          newPassword: [
            {validator: validatePass1, trigger: 'blur'}
          ],
          checkPassword: [
            {validator: validatePass2, trigger: 'blur'}
          ]
        },

        centerDialogVisible: false,
        labelPosition: 'right',
        formLabelAlign: {
          name: '',
          region: '',
          type: ''
        }
      }
    },
    mounted: function () {
    },
    components: {
      sgsLayout
    },
    created: function () {

    },
    methods: {
      submitForm (formName) {
        let self = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
            var data = {
              "username": core.getCookie("username"),
              "password": self.editPasswordForm.newPassword,
              "oldPassword": self.editPasswordForm.oldPassword
            }
            axios({
              method: 'POST',
              url: process.env.UserManagementApiUrl + "login/updateExternalUserPassword",
              data: JSON.stringify(data),
              dataType: "json",
              headers: {
                'Content-Type': 'application/json'
              },
            }).then(function (response) {
              debugger
              if (response.data.success) {
                self.centerDialogVisible = true;
              } else {
                self.$notify.error({title: '错误', message: ' : ' + response.data.errorMessage});
              }
            }).catch(function (error) {
              if (error && error.message) {
                self.$notify.error({title: '错误', message: ' : ' + error.message});
              }
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      checkStrong (val) {
        var val = this.editPasswordForm.newPassword;
        if (val == '') {
          return this.safetylevel = 0;
        }
        var modes = 0;
        if (val.length < 6) return this.safetylevel = 1;
        if (/\d/.test(val)) modes++; //数字
        if (/[a-z]/.test(val)) modes++; //小写
        if (/[A-Z]/.test(val)) modes++; //大写
        if (/\W/.test(val)) modes++; //特殊字符
        if (val.length > 12) return this.safetylevel = 5;
        return this.safetylevel = modes;
      },
    }
  }
</script>
