<template>
  <div id="equDetail" @click="bodyHideInput" style="min-width: 1130px">
    <sgsLayout :isShowCustomer=false :active-index="2"></sgsLayout>
    <!-- 内容导航 -->
    <el-header height="60px" class="detail_header" :class="{'isFixed':scrollTop>=120}">
      <el-menu :default-active='activeIndex' class="el-menu-demo" mode="horizontal" text-color="#666"
               active-text-color="#fff" @select="ElMenuSelect">
        <el-menu-item index="1" :span="4">
          设备信息
        </el-menu-item>
        <el-menu-item index="2" :span="4">
          设备状态
        </el-menu-item>
        <el-menu-item index="3" :span="4">
          溯源记录
        </el-menu-item>
        <el-menu-item index="4" :span="4">
          校准需求
        </el-menu-item>
        <el-menu-item index="5" :span="4">
          详细资料
        </el-menu-item>
        <el-menu-item index="6" :span="4">
          相关附件
        </el-menu-item>
      </el-menu>
    </el-header>
    <div v-if="scrollTop>=120" style="height: 91px"></div>
    <div class="overflow">
      <el-main class="main_content content_container" id="azm_nav_box">
        <!-- 设备信息模块 -->
        <div class="module module1" id="sbxx">
          <el-row>
            <el-col :span="6" class='left_big_title'>
              <span class="module_title">设备信息</span>
              <span class="sgs_active_text" v-if="!isNew" @click="copyEquipment(null,true)">复制设备</span>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="4">
              <el-upload class="avatar-uploader" action="123" :show-file-list="false"
                         :before-upload="beforeAvatarUploadImage">
                <img v-if="portrait.imageUrl" :src="portrait.imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-col>
            <el-col :span="10">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">设备ID</span>
                </el-col>
                <el-col :span="15">
                  <!-- <el-input v-model="equipmentInfo.equipmentno" :placeholder="equipmentInfo.equipmentno" disabled="disabled"></el-input> -->
                  <div class="azm-text-input azm-text-input-c999999 cursor-ban">
                    <span>{{equipmentInfo.equipmentno}}</span>
                  </div>
                </el-col>
                <el-col :span="3"></el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">
                    <i class="azm-text-red">*</i>
                    设备名称
                  </span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentnamecn" v-if="isNew" @change="changeData"></el-input>
                  <div class="azm-text-input" @dblclick="showInput('isEquipmentnamecn')"
                       v-else-if="showIputData != 'isEquipmentnamecn'">
                    <span>{{equipmentInfo.equipmentnamecn}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-input v-model="equipmentInfo.equipmentnamecn" :placeholder="equipmentInfo.equipmentnamecn" v-else
                            @blur="hideInput" autofocus @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">型号规格</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.model" :placeholder="equipmentInfo.model"
                            v-if="isNew" @change="changeData"></el-input>
                  <div class="azm-text-input" @dblclick="showInput('isModel')"
                       v-else-if="showIputData != 'isModel'">
                    <span>{{equipmentInfo.model}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-input v-model="equipmentInfo.model" :placeholder="equipmentInfo.model" @blur="hideInput" v-else
                            autofocus @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>

            <el-col :span="10">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">厂商品牌</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentfactorynamecn"
                            :placeholder="equipmentInfo.equipmentfactorynamecn"
                            v-if="isNew" @change="changeData"></el-input>
                  <div class="azm-text-input" @dblclick="showInput('isEquipmentfactorynamecn')"
                       v-else-if="showIputData != 'isEquipmentfactorynamecn'">
                    <span>{{equipmentInfo.equipmentfactorynamecn}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-input v-model="equipmentInfo.equipmentfactorynamecn"
                            :placeholder="equipmentInfo.equipmentfactorynamecn" @blur="hideInput" v-else
                            autofocus @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">管理编号</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.assetno"
                            :placeholder="equipmentInfo.assetno"
                            v-if="isNew" @change="changeData"></el-input>
                  <div class="azm-text-input" @dblclick="showInput('isAssetno')"
                       v-else-if="showIputData != 'isAssetno'">
                    <span>{{equipmentInfo.assetno}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-input v-model="equipmentInfo.assetno"
                            :placeholder="equipmentInfo.assetno" @blur="hideInput" v-else
                            autofocus @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">机身编号</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentserialno" :placeholder="equipmentInfo.equipmentserialno"
                            v-if="isNew" @change="changeData"></el-input>
                  <div class="azm-text-input" @dblclick="showInput('isEquipmentserialno')"
                       v-else-if="showIputData != 'isEquipmentserialno'">
                    <span>{{equipmentInfo.equipmentserialno}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-input v-model="equipmentInfo.equipmentserialno" :placeholder="equipmentInfo.equipmentserialno"
                            @blur="hideInput" v-else
                            autofocus @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
        <!-- 设备状态模块 -->
        <div class="module module2" id="sbzt">
          <el-row>
            <el-col :span="6" class='left_big_title'>
              <span class="module_title">设备状态</span>
              <!--只有修改状态下才判断是否显示，新增默认无停用启用按钮-->
              <span class="sgs_active_text" v-if="!isNew && equipmentInfo.equipmentstatus!=2"
                    @click="updateEquipmentStatus('',2)">停用</span>
              <span class="sgs_active_text" v-if="!isNew && equipmentInfo.equipmentstatus==2"
                    @click="updateEquipmentStatus('',0)">启用</span>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="4">
              <div class="azm-sbzt-box">
                <img src="../../../static/images/icon_a_stop.png" v-if="equipmentInfo.equipmentstatus==2">
                <img src="../../../static/images/icon_a_jiaozhun.png" v-else-if="equipmentInfo.equipmentstatus==1">
                <img src="../../../static/images/icon_a_yuqi.png" v-else-if="isOverdue">
                <img src="../../../static/images/icon_a_chaoqiyujing.png" v-else-if="isExtended">
                <img src="../../../static/images/icon_normal.png" v-else-if="equipmentInfo.equipmentstatus==0">
                <p>设备状态:
                  <span v-if="equipmentInfo.equipmentstatus==2">停用</span>
                  <span v-else-if="equipmentInfo.equipmentstatus==1">校准中</span>
                  <span v-else-if="isOverdue">逾期</span>
                  <span v-else-if="isExtended">超期预警</span>
                  <span v-else-if="equipmentInfo.equipmentstatus==0">正常</span>
                </p>
                <el-button v-if="isOverdue||isExtended" @click="toCalibration()">立即送校</el-button>
              </div>
            </el-col>
            <el-col :span="11">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">最近校准日期</span>
                </el-col>
                <el-col :span="15">
                  <el-date-picker :editable="false" v-model="equipmentInfo.equipmentcalibrationdate" type="date"
                                  @change="equipmentcalibrationdateChange" placeholder="选择日期" class="zjjzrq"
                                  v-if="isNew">
                  </el-date-picker>
                  <div class="azm-text-input" @dblclick="showInput('isEquipmentcalibrationdate')"
                       v-else-if="showIputData != 'isEquipmentcalibrationdate'">
                    <span>{{equipmentInfo.equipmentcalibrationdate | formatDate('yyyy-MM-dd')}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <el-date-picker v-model="equipmentInfo.equipmentcalibrationdate" type="date" :editable="false"
                                  @change="equipmentcalibrationdateChange" placeholder="选择日期" class="zjjzrq" v-else>
                  </el-date-picker>
                </el-col>
                <el-col :span="3"></el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">校准到期日期</span>
                </el-col>
                <el-col :span="15">
                  <div class="azm-text-input cursor-ban" @dblclick="showInput('')"
                       v-if="true">
                    <span>{{equipmentInfo.equipmentexpiredate | formatDate('yyyy-MM-dd')}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span v-if="equipmentInfo.equipmentcalibrationdate" class="azm-text-color-ff822f">
                      <span v-if="surplusDate>=0">还剩{{surplusDate}}天</span>
                      <span v-else>逾期{{-surplusDate}}天</span>
                    </span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--<span class="azm-text-input-hover">双击修改</span>-->
                  </div>
                  <el-date-picker v-model="equipmentInfo.equipmentexpiredate" type="date" :editable="false"
                                  @change="equipmentcalibrationdateChange" placeholder="选择日期" class="zjjzrq" v-else>
                  </el-date-picker>
                </el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">计划下单日期</span>
                </el-col>
                <el-col :span="15">
                  <div class="azm-text-input cursor-ban" @dblclick="showInput('')"
                       v-if="true">
                    <span>{{equipmentInfo.equipmentplandate | formatDate('yyyy-MM-dd')}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--<span class="azm-text-input-hover">双击修改</span>-->
                  </div>
                  <el-date-picker v-else v-model="equipmentInfo.equipmentplandate" type="date" :editable="false"
                                  @change="equipmentcalibrationdateChange" placeholder="选择日期">
                  </el-date-picker>
                </el-col>
                <el-col :span="3"></el-col>
              </el-row>
            </el-col>
            <el-col :span="9" class="jzzq_top">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">校准周期</span>
                </el-col>
                <el-col :span="15">
                  <div class="azm-text-input" @dblclick="showInput('isEquipmentcalibrationperiod')"
                       v-if="showIputData != 'isEquipmentcalibrationperiod'">
                    <span>每隔&nbsp;&nbsp;&nbsp;{{equipmentInfo.equipmentcalibrationperiod}}&nbsp;&nbsp;&nbsp;月</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <div v-else>
                    每隔
                    <el-input type="number" v-model="equipmentInfo.equipmentcalibrationperiod" placeholder=""
                              class="jzzq azm-input-focus" autofocus min="0"
                              @change="equipmentcalibrationdateChange" @blur="hideInput"></el-input>
                    月
                  </div>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">计划下单</span>
                </el-col>
                <el-col :span="15">
                  <div class="azm-text-input" @dblclick="showInput('isReminddays')"
                       v-if="showIputData != 'isReminddays'">
                    <span>提前&nbsp;&nbsp;&nbsp;{{equipmentInfo.reminddays}}&nbsp;&nbsp;&nbsp;天</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="azm-text-input-hover">双击修改</span>
                  </div>
                  <div v-else>
                    提前
                    <el-input type="number" v-model="equipmentInfo.reminddays" placeholder=""
                              class="xdjh azm-input-focus" autofocus min="0"
                              @change="equipmentcalibrationdateChange" @blur="hideInput"></el-input>
                    天
                  </div>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
        <!-- 溯源记录模块 -->
        <div class="module module3" id="syjl">
          <el-row>
            <el-col :span="6" class='left_big_title'>
              <span class="module_title">溯源记录</span>
              <span class="sgs_active_text" @click="toCalibration">立即送校</span>
            </el-col>
          </el-row>
          <el-row>
            <el-table :data="equipmentTraceabilityRecordsList" border fit style="width: 100%">
              <el-table-column label="日期" align="center" width="200">
                <template slot-scope="scope">
                  <span v-if="scope.row.id!=''">{{scope.row.createddate | formatDate('yyyy-MM-dd')}}</span>
                  <el-date-picker v-else class="table-column_date_picker" v-model="scope.row.createddate"
                                  :editable="false"
                                  :name="scope.row.id || 'createddate'"
                                  placeholder="手动添加日期" prefix-icon="dd"
                                  type="date"
                                  :disabled="scope.row.id!=''"
                                  :picker-options="pickerOptions1"
                                  @blur="blurRecordsChange(scope.$index,scope.row)">
                  </el-date-picker>
                </template>
              </el-table-column>
              <el-table-column label="记录信息" align="center">
                <template slot-scope="scope">
                  <div v-if="scope.row.type==1">
                    <span>订单编号:
                      <a class="azm-route_serial_number azm-font_size_14"
                         @click="goOrderDetail(scope.row.ecOrderStatus,scope.row.id,scope.row.orderNo)">
                        {{scope.row.orderNo}}
                      </a>
                    </span>
                    <span v-if="scope.row.reportNo!='' && scope.row.reportNo!=null">
                      报告编号:
                      <a class="azm-route_serial_number azm-font_size_14"
                         @click="openReportDialog(scope.row)">
                        {{scope.row.reportNo}}
                      </a>
                    </span>
                  </div>
                  <div v-if="scope.row.type==2">
                    <el-input v-if="scope.row.id==''" v-model="scope.row.remark" placeholder="手动添加相关记录"
                              class="azm-input" @change="changeData"
                              @blur="blurRecordsChange(scope.$index,scope.row)"></el-input>
                    <span v-else>{{scope.row.remark}}</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="操作" class="cz_col" align="center">
                <template slot-scope="scope">
                  <span v-if="scope.row.type==1 && scope.row.reportNo=='' || scope.row.reportNo==null"
                        class="azm-font_size_14">报告未上传</span>
                  <el-button class="sgs_active_text azm-font_size_14"
                             v-if="scope.row.type==1 && scope.row.reportNo!='' && scope.row.reportNo!=null"
                             @click="downloadReport('',scope.row.reportfileid)">报告下载
                  </el-button>
                  <el-button class="sgs_active_text azm-button_remove azm-font_size_14"
                             v-if="scope.row.type==2 && (scope.row.createddate!='' || scope.row.remark!='')"
                             @click.native.prevent="delRecords(scope.$index, scope.row)">删除记录
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-row>
        </div>
        <!-- 校准需求 -->
        <div class="module module4" id="jzxq">
          <el-row>
            <el-col :span="6" class='left_big_title'>
              <span class="module_title">校准需求</span>
            </el-col>
          </el-row>
          <el-table :data="equipmentCalibrationList" border fit>
            <el-table-column label="器具类别" width="350" align="center">
              <template slot-scope="scope">
                <span v-if="scope.row.calibrationinstanceid!=''">{{scope.row.measuringinstrumentname}}</span>
                <el-autocomplete v-model="scope.row.measuringinstrumentname" v-else
                                 :fetch-suggestions="querySearchAsync" class="azm-input"
                                 placeholder="请输入器具类别" @select="handleSelect" @blur="blurChange(scope.$index,scope.row)"
                                 :disabled="scope.row.calibrationinstanceid!=''"></el-autocomplete>
              </template>
            </el-table-column>
            <el-table-column label="测量范围/特殊参数点" align="center">
              <template slot-scope="scope">
                <span v-if="scope.row.calibrationinstanceid!=''">{{scope.row.equipmentmeasuringrange}}</span>
                <el-input 
                  placeholder="测量范围/特殊参数点"
                  v-model="scope.row.equipmentmeasuringrange"
                  :disabled="scope.row.calibrationinstanceid!=''" class="azm-input">
                </el-input>
                <!-- <el-autocomplete v-else v-model="scope.row.equipmentmeasuringrange" class="azm-input"
                                  :trigger-on-focus="false"
                                 placeholder="测量范围/特殊参数点" @select="handleSelect1"
                                 :disabled="scope.row.calibrationinstanceid!=''"
                                ></el-autocomplete> -->
              </template>
            </el-table-column>
            <el-table-column label="精度等级">
              <template slot-scope="scope">
                <span v-if="scope.row.calibrationinstanceid!=''">{{scope.row.equipmenttechnicalspecification}}</span>
                <el-input align="center"
                  placeholder="精度等级"
                  v-model="scope.row.equipmenttechnicalspecification"
                  :disabled="scope.row.calibrationinstanceid!=''" class="azm-input">
                </el-input>
                <!-- <el-autocomplete v-else v-model="scope.row.equipmenttechnicalspecification"
                                  :trigger-on-focus="false" placeholder="精度等级" @select="handleSelect2"
                                 :disabled="scope.row.calibrationinstanceid!=''" class="azm-input"
                                 ></el-autocomplete> -->
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center" class="cz_col" width="100">
              <template slot-scope="scope">
                <el-button class="sgs_active_text azm-button_remove azm-font_size_14"
                           @click.native.prevent="delRequirement(scope.$index, equipmentCalibrationList)" type="text"
                           v-if="isshowDel(scope.row)">
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <!--<el-row style="text-align: center;"><i class="el-icon-plus" @click="addRequirement">新增</i></el-row>-->
        </div>
        <!-- 详细资料 -->
        <div class="module module5" id="xxzl">
          <el-row>
            <el-col :span="6" class='left_big_title'>
              <span class="module_title">详细资料</span>
              <span class="add_your_attr sgs_active_text" @click="addAttr">添加自定义属性</span>
            </el-col>
          </el-row>
          <el-row class="add_par">
            <!--所属部门-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">所属部门</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentuserdept" @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
            <!--设备所在地-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">设备所在地</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentstoragelocation" @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
            <!--设备英文名称-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">设备英文名称</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentnameen" @change="changeData"></el-input>
                </el-col>
              </el-row>
            </el-col>
            <!--设备英文品牌-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">设备英文品牌</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentfactorynameen" @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
            <!--保管人-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">保管人</span>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="equipmentInfo.equipmentcustodian" @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
            <!--购买时间-->
            <el-col :span="12">
              <el-row :gutter="10">
                <el-col :span="6">
                  <span class="left_text">购买时间</span>
                </el-col>
                <el-col :span="15">
                  <el-date-picker v-model="equipmentInfo.equipmentpurchasedate" type="date" placeholder="选择日期"
                                  :editable="false">
                  </el-date-picker>
                </el-col>
                <el-col :span="3">
                  <a href="#" class="click_xiugai">
                    <!-- 点击修改 -->
                  </a>
                </el-col>
              </el-row>
            </el-col>
            <!--自定义属性-->
            <el-col :span="12" v-for="(userDefined,index) in userDefinedCount" :key="index">
              <el-row :gutter="10">
                <el-col :span="6">
                  <el-form :model="userDefined" :rules="rules">
                    <el-form-item prop="attributename">
                      <el-input v-model="userDefined.attributename" :placeholder='"自定义属性" + (index+1)'
                                class="zdy_input azm-input_right" @change="changeData"
                                @blur="attrNameblur(userDefined)"></el-input>
                    </el-form-item>
                  </el-form>
                  <!--<span v-if="userDefined.isError">-->
                  <!--<i class="el-icon-error"></i>名称不能重复,且不能为空!</span>-->
                  <el-input v-model="userDefined.userdefinedno='attribute' + (index+1)" @change="changeData"
                            style="display: none"></el-input>
                  <el-input v-model="userDefined.attrnameid" style="display: none" @change="changeData"></el-input>
                  <el-input v-model="userDefined.attrvalueid" style="display: none" @change="changeData"></el-input>
                </el-col>
                <el-col :span="15">
                  <el-input v-model="userDefined.attributevalue" :placeholder='"自定义属性值" + (index+1)'
                            class="zdy_input_value" @change="changeData"></el-input>
                </el-col>
                <el-col :span="3">
                  <a class="delete_zdy" @click.prevent="removeAttr(userDefined)"></a>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
        <!-- 相关附件 -->
        <div class="module module6" id="xgfj">
          <el-row>
            <el-col :span="2" class='left_big_title'>
              <span class="module_title">相关附件</span>
            </el-col>
            <el-col :span="22">
              <el-upload class="upload-demo" action="123" :on-preview="handlePreview" :on-remove="handleRemove"
                         :before-remove="beforeRemove" :beforeUpload="beforeAvatarUpload" multiple :limit="3"
                         :on-exceed="handleExceed" :file-list="fileList">
                <el-button class='sgs_active_text'>上传</el-button>
                <span slot="tip" class="el-upload__tip">*最多可上传3份附件(pdf/img/jpg/xls/xlsx/doc/docx)</span>

              </el-upload>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </div>
    <el-footer class="azm-text-center">
      <el-button type="primary" plain class="lingcun_btn" @click="copyEquipment(null,true)" v-if="!isNew">复制设备
      </el-button>
      <el-button class="save_btn" :class="{'isSaveData':!isSaveData}" @click="saveEquipment">保存</el-button>
      <el-button type="primary" plain class="lingcun_btn" @click="closeEquipment" v-if="!isNew">删除设备</el-button>
    </el-footer>
    <!--新增设备保存弹窗-->
    <modal v-model="isOpenModal" :mask-closable="false" :closable="false">
      <p class="azm-text-center" style="margin-top: 70px">
        <img src="../../assets/success.png" alt="" style="width: 80px;height: 80px">
      </p>
      <p style="margin-top: 30px;font-weight: bold;font-size: 24px;color: #000" class="azm-text-center">保存成功</p>
      <p class="azm-text-center" style="margin-top: 10px;color: #666;font-size: 16px;line-height: 24px">
        您的设备：<span class="sgs_active_text">{{equipmentInfo.equipmentnamecn}} </span> 已经成功保存。
      </p>
      <p class="azm-text-center" style="margin-top: 10px;color: #666;font-size: 16px;line-height: 16px">
        <span style="color: #ff822f">{{countdownNum}}</span>
        <span>s 后关闭页面</span>
      </p>
      <p class="azm-text-center" style="margin-top: 22px;margin-bottom: 34px;">
        <Button type="primary" class="sa-primary azm-submit" @click="back">确定</Button>
      </p>
    </modal>
    <!--新增设备删除弹窗-->
    <modal v-model="isDelModal" :mask-closable="false" :closable="false">
      <p class="azm-text-center" style="margin-top: 70px">
        <img src="../../assets/success.png" alt="" style="width: 80px;height: 80px">
      </p>
      <p style="margin-top: 30px;font-weight: bold;font-size: 24px;color: #000" class="azm-text-center">提示</p>
      <p class="azm-text-center" style="margin-top: 10px;color: #666;font-size: 16px;line-height: 24px">
        您的设备： <span class="sgs_active_text">{{equipmentInfo.equipmentnamecn}} </span> 已经删除。
      </p>
      <p class="azm-text-center" style="margin-top: 10px;color: #666;font-size: 16px;line-height: 16px">
        <span style="color: #ff822f">{{countdownNum}}</span>
        <span>s 后关闭页面</span>
      </p>
      <p class="azm-text-center" style="margin-top: 22px;margin-bottom: 34px;">
        <Button type="primary" class="sa-primary azm-submit" @click="back">确定</Button>
      </p>
    </modal>
    <!-- 报告详情弹窗 -->
    <ReportDialog :showReportDialog="showReportDialog" :reportDialogParams="reportDialogParams"
                  @dialogCloseEvent="showReportDialog = false"></ReportDialog>
  </div>
</template>

<script>
  import sgsLayout from '../sgsLayout/sgsLayout'
  import Modal from "iview/src/components/modal/modal";
  import Button from "iview/src/components/button/button";
  import ReportDialog from "../reportDialog/reportDialog";

  var core = require('../../components/commonFunc.js');
  var ecUtil = require('../../components/util.js');
  var HttpServer = require('../../components/http.js');
  export default {
    components: {
      Button,
      Modal,
      'sgsLayout': sgsLayout,
      ReportDialog

    },
    data () {
      var _this = this;
      return {
        //报告详情弹出框
        showReportDialog: false,
        reportDialogParams:{},
        //from表单校验
        rules: {
          attributename: [
            {
              validator: _this.validatorName, trigger: 'blur'
            }
          ]
        },
        isSaveData: false,
        scrollTop: null,//页面滚动位置
        positionPages: [],
        pickerOptions1: {
          disabledDate (time) {
            return time.getTime() > Date.now();
          }
        },
        isDelModal:false,
        isOpenModal: false,
        countdownNum: 3,
        systemID: 6,
        isNew: false,
        surplusDate: 0,//剩余天数提醒
        isOverdue: false,//是否逾期，当前日期超过校准到期时间为逾期
        isExtended: false,//是否超期预警，当前日期超过计划下单时间为超期预警
        loading: false,
        calibrationRequirementOneList: [],//校准需求器具类别联想数据
        equpmentsColumns: [],//设备对象全部列名
        calibrationRequirementTwoList: [],
        calibrationRequirementThreeList: [],
        timeout: null,
        //设备信息
        equipmentInfo: {
          id: '',
          equipmentnamecn: '',
          equipmentno: '',
          model: '',
          equipmentfactorynamecn: '',
          assetno: '',
          equipmentcalibrationdate: '',
          equipmentcalibrationperiod: '12',
          equipmentexpiredate: '',
          equipmentplandate: '',
          reminddays: '45',
          equipmentserialno: '',
          equipmentnameen: '',
          equipmentcustodian: '',
          equipmentfactorynameen: '',
          equipmentpurchasedate: '',
          equipmentuserdept: '',
          equipmentstoragelocation:'',
          equipmentstatus: '0'
        },
        showIputData: '',
        isEquipmentnamecn: false,
        //input显示变量
        fileList: [],//设备附件信息
        portrait: {//头像信息
          imageUrl: '',
          type: 1
        },
        userDefinedCount: [],//自定义字段信息
        activeIndex: '1',
        // 溯源记录表格
        equipmentTraceabilityRecordsList: [],//溯源记录数据集
        delRecordsList: [],//页面上操作删除的溯源记录数据，用于删除数据库操作
        equipmentCalibrationList: [],//校准需求数据集
        selectIndex: 0,//校准需求联想选择后自动渲染数据行
        //删除设备提示信息
        showcheckInfoDialog:false,
        checkinfoData:[]
      };
    },
    mounted: function () {
      window.addEventListener('scroll', this.handleScroll)
      this.getCalibrationRequirementOne();
      $(".module .el-input").mouseover(function () {
        $(this).parent().nextAll().find("a").css({
          display: "block"
        })
      })
      $(".delete_your_attr_box").click(function () {
        $(this).parent().remove();
      })

      $(".module .el-input__inner").focus(function () {
        $(this).css({
          background: "#fff",
          borderColor: "#FF822F"
        })
      })
      $(".module .el-input__inner").blur(function () {
        $(this).css({
          borderColor: "#ddd",
          backgroundColor: "#f9f9f9"
        });
      });
    },
    destroyed () {
      // 移除事件
      window.removeEventListener('scroll', this.handleScroll)
    },
    created: function () {
      this.getEquipmentColumnsByCustomerid();
      this.initEquipmentInfo();
    },
    filters: {
      /**
       * 时间过滤器
       * @param value
       * @param fmt
       * @returns {*}
       */
      formatDate: function (value, fmt) {
        if (!value) return ''
        let time = core.formatDate(new Date(value), fmt)
        return time
      }
    },
    methods: {
      openReportDialog: function (row) {
        var _this = this;
        this.reportDialogParams = {
          id:row.reportId,
          orderEquipmentInstanceID:row.orderEquipmentInstanceID,
          equipmentid:_this.equipmentInfo.id,
          orderid:row.id
        };
        this.showReportDialog = true;
      },
      // 删除设备
      closeEquipment () {
        this.$confirm('此操作将删除该设备, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          this.delEquipment();
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      delEquipment(){
        let _this = this;
        const loading = _this.$loading({
          lock: true,
          text: '正在删除,请稍等...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        var url = process.env.ecalibrationUrl + "equipment/api/v1/delEquipment";
        var conf = {
          'isCallback': true
        }
        HttpServer.post(_this, url, {
          equipmentids: _this.equipmentInfo.id,
        }, (response)=>{
          loading.close();
          if(response.detail=='true'){
            _this.isDelModal = true;
            core.countdown(3, (time) => {
              if (time > 0) {
                _this.countdownNum = time
              } else {
                _this.back()
              }
            });
          }else{
            const h = this.$createElement;
            let newDatas = [];
            for (var key in response.checkinfo) {
              newDatas.push(h('p',null,[
                h('span',null,'设备：'),
                h('span',{style: { color: '#ff822f' }},response.checkinfo[key][0].equipmentnamecn),
                h('span',null,' 不可删除 存在与以下未完成订单：')
              ]));
              var spans = [];
              for(var j=0;j<response.checkinfo[key].length;j++){
                spans.push(h('span',{
                    'class': { 'sgs_active_text':true },
                  // nativeOn: {
                  //      click: ecUtil.goOrderDetail(response.checkinfo[key][j].ecOrderstatus,
                  //       response.checkinfo[key][j].orderid,response.checkinfo[key][j].orderno)
                  // }
                  },response.checkinfo[key][j].orderno));
                spans.push(h('span',null," "));
              }
              newDatas.push(h('p',null,spans));
            }
            _this.$confirm( h('div',{'class':{
              'del-equipment-confirm-div':true
                }}, newDatas),
              '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                showCancelButton:false,
                type: 'warning',
                center: true
              }).then(() => {
            }).catch(() => {
            });
          }

        }, conf);

      },
      // 页面滚动监听方法
      handleScroll () {
        let el = $('#azm_nav_box >div'), len = el.length, _this = this
        for (let i = 0; len > i; i++) {
          _this.positionPages[i] = $(el[i]).offset().top
        }
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        this.scrollTop = scrollTop
        for (let i = 0; this.positionPages.length > i; i++) {
          if (this.positionPages[i] <= scrollTop + 61) {
            this.activeIndex = (i + 1) + ''
          }
        }
      },
      ElMenuSelect (index, path) {
        console.log(index, path);
        switch (+index) {
          case 1:
            window.scrollTo(0, 0);
            break;
          case 2:
            ecUtil.history.push('#sbzt')
            break;
          case 3:
            ecUtil.history.push('#syjl')
            break;
          case 4:
            ecUtil.history.push('#jzxq')
            break;
          case 5:
            ecUtil.history.push('#xxzl')
            break;
          case 6:
            ecUtil.history.push('#xgfj')
            break;
          default:
        }
      },
      //自定义名称校验
      validatorName (rule, value, callback) {
        if (!value) {
          if (rule) {
            callback(new Error('不能为空'))
          } else {
            return '自定义字段名称不能为空,请填写!'
          }
        } else if (value.length <= 0 || value.length > 100) {
          if (rule) {
            callback(new Error('长度在1到100个字符'))
          } else {
            return '长度在1到100个字符'
          }
        } else {
          for (let val of this.equpmentsColumns) {
            if (value === val) {
              if (rule) {
                callback(new Error('不能有重复名称'))
              } else {
                return '自定义字段名称不能有重复名称,请填写!'
              }
            }
          }
          if (this.isAttributeName()) {
            if (rule) {
              callback(new Error('不能有重复名称'))
            } else {
              return '自定义字段名称不能有重复名称,请填写!'
            }
          }
        }
      },
      changeData () {
        this.isSaveData = true
      },
      isAttributeName () {
        let obj = {}
        for (let val of this.userDefinedCount) {
          if (!obj[val.attributename]) {
            obj[val.attributename] = 1
          } else {
            obj[val.attributename]++
          }
        }
        for (let v in obj) {
          if (obj[v] >= 2) {
            return true
          }
        }
      },
      showInput (txt) {
        this.showIputData = txt
      },
      /**
       * input修改后隐藏
       **/
      hideInput () {
        this.showIputData = ''
      },
      /**
       * 浏览器后退
       */
      back () {
        window.location.href = 'equipmentList.html'
      },
      bodyHideInput (e) {
        if (e.type === 'click' && e.target.tagName !== 'INPUT' && e.target.autofocus !== true) {
          this.hideInput()
        }
      },
      attrNameblur (item) {
        if (item.attributename) {
          item.isError = false;
        } else {
          item.isError = true;
          return
        }
        var a = this.equpmentsColumns.filter(function callbackfn (value) {
          if (item.attributename === value) {
            return true;
          }
          return false;
        }).length;
        if (a > 0) {
          item.isError = true;
        } else {
          item.isError = false;
        }

      },
      isshowDel (item) {
        if (item.equipmentmeasuringrange || item.equipmenttechnicalspecification || item.measuringinstrumentname) {
          return true;
        } else {
          return false;
        }

      },
      //获取设备关联的校准需求
      getEquipmentCalibrationByEquId (response) {
        this.equipmentCalibrationList = response.equipmentCalibrationList;
        this.addRequirement();
      },
      getEquipmentTraceabilityRecords (response) {
        this.equipmentTraceabilityRecordsList = response.equipmentTraceabilityRecordsList;
        this.addRecords();
      },
      //初始化设备信息
      initEquipmentInfo: function () {
        var id = core.getUrlParam1('id');
        this.isNew = core.getUrlParam1('isNew') === 'true' ? true : false;
        if (id) {
          this.equipmentInfo.id = id;
          var url = process.env.ecalibrationUrl + "equipment/api/v1/getEqupmentInfoById";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.post(this, url, {
            id: id,
            customerid: core.getCookie('defaultCustId')
          }, this.getEqupmentInfoById, conf);


          //加载校准需求
          var url1 = process.env.ecalibrationUrl + "calibrationRequirement/api/v1/getEquipmentCalibrationByEquId";
          HttpServer.post(this, url1, {equipmentid: id}, this.getEquipmentCalibrationByEquId, conf);

          //加载溯源记录
          var url2 = process.env.ecalibrationUrl + "equipment/api/v1/getEquipmentTraceabilityRecords";
          HttpServer.post(this, url2, {id: id}, this.getEquipmentTraceabilityRecords, conf);
        } else {
          var url = process.env.ecalibrationUrl + "equipment/api/v1/getEquipmentno";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.post(this, url, {customerid: core.getCookie('defaultCustId')}, this.getSGSId, conf);
        }
      },
      getSGSId (response) {
        this.equipmentInfo.id = response.id;
        this.equipmentInfo.equipmentno = response.equipmentno;
        this.equipmentInfo.assetno = response.equipmentno;
        this.userDefinedCount = response.attrList;
        this.addRequirement();
        this.addRecords();
      },
      getEqupmentInfoById (response) {
        this.equipmentInfo = response.equipmentInfo;
        if(this.equipmentInfo.activeindicator==0){
          this.isDelModal = true;
          core.countdown(3, (time) => {
            if (time > 0) {
              this.countdownNum = time
            } else {
              this.back()
            }
          });
          return
        }
        // debugger
        if (this.equipmentInfo.equipmentexpiredate) {//校准到期时间不为空
          var now = new Date();
          var date1 = new Date(this.equipmentInfo.equipmentexpiredate);
          this.surplusDate = parseInt((date1.getTime() - now.getTime()) / (24 * 60 * 60 * 1000));
          if (date1 < now) {//逾期状态
            this.isOverdue = true;
          } else {
            this.isOverdue = false;
          }
        }
        if (this.equipmentInfo.equipmentplandate) {//计划下单时间不为空
          if (this.isOverdue) {
            console.info('如果已经是逾期，则已逾期状态为优先，不在设置超期预警状态');
          } else {
            var now = new Date();
            var date1 = new Date(this.equipmentInfo.equipmentplandate);
            //var timesNumber = parseInt(Math.abs((now.getTime()-date1.getTime())/(24*60*60*1000)));
            if (date1 < now) {//超期预警状态
              this.isExtended = true;
            } else {
              this.isExtended = false;
            }
          }

        }

        this.userDefinedCount = response.attrList;
        this.fileList = [];//每次初始化之前都需要清空附件列表
        var url = process.env.FrameWorkApiUrl + "file/query";
        var conf = {
          'isCallback': 'true'
        }
        for (var i = 0; i < response.fileList.length; i++) {
          if (response.fileList[i].type == 1) {
            var data = JSON.stringify({
              "queryParams": {"systemID": this.systemID, "id": response.fileList[i].fileid}
            })
            HttpServer.post(this, url, data, this.initImage, conf);
          } else {
            var data = JSON.stringify({
              "queryParams": {"systemID": this.systemID, "id": response.fileList[i].fileid}
            })
            HttpServer.post(this, url, data, this.initUpload, conf);
          }
        }
      },
      copyEquipment (res, bol) {
        var _this = this;
        if (bol) {
          const h = this.$createElement;
          let newDatas = [];
          newDatas.push(h('p',{style:{ 'text-align': 'left'}},[
            h('span',null,'设备名称为：'),
            h('span',{style: { color: '#ff822f' }},_this.equipmentInfo.equipmentnamecn),
          ]));
          newDatas.push(h('p',{style:{ 'text-align': 'left'}},[
            h('span',null,'管理编号为：'),
            h('span',{style: { color: '#ff822f' }},_this.equipmentInfo.assetno),
          ]));
          newDatas.push(h('p',null,[
            h('span',{'class': { 'copy-equipment-confirm-span': true}},'是否确认复制？')
          ]));

          this.$confirm( h('div',{
            'class': {
              'copy-equipment-confirm-div':true
              }}, newDatas),
            '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            center: true
          }).then(() => {
            copyEquipment(res)
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消复制'
            });
          });
        } else {
          copyEquipment(res)
        }


        function copyEquipment (response) {
          if (!response) {
            // this.equipmentTraceabilityRecordsList.splice(this.equipmentTraceabilityRecordsList.length-1,1);
            var url = process.env.ecalibrationUrl + "equipment/api/v1/copyEquipment";
            var conf = {
              isCallback: true
            }

            let createRequest = {
              id: _this.equipmentInfo.id,
              equipmentnamecn: _this.equipmentInfo.equipmentnamecn,
              model: _this.equipmentInfo.model,
              equipmentno: _this.equipmentInfo.equipmentno,
              equipmentfactorynamecn: _this.equipmentInfo.equipmentfactorynamecn,
              assetno: _this.equipmentInfo.assetno,
              equipmentcalibrationdate: _this.equipmentInfo.equipmentcalibrationdate,
              equipmentcalibrationperiod: _this.equipmentInfo.equipmentcalibrationperiod,
              equipmentexpiredate: _this.equipmentInfo.equipmentexpiredate,
              equipmentplandate: _this.equipmentInfo.equipmentplandate,
              reminddays: _this.equipmentInfo.reminddays,
              equipmentserialno: _this.equipmentInfo.equipmentserialno,
              equipmentnameen: _this.equipmentInfo.equipmentnameen,
              equipmentcustodian: _this.equipmentInfo.equipmentcustodian,
              equipmentfactorynameen: _this.equipmentInfo.equipmentfactorynameen,
              equipmentuserdept: _this.equipmentInfo.equipmentuserdept,
              equipmentpurchasedate: _this.equipmentInfo.equipmentpurchasedate,
              equipmentstatus: _this.equipmentInfo.equipmentstatus,
              equipmentstoragelocation:_this.equipmentInfo.equipmentstoragelocation,
              isnew: _this.isNew,
              fileList: _this.fileList,
              portrait: _this.portrait,
              attrList: _this.userDefinedCount,
              equipmentCalibrationList: _this.equipmentCalibrationList,
              // equipmentTraceabilityRecordsList:this.equipmentTraceabilityRecordsList,
              // delRecordsList:this.delRecordsList,
              customerid: core.getCookie('defaultCustId')
            }
            HttpServer.post(_this, url, createRequest, copyEquipment, conf);
          } else {
            if (response.id) {//打开复制的新设备
              window.open("equDetail.html?id=" + response.id + "&isNew=false");
            } else {
              // this.$message.error('复制设备失败,请联系管理员.');
              this.$notify({
                title: '错误',
                message: '复制设备失败,请联系管理员!',
                type: 'error',
                offset: 100,
                duration: 1000
              });
            }
          }
        }
      },
      saveEquipment () {
        var _this = this;
        if (!_this.equipmentInfo.equipmentnamecn) {
          // this.$message.error('设备名称不能为空,请填写.');
          this.$notify({
            title: '错误',
            message: '设备名称不能为空,请填写!',
            type: 'error',
            offset: 100,
            duration: 1000
          });
          return;
        }
        let message = ''
        for (let k of _this.userDefinedCount) {
          message = _this.validatorName(false, k.attributename)
        }
        if (!!message) {
          this.$notify({
            title: '错误',
            message: message,
            type: 'error',
            offset: 100,
            duration: 1000
          });
          return;
        }
        this.equipmentTraceabilityRecordsList.splice(this.equipmentTraceabilityRecordsList.length - 1, 1);
        var url = process.env.ecalibrationUrl + "equipment/api/v1/save";
        var conf = {
          isCallback: true,
          showNotifyWhenSuccess: false
        }
        let createRequest = {
          id: _this.equipmentInfo.id,
          equipmentnamecn: _this.equipmentInfo.equipmentnamecn,
          model: _this.equipmentInfo.model,
          equipmentno: _this.equipmentInfo.equipmentno,
          equipmentfactorynamecn: _this.equipmentInfo.equipmentfactorynamecn,
          assetno: _this.equipmentInfo.assetno,
          equipmentcalibrationdate: _this.equipmentInfo.equipmentcalibrationdate,
          equipmentcalibrationperiod: _this.equipmentInfo.equipmentcalibrationperiod,
          equipmentexpiredate: _this.equipmentInfo.equipmentexpiredate,
          equipmentplandate: _this.equipmentInfo.equipmentplandate,
          reminddays: _this.equipmentInfo.reminddays,
          equipmentserialno: _this.equipmentInfo.equipmentserialno,
          equipmentnameen: _this.equipmentInfo.equipmentnameen,
          equipmentcustodian: _this.equipmentInfo.equipmentcustodian,
          equipmentfactorynameen: _this.equipmentInfo.equipmentfactorynameen,
          equipmentuserdept: _this.equipmentInfo.equipmentuserdept,
          equipmentpurchasedate: _this.equipmentInfo.equipmentpurchasedate,
          equipmentstatus: _this.equipmentInfo.equipmentstatus,
          equipmentstoragelocation:_this.equipmentInfo.equipmentstoragelocation,
          isnew: _this.isNew,
          fileList: _this.fileList,
          portrait: _this.portrait,
          attrList: _this.userDefinedCount,
          equipmentCalibrationList: _this.equipmentCalibrationList,
          equipmentTraceabilityRecordsList: this.equipmentTraceabilityRecordsList,
          delRecordsList: this.delRecordsList,
          customerid: core.getCookie('defaultCustId')
        }
        HttpServer.post(this, url, createRequest, _this.saveCallback, conf);
      },
      //保存成功返回的回调函数
      saveCallback (response) {
        var _this = this;
        _this.isSaveData = false
        if (this.isNew) {//如果是新增，则跳转至设备列表页面
          this.isOpenModal = true;
          core.countdown(3, (time) => {
            if (time > 0) {
              _this.countdownNum = time
            } else {
              _this.back()
            }
          });
        } else {//修改则停留至当前页面
          this.$notify({
            title: '成功',
            message: '操作成功!',
            type: 'success',
            offset: 100,
            duration: 1000
          });
          this.initEquipmentInfo();
        }
        // core.replaceParamVal("isNew",false);
        // core.replaceParamVal("id",this.equipmentInfo.id);

        //状态联动
        localStorage.setItem("id", this.equipmentInfo.id + "2");
      },
      initUpload (response) {//初始化附件信息
        var _this = this;
        if (response.length > 0) {
          var f = {
            name: response[0].attachmentName + '.' + response[0].suffixes,
            url: response[0].path,
            fileid: response[0].id,
            equipmentid: _this.equipmentInfo.id,
            type: 2
          };
          _this.fileList.push(f);
        }
      },
      initImage (response) {//初始化头像信息
        this.portrait.fileid = response[0].id;
        this.portrait.equipmentid = this.equipmentInfo.id;
        this.portrait.imageUrl = response[0].path;
      },
      handleRemove (file, fileList) {//具体删除的操作
        // console.log(file, fileList);
        var _this = this;
        if (file.fileid) {
          var url = process.env.FrameWorkApiUrl + "file/delete";
          let fd = new FormData()
          fd.append('key', file.fileid)
          var conf = {
            'isCallback': true
          }
          HttpServer.post(this, url, fd, (response) => {
            if (response > 0) {
              _this.fileList = fileList;
            }
          }, conf);
        } else {
          _this.fileList = fileList;
        }
      },
      handlePreview (file) {//点击下载文件
        location.href = file.url;
      },
      handleExceed (files, fileList) {
        this.$notify({
          message: `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件`,
          type: 'warning',
          offset: 100,
          duration: 3000
        });
      },
      beforeRemove (file, fileList) {
        return this.$confirm(`确定移除 ${file.name}？`);
      },
      beforeAvatarUpload (file) {
        const extension = file.name.split('.')[1].toLowerCase() === 'xls'.toLowerCase();
        const extension2 = file.name.split('.')[1].toLowerCase() === 'xlsx'.toLowerCase();
        const extension3 = file.name.split('.')[1].toLowerCase() === 'doc'.toLowerCase();
        const extension4 = file.name.split('.')[1].toLowerCase() === 'docx'.toLowerCase();
        const extension5 = file.name.split('.')[1].toLowerCase() === 'jpg'.toLowerCase();
        const extension6 = file.name.split('.')[1].toLowerCase() === 'img'.toLowerCase();
        const extension7 = file.name.split('.')[1].toLowerCase() === 'pdf'.toLowerCase();
        const isLt2M = file.size / 1024 / 1024 < 10
        if (!extension && !extension2 && !extension3 && !extension4 && !extension5 && !extension6 && !extension7) {
          this.$notify({
            // message: '上传附件只能是 xls、xlsx、doc、docx 格式!',
            message: '上传附件只能是 xls、xlsx、doc、docx、jpg、img、pdf 格式!',
            type: 'warning',
            offset: 100,
            duration: 2000
          });
          return;
        }
        if (!isLt2M) {
          this.$notify({
            message: '上传附件大小不能超过 10MB!',
            type: 'warning',
            offset: 100,
            duration: 2000
          });
          return;
        }
        var _this = this;
        let fd = new FormData()
        fd.append('file', file)
        fd.append('systemID', _this.systemID)
        fd.append('objectType', '2')
        var url = process.env.FrameWorkApiUrl + "file/doUpload";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(_this, url, fd, (response) => {
          var f = {
            name: response.data[0].attachmentName + '.' + response.data[0].suffixes,
            url: response.data[0].path,
            fileid: response.data[0].id,
            equipmentid: _this.equipmentInfo.id,
            type: 2
          };
          _this.fileList.push(f);
        }, conf);
        return true;
      },
      beforeAvatarUploadImage (file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isJPG) {
          this.$notify({
            message: '上传头像图片只能是 JPG 格式!',
            type: 'error',
            offset: 100,
            duration: 2000
          });
          return
        }
        if (!isLt2M) {
          this.$notify({
            message: '上传头像图片大小不能超过 2MB!',
            type: 'error',
            offset: 100,
            duration: 2000
          });
          return
        }
        var _this = this;
        let fd = new FormData()
        fd.append('file', file)
        fd.append('systemID', _this.systemID)
        fd.append('objectType', '1')
        var url = process.env.FrameWorkApiUrl + "file/doUpload";
        var conf = {
          'isCallback': 'true'
        }
        HttpServer.post(_this, url, fd, _this.uploadOkImage, conf);
        this.portrait.imageUrl = window.URL.createObjectURL(file);
        return true
      },
      uploadOkImage (response) {
        this.portrait.fileid = response.data[0].id;
        this.portrait.equipmentid = this.equipmentInfo.id;
      },
      //最近校准时间的等日期的chenge事件
      equipmentcalibrationdateChange (e) {
        this.changeData();
        if (!this.equipmentInfo.equipmentcalibrationperiod || this.equipmentInfo.equipmentcalibrationperiod < 0) {
          this.equipmentInfo.equipmentcalibrationperiod = 1;
        }
        if (!this.equipmentInfo.reminddays || this.equipmentInfo.reminddays < 0) {
          this.equipmentInfo.reminddays = 1;
        }
        if (!this.equipmentInfo.equipmentcalibrationdate) {
          return
        }
        this.equipmentInfo.equipmentcalibrationperiod = parseInt(this.equipmentInfo.equipmentcalibrationperiod);
        this.equipmentInfo.reminddays = parseInt(this.equipmentInfo.reminddays);
        this.equipmentInfo.equipmentexpiredate = core.dateAddMonth(new Date(this.equipmentInfo.equipmentcalibrationdate), this.equipmentInfo.equipmentcalibrationperiod);
        this.equipmentInfo.equipmentexpiredate = core.dateAddDate(new Date(this.equipmentInfo.equipmentexpiredate), -1);
        this.equipmentInfo.equipmentplandate = core.dateAddDate(new Date(this.equipmentInfo.equipmentexpiredate), -this.equipmentInfo.reminddays)
        var now = new Date();
        var date1 = new Date(this.equipmentInfo.equipmentexpiredate);
        // debugger
        this.surplusDate = parseInt((date1.getTime() - now.getTime()) / (24 * 60 * 60 * 1000));
        this.bodyHideInput(e)
      },
      //增加自定义字段
      addAttr () {
        if (this.userDefinedCount.length == 5) {
          this.$notify({
            message: '当前限制最多只能添加5个自定义字段',
            type: 'error',
            offset: 100,
            duration: 2000
          });
          return;
        }
        this.userDefinedCount.push({
          attrnameid: '',
          attributename: '',
          attributevalue: '',
          userdefinedno: '',
          isError: false,
          equipmentid: this.equipmentInfo.id,
          attrvalueid: '',
          type: 1
        })

      },
      //删除自定义字段
      removeAttr (item) {
        var index = this.userDefinedCount.indexOf(item)
        if (index !== -1) {
          this.userDefinedCount.splice(index, 1)
        }
      },
      //获取校准需求基础数据
      getCalibrationRequirementOne (response) {
        if (response) {
          this.calibrationRequirementOneList = response.calibrationRequirementOneList;
        } else {
          var url = process.env.ecalibrationUrl + "calibrationRequirement/api/v1/getCalibrationRequirementOne";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.post(this, url, {}, this.getCalibrationRequirementOne, conf);
        }
      },
      //获取设备对象已存在的列名
      getEquipmentColumnsByCustomerid (response) {
        if (response) {
          this.equpmentsColumns = response.equpmentsColumns;
          return;
        } else {
          var url = process.env.ecalibrationUrl + "equipment/api/v1/getEquipmentColumnsByCustomerid";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.post(this, url, {customerid: core.getCookie('defaultCustId')}, this.getEquipmentColumnsByCustomerid, conf);
        }
      },
      querySearchAsync (queryString, cb) {
        var restaurants = this.calibrationRequirementOneList;
        var results = queryString ? restaurants.filter(this.createStateFilter(queryString)) : restaurants;
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          cb(results);
        }, 3000 * Math.random());
      },
      createStateFilter (queryString) {
        return (restaurants) => {
          return (restaurants.value.indexOf(queryString) != -1);
        };
      },
      handleSelect (item) {
        var i = this.selectIndex;
        this.equipmentCalibrationList[i].measuringinstrumentname = item.measuringinstrumentname;
        if (!this.equipmentCalibrationList[i].equipmentmeasuringrange) {
          this.equipmentCalibrationList[i].equipmentmeasuringrange = item.equipmentmeasuringrange;
        }
        if (!this.equipmentCalibrationList[i].equipmenttechnicalspecification) {
          this.equipmentCalibrationList[i].equipmenttechnicalspecification = item.equipmenttechnicalspecification;
        }
        if ((i + 1) == this.equipmentCalibrationList.length) {
          var equipmentmeasuringrange = this.equipmentCalibrationList[i].equipmentmeasuringrange;
          var equipmenttechnicalspecification = this.equipmentCalibrationList[i].equipmenttechnicalspecification;
          var measuringinstrumentname = this.equipmentCalibrationList[i].measuringinstrumentname;
          if (equipmentmeasuringrange || equipmenttechnicalspecification || measuringinstrumentname) {
            this.addRequirement();
          }
        }
      },
      handleSelect1 (item) {
        var i = this.selectIndex;
        this.equipmentCalibrationList[i].equipmentmeasuringrange = item.equipmentmeasuringrange;
        if ((i + 1) == this.equipmentCalibrationList.length) {
          var equipmentmeasuringrange = this.equipmentCalibrationList[i].equipmentmeasuringrange;
          var equipmenttechnicalspecification = this.equipmentCalibrationList[i].equipmenttechnicalspecification;
          var measuringinstrumentname = this.equipmentCalibrationList[i].measuringinstrumentname;
          if (equipmentmeasuringrange || equipmenttechnicalspecification || measuringinstrumentname) {
            this.addRequirement();
          }
        }
      },
      handleSelect2 (item) {
        var i = this.selectIndex;
        this.equipmentCalibrationList[i].equipmenttechnicalspecification = item.equipmenttechnicalspecification;
        if ((i + 1) == this.equipmentCalibrationList.length) {
          var equipmentmeasuringrange = this.equipmentCalibrationList[i].equipmentmeasuringrange;
          var equipmenttechnicalspecification = this.equipmentCalibrationList[i].equipmenttechnicalspecification;
          var measuringinstrumentname = this.equipmentCalibrationList[i].measuringinstrumentname;
          if (equipmentmeasuringrange || equipmenttechnicalspecification || measuringinstrumentname) {
            this.addRequirement();
          }
        }
      },
      blurChange (index, row) {
        this.selectIndex = index;
        if ((index + 1) == this.equipmentCalibrationList.length) {
          if (row.equipmentmeasuringrange || row.equipmenttechnicalspecification || row.measuringinstrumentname) {
            this.addRequirement();
          }
        }
      },
      addRequirement () {
        this.equipmentCalibrationList.push({
          equipmentid: this.equipmentInfo.id,
          calibrationinstanceid: '',
          measuringinstrumentname: '',
          equipmentmeasuringrange: '',
          equipmenttechnicalspecification: ''
        });
      },
      delRequirement (index, rows) {
        if (index == 0 && rows.length == 1) {//如果当前只有一行数据不允许删除
          console.info("不允许删除");
          return;
        } else if ((index + 1) == rows.length) {//如果删除的是最后一行，需要判断上一行是否有不为空的数据有则不能删除
          var topIndex = index - 1;//拿到上一行下标
          var measuringinstrumentname = this.equipmentCalibrationList[topIndex].measuringinstrumentname;
          var equipmentmeasuringrange = this.equipmentCalibrationList[topIndex].equipmentmeasuringrange;
          var equipmenttechnicalspecification = this.equipmentCalibrationList[topIndex].equipmenttechnicalspecification;
          if (measuringinstrumentname || equipmentmeasuringrange || equipmenttechnicalspecification) {
            console.info("不允许删除");
          } else {
            rows.splice(index, 1);
          }
        } else {
          rows.splice(index, 1);
        }
      },
      addRecords () {
        this.equipmentTraceabilityRecordsList.push({
          id: '',
          createddate: '',
          orderNo: '',
          remark: '',
          reportNo: '',
          reportId: '',
          ecOrderStatus: '',
          reportfileid: '',
          type: 2
        });
      },
      blurRecordsChange (index, row) {
        if ((index + 1) == this.equipmentTraceabilityRecordsList.length) {
          if (row.createddate || row.remark) {
            this.addRecords();
          }
        }
      },
      delRecords (index, row) {
        if (index == 0 && this.equipmentTraceabilityRecordsList.length == 1) {//如果当前只有一行数据不允许删除
          console.info("不允许删除");
          return;
        } else if ((index + 1) == this.equipmentTraceabilityRecordsList.length) {//如果删除的是最后一行，需要判断上一行是否有不为空的数据有则不能删除
          var topIndex = index - 1;//拿到上一行下标
          if (row.createddate || row.remark) {
            console.info("不允许删除");
          } else {
            this.equipmentTraceabilityRecordsList.splice(index, 1);
            if (row.id) {//如果删除行的id不为空，则表示需要删除数据库记录
              this.delRecordsList.push(row);
            }
          }
        } else {
          this.equipmentTraceabilityRecordsList.splice(index, 1);
          if (row.id) {//如果删除行的id不为空，则表示需要删除数据库记录
            this.delRecordsList.push(row);
          }
        }
      },
      goOrderDetail (type, id, orderno) {
        ecUtil.goOrderDetail(type, id, orderno);
      },
      downloadReport (response, fileid) {
        if (response == '') {
          var url = process.env.FrameWorkApiUrl + "file/download";
          var conf = {
            'isCallback': 'true'
          }
          let fd = new FormData()
          fd.append('key', fileid)
          HttpServer.post(this, url, fd, this.downloadReport, conf);
        } else {
          window.open(response);
        }
      },
      updateEquipmentStatus (response, status) {
        let text = '', _this = this
        if (status === 0) {
          text = '启用'
        } else if (status === 2) {
          text = '停用'
        }
        this.$confirm(`是否${text}`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          // debugger
          updateEquipmentStatus(response, status)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: `已取消${text}操作`
          });
        });

        function updateEquipmentStatus (response, status) {
          var url = process.env.ecalibrationUrl + "equipment/api/v1/updateEquipmentStatus";
          var conf = {
            'isCallback': 'true'
          }
          HttpServer.post(_this, url, {
            id: _this.equipmentInfo.id,
            equipmentstatus: status
          }, (response) => {
            _this.equipmentInfo.equipmentstatus = response.equipmentstatus;
          }, conf);
        }
      },
      toCalibration () {
        //将数据放入cookie中,用来生成订单临时数据
        core.setCookie('makeorderids', this.equipmentInfo.id + ",", '30d');
        window.location.href = "orderSubmit.html";
      }
    }
  }
</script>
<style lang="less">
  #azm-body #equDetail {
    .isSaveData {
      background-color: #ccc;
      border-color: #ccc;
    }
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
      margin-bottom: 0
    }
    .el-form-item__error {
      color: #f56c6c;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .isFixed {
      position: fixed;
      top: 0;
      left: 50%;
      margin-top: 0;
      transform: translateX(-50%);
      z-index: 2000;
    }
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #ddd;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
  }

  .avatar-uploader .el-upload img {
    width: 150px;
    height: auto;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #ddd;
  }

  .el-icon-plus:before {
    border-color: #ddd;
  }

  .el-date-table td.current:not(.disabled) span {
    background-color: #ff822f;
  }

  .azm-sbzt-box {
    margin-top: 20px;
    width: 150px;
    text-align: center;
  }

  .azm-sbzt-box > p {
    margin: 0;
    font-size: 14px;
    color: #666;
    margin-top: 21px;
    margin-bottom: 15px;
  }

  .azm-sbzt-box > button {
    height: 40px;
    width: 110px;
    background-color: #ff822f;
    color: #fff;
    border-color: #ff822f;
    font-size: 16px;
  }

  .azm-text-input.azm-text-input-c999999 {
    color: #999
  }

  .azm-text-input {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    line-height: 38px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
  }

  .azm-text-input-hover {
    color: #ff822f;
    font-size: 14px;
    display: none;
  }

  .azm-text-color-ff822f {
    color: #ff822f;
    font-size: 14px;
  }

  .azm-text-input:hover .azm-text-input-hover {
    display: inline;
  }

  .azm-input-focus input.el-input__inner {
    text-align: center;
  }

  .azm-table_date_picker {
    display: inline-block;
    width: 50% !important;
  }

  .table-column_date_picker {
    display: inline-block;
    width: inherit !important;
  }

  .table-column_date_picker input {
    display: inline-block;
    text-align: center;
    font-size: 14px !important;
  }

  .table-column_date_picker input::placeholder {
    font-size: 14px !important;
  }

  .azm-button_remove {
    color: #666;
  }

  .azm-button_remove:hover {
    color: #ff822f;
  }

  .azm-input input {
    font-size: 14px;
    text-align: center;
  }

  .azm-input input::placeholder {
    font-size: 14px;
  }

  .azm-submit {
    width: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
  }

  .ivu-modal-footer {
    display: none;
  }
  .copy-equipment-confirm-div {
    margin-left: 90px;
  }
  .copy-equipment-confirm-span {
    margin-right : 90px;
  }
</style>
